---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/billing_addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398243600'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - "<https://www.bookingsync.com/api/v3/billing_addresses?page=1>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/billing_addresses?page=1>; rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"642b0f11189d5f78e47f6e8ffa72c11c\""
    body:
      encoding: UTF-8
      string: "{\"billing_addresses\":[{\"id\":1,\"payment_id\":134,\"address1\":\"Nader
        Drive\",\"address2\":\"\",\"zip\":\"46548-8571\",\"city\":\"Predovicview\",\"state\":\"\",\"country_code\":\"GB\",\"created_at\":\"2014-04-23T08:33:37Z\",\"updated_at\":\"2014-04-23T08:33:37Z\"}]}"
  recorded_at: Wed, 23 Apr 2014 08:37:32 GMT
recorded_with: VCR 2.9.0
