---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/periods/593339
    body:
      encoding: UTF-8
      string: '{"periods":[{"end_date":"2017-07-15"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:33 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '990'
      Etag:
      - W/"0753243848466dfc0530e88f10d84d4c"
    body:
      encoding: UTF-8
      string: '{"links":{"periods.season":"https://www.bookingsync.com/api/v3/seasons/{periods.season}","periods.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{periods.rates_table}"},"periods":[{"links":{"season":1802,"rates_table":274},"id":593339,"start_date":"2017-04-10","end_date":"2017-07-15","created_at":"2016-12-12T11:52:12Z","updated_at":"2016-12-12T12:04:33Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:33 GMT
recorded_with: VCR 3.0.3
