---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/periods/581569
    body:
      encoding: UTF-8
      string: '{"periods":[{"end_date":"2017-07-15"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 00:39:28 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481245200'
      X-Ratelimit-Remaining:
      - '989'
      Etag:
      - W/"26e1f930e9a53589a012e614b308cd03"
    body:
      encoding: UTF-8
      string: '{"links":{"periods.season":"https://www.bookingsync.com/api/v3/seasons/{periods.season}","periods.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{periods.rates_table}"},"periods":[{"links":{"season":1802,"rates_table":274},"id":581569,"start_date":"2017-04-10","end_date":"2017-07-15","created_at":"2016-12-09T00:36:52Z","updated_at":"2016-12-09T00:39:28Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 00:39:28 GMT
recorded_with: VCR 3.0.3
