---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/periods/6
    body:
      encoding: UTF-8
      string: '{"periods":[{"end_at":"2014-07-15"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398448800'
      X-Ratelimit-Remaining:
      - '998'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"2499775e119775500bdf274a8f1b4e23"'
    body:
      encoding: UTF-8
      string: '{"periods":[{"id":6,"season_id":6,"start_at":"2014-04-14","end_at":"2014-07-15","created_at":"2014-04-14T13:19:05Z","updated_at":"2014-04-25T17:03:17Z"}]}'
  recorded_at: Fri, 25 Apr 2014 17:03:17 GMT
recorded_with: VCR 2.9.0
