---
http_interactions:
- request:
    method: post
    uri: https://bookingsync.com/api/v3/rental_agreements
    body:
      encoding: UTF-8
      string: "{\"rental_id\":20,\"rental_agreements\":[{\"body\":\"Lorem ipsum\"}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398866400'
      X-Ratelimit-Remaining:
      - '991'
      Location:
      - https://bookingsync.com/api/v3/rental_agreements/19
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"0bb4ba747a8f146dd73ab6ab236c4735\""
    body:
      encoding: UTF-8
      string: "{\"rental_agreements\":[{\"id\":19,\"body\":\"Lorem ipsum\",\"created_at\":\"2014-04-30T13:50:50Z\",\"updated_at\":\"2014-04-30T13:50:50Z\"}]}"
  recorded_at: Wed, 30 Apr 2014 13:50:51 GMT
recorded_with: VCR 2.9.0
