---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rental_agreements
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"body":"Lorem ipsum"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:20 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '897'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/rental_agreements?page=1&rental_agreements%5B%5D%5Bbody%5D=Lorem+ipsum>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rental_agreements/29797
      Etag:
      - W/"e5d8b284aac031ab447bdf63cc85c051"
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"id":29797,"body":"Lorem ipsum","created_at":"2016-12-12T11:52:20Z","updated_at":"2016-12-12T11:52:20Z","body_translations":{"en":"Lorem
        ipsum"}}]}'
  recorded_at: Mon, 12 Dec 2016 11:52:20 GMT
recorded_with: VCR 3.0.3
