---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rental_agreements
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"body":"Lorem ipsum"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:42:20 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '981'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/rental_agreements?page=1&rental_agreements%5B%5D%5Bbody%5D=Lorem+ipsum>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rental_agreements/29775
      Etag:
      - W/"2601bfc5935718e96d22b570da305e7b"
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"id":29775,"body":"Lorem ipsum","created_at":"2016-12-09T09:42:20Z","updated_at":"2016-12-09T09:42:20Z","body_translations":{"en":"Lorem
        ipsum"}}]}'
  recorded_at: Fri, 09 Dec 2016 09:42:20 GMT
recorded_with: VCR 3.0.3
