---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/search
    body:
      encoding: UTF-8
      string: '{"per_page":1}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1465578000'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/search?page=1&per_page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals/search?page=2&per_page=1>; rel="next",
        <https://www.bookingsync.com/api/v3/rentals/search?page=4&per_page=1>; rel="last"
      X-Total-Pages:
      - '4'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"6086ae8645789e508c72b4059c55dd0f"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.rentals_fees":"https://www.bookingsync.com/api/v3/rentals_fees/{rentals.rentals_fees}"},"rentals":[{"links":{"rentals_fees":[6,1,3]},"id":1,"currency":"EUR","initial_price":null,"final_price":null,"updated_at":"2016-06-10T15:32:54Z","taxes":[],"price_details":{"taxes":[],"fees":[]},"price_to_pay_now":null}]}'
  recorded_at: Fri, 10 Jun 2016 16:03:21 GMT
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/search?page=2&per_page=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1465578000'
      X-Ratelimit-Remaining:
      - '993'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/search?page=1&per_page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals/search?page=1&per_page=1>; rel="prev",
        <https://www.bookingsync.com/api/v3/rentals/search?page=3&per_page=1>; rel="next",
        <https://www.bookingsync.com/api/v3/rentals/search?page=4&per_page=1>; rel="last"
      X-Total-Pages:
      - '4'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"548ee359e03a5cfe1365e07970e796b9"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.rentals_fees":"https://www.bookingsync.com/api/v3/rentals_fees/{rentals.rentals_fees}"},"rentals":[{"links":{"rentals_fees":[8,7]},"id":2,"currency":"EUR","initial_price":null,"final_price":null,"updated_at":"2016-06-10T15:37:12Z","taxes":[],"price_details":{"taxes":[],"fees":[]},"price_to_pay_now":null}]}'
  recorded_at: Fri, 10 Jun 2016 16:03:22 GMT
[...]
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/search?page=4&per_page=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1465578000'
      X-Ratelimit-Remaining:
      - '991'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/search?page=1&per_page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals/search?page=3&per_page=1>; rel="prev",
        <https://www.bookingsync.com/api/v3/rentals/search?page=4&per_page=1>; rel="last"
      X-Total-Pages:
      - '4'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"ec22e49e518880ca8238747be3b5be33"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.rentals_fees":"https://www.bookingsync.com/api/v3/rentals_fees/{rentals.rentals_fees}"},"rentals":[{"links":{"rentals_fees":[]},"id":154,"currency":null,"initial_price":null,"final_price":null,"updated_at":"2016-06-07T11:00:34Z","taxes":[],"price_details":{"taxes":[],"fees":[]},"price_to_pay_now":null}]}'
  recorded_at: Fri, 10 Jun 2016 16:03:23 GMT
recorded_with: VCR 2.9.3
