---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/search
    body:
      encoding: UTF-8
      string: '{"per_page":1}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:31:23 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '960'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/search?page=1&per_page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals/search?page=2&per_page=1>; rel="next",
        <https://www.bookingsync.com/api/v3/rentals/search?page=4&per_page=1>; rel="last"
      X-Total-Pages:
      - '4'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '1'
      Etag:
      - W/"396406efe517c71f638073cca561522a"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.rentals_fees":"https://www.bookingsync.com/api/v3/rentals_fees/{rentals.rentals_fees}"},"rentals":[{"links":{"rentals_fees":[]},"id":5116,"currency":"USD","initial_price":null,"final_price":null,"updated_at":"2016-12-09T10:31:03Z","taxes":[],"price_details":{"taxes":[],"fees":[]},"price_to_pay_now":null}]}'
  recorded_at: Fri, 09 Dec 2016 10:31:24 GMT
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/search?page=2&per_page=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-[...]
[...]
