---
http_interactions:
- request:
    method: patch
    uri: https://www.bookingsync.com/api/v3/bookings/840043/remove_bookings_fee/194396
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-10-29 10:43:52 UTC
      X-Ratelimit-Limit:
      - '100000'
      X-Ratelimit-Reset:
      - '1509274800'
      X-Ratelimit-Remaining:
      - '99993'
    body:
      encoding: ASCII-8BIT
      string: '{"bookings":[{"id":840043,"start_at":"2017-01-03T00:00:00Z","end_at":"2019-03-25T21:45:00Z","booked":true,"unavailable":false,"tentative_expires_at":null,"rental_id":5116,"client_id":null,"initial_price":"200.0","discount":"","final_price":"200.0","notes":null,"adults":null,"children":null,"account_id":3837,"created_at":"2016-12-12T11:52:09Z","updated_at":"2017-10-29T10:43:52Z","canceled_at":"2016-12-12T12:13:16Z","downpayment":null,"currency":"USD","source_id":null,"damage_deposit":"0.0","reference":"00I06J","bookings_fees":[]}]}'
  recorded_at: Sun, 29 Oct 2017 10:43:53 GMT
recorded_with: VCR 3.0.3
