---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/destinations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397116800'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/destinations?page=1>; rel="first", <https://www.bookingsync.com/api/v3/destinations?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - ! '"6f776a7ba9a6d3d0216b837c6330f1cd"'
    body:
      encoding: US-ASCII
      string: ! '{"destinations":[{"id":1,"name":{"en":"Name-1"},"fullname":{"en":"Name-1"},"permalink":{"en":"name-1"},"aliases":{"en":null}},{"id":2,"name":{"en":"Name-2"},"fullname":{"en":"Name-2"},"permalink":{"en":"name-2"},"aliases":{"en":null}},{"id":3,"name":{"en":"Name-3"},"fullname":{"en":"Name-3"},"permalink":{"en":"name-3"},"aliases":{"en":null}},{"id":4,"name":{"en":"Name-4"},"fullname":{"en":"Name-4"},"permalink":{"en":"name-4"},"aliases":{"en":null}},{"id":5,"name":{"en":"Name-5"},"fullname":{"en":"Name-5"},"permalink":{"en":"name-5"},"aliases":{"en":null}},{"id":6,"name":{"en":"Name-6"},"fullname":{"en":"Name-6"},"permalink":{"en":"name-6"},"aliases":{"en":null}},{"id":7,"name":{"en":"Name-7"},"fullname":{"en":"Name-7"},"permalink":{"en":"name-7"},"aliases":{"en":null}},{"id":8,"name":{"en":"Name-8"},"fullname":{"en":"Name-8"},"permalink":{"en":"name-8"},"aliases":{"en":null}},{"id":9,"name":{"en":"Name-9"},"fullname":{"en":"Name-9"},"permalink":{"en":"name-9"},"aliases":{"en":null}},{"id":10,"name":{"en":"Name-10"},"fullname":{"en":"Name-10"},"permalink":{"en":"name-10"},"aliases":{"en":null}}]}'
  recorded_at: Thu, 10 Apr 2014 07:25:25 GMT
recorded_with: VCR 2.9.0
