---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/taxes/168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '976'
      Link:
      - <https://www.bookingsync.com/api/v3/taxes/168?page=1>; rel="first", <https://www.bookingsync.com/api/v3/taxes/168?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"6f874b4760262ed2d67047ea9b2ab2df"'
    body:
      encoding: UTF-8
      string: '{"links":{"taxes.account":"https://www.bookingsync.com/api/v3/accounts/{taxes.account}"},"taxes":[{"links":{"account":3837},"id":168,"percentage":"10.0","created_at":"2015-09-09T20:23:54Z","updated_at":"2015-09-09T20:23:54Z","name":{"en":"test
        tax"}}]}'
  recorded_at: Wed, 09 Sep 2015 21:12:29 GMT
recorded_with: VCR 2.9.2
