---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/photos/23
    body:
      encoding: UTF-8
      string: '{"photos":[{"description_en":"Not funny anymore"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1399568400'
      X-Ratelimit-Remaining:
      - '987'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"3513523d9de0192990cdc618596e7e18"'
    body:
      encoding: UTF-8
      string: '{"photos":[{"id":23,"rental_id":2,"description":{"en":"Not funny anymore"},"kind":"livingroom","large_url":"http://www.bookingsync.com/files/development/photo/photo/23/large_0eafa2e0ddf60b1d192a844fcd1dd04b.jpg","normal_url":"http://www.bookingsync.com/files/development/photo/photo/23/normal_0eafa2e0ddf60b1d192a844fcd1dd04b.jpg","thumb_url":"http://www.bookingsync.com/files/development/photo/photo/23/thumb_0eafa2e0ddf60b1d192a844fcd1dd04b.jpg","micro_url":"http://www.bookingsync.com/files/development/photo/photo/23/micro_0eafa2e0ddf60b1d192a844fcd1dd04b.jpg","position":3}]}'
  recorded_at: Thu, 08 May 2014 16:59:24 GMT
recorded_with: VCR 2.9.0
