---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rates_rules/139728
    body:
      encoding: UTF-8
      string: '{"rates_rules":[{"start_date":"2017-07-01","end_date":"2017-07-15"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:35 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '986'
      Etag:
      - W/"efb81788578052b655591fec9eddc9ff"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rates_rules.rates_table}","rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"rates_table":274,"seasons":[]},"id":139728,"always_applied":false,"percentage":"10.0","period_name":null,"kind":"stay_at_least","variables":{"length":1,"unit":"days"},"start_date":"2017-07-01","end_date":"2017-07-15","created_at":"2016-12-12T11:52:18Z","updated_at":"2016-12-12T12:04:35Z"}]}'
  recorded_at: Mon, 12 Dec 2016 12:04:35 GMT
recorded_with: VCR 3.0.3
