---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398164400'
      X-Ratelimit-Remaining:
      - '991'
      Link:
      - "<https://www.bookingsync.com/api/v3/bookings_payments?page=1>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/bookings_payments?page=2>; rel=\"next\",
        <https://www.bookingsync.com/api/v3/bookings_payments?page=2>; rel=\"last\""
      X-Total-Pages:
      - '2'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"c03d6b64570c9f6cfdd723c69bd55312\""
    body:
      encoding: UTF-8
      string: "{\"bookings_payments\":[{\"id\":2,\"account_id\":1,\"booking_id\":5,\"payment_id\":2,\"amount\":125200,\"currency\":\"EUR\",\"created_at\":\"2014-04-14T13:18:42Z\",\"updated_at\":\"2014-04-14T13:18:42Z\"},{\"id\":10,\"account_id\":1,\"booking_id\":11,\"payment_id\":10,\"amount\":47300,\"currency\":\"EUR\",\"created_at\":\"2014-04-14T13:18:52Z\",\"updated_at\":\"2014-04-14T13:18:52Z\"},{\"id\":11,\"account_id\":1,\"booking_id\":11,\"payment_id\":11,\"amount\":189200,\"currency\":\"EUR\",\"created_at\":\"2014-04-14T13:18:52Z\",\"updated_at\":\"2014-04-14T13:18:52Z\"},{\"id\":12,\"account_id\":1,\"booking_id\":11,\"payment_id\":12,\"amount\":236500,\"currency\":\"EUR\",\"cr[...]
