---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/participants
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"805c2a9fa9025624efe08a51f2037ada"
      Link:
      - <https://www.bookingsync.com/api/v3/participants?page=1>; rel="first", <https://www.bookingsync.com/api/v3/participants?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519930800'
      X-Total-Count:
      - '5'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-01 18:27:04 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.user":"https://www.bookingsync.com/api/v3/users/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T09:43:20Z","id":1,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T09:43:20Z"},{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T09:43:58Z","id":2,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T09:43:58Z"},{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T10:43:51Z","id":3,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T10:43:51Z"},{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T12:40:56Z","id":4,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T12:40:56Z"},{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T15:30:06Z","id":5,"last_message_sent_at":null,"read_at":"2018-02-28T15:30:06Z","updated_at":"2018-02-28T15:30:06Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/participants?page=1","last":"https://www.bookingsync.com/api/v3/participants?page=1"},"X-Total-Pages":"1","X-Total-Count":"5","X-Per-Page":"100"}}'
  recorded_at: Thu, 01 Mar 2018 18:27:04 GMT
recorded_with: VCR 4.0.0
