---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rental_cancelation_policy_items/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1445256000'
      X-Ratelimit-Remaining:
      - '998'
      Link:
      - <https://bookingsync.dev/api/v3/rental_cancelation_policy_items/13?page=1>;
        rel="first", <https://bookingsync.dev/api/v3/rental_cancelation_policy_items/13?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"53510fc2643891459d4f0f2b24d37fc4"'
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policy_items.rental_cancelation_policy":"https://bookingsync.dev/api/v3/rental_cancelation_policies/{rental_cancelation_policy_items.rental_cancelation_policy}"},"rental_cancelation_policy_items":[{"links":{"rental_cancelation_policy":13},"id":13,"eligible_days":12,"penalty_percentage":"20.0","created_at":"2015-09-30T13:09:26Z","updated_at":"2015-09-30T13:09:26Z"}]}'
  recorded_at: Mon, 19 Oct 2015 11:41:09 GMT
recorded_with: VCR 2.9.3
