---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_cancelation_policy_items/14849
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:54 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '924'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_cancelation_policy_items/14849?page=1>;
        rel="first", <https://www.bookingsync.com/api/v3/rental_cancelation_policy_items/14849?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"186bc9b244de262dbb9af8e9f82560e2"
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policy_items.rental_cancelation_policy":"https://www.bookingsync.com/api/v3/rental_cancelation_policies/{rental_cancelation_policy_items.rental_cancelation_policy}"},"rental_cancelation_policy_items":[{"links":{"rental_cancelation_policy":16404},"id":14849,"eligible_days":2,"penalty_percentage":"20.0","created_at":"2016-12-05T22:37:43Z","updated_at":"2016-12-05T22:37:43Z"}]}'
  recorded_at: Mon, 12 Dec 2016 11:43:54 GMT
recorded_with: VCR 3.0.3
