---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/host_reviews/04356dc9-1349-4e05-b818-09ccdac8d5dd/reply
    body:
      encoding: UTF-8
      string: '{"review_replies":[{"message":"Thanks!"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d24d5539fce434580f3f080da374fa6b"
      Location:
      - https://www.bookingsync.com/api/v3/review_replies/3c844ef6-7ef9-4718-82b5-20ec043423c7
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '993'
      X-Ratelimit-Reset:
      - '1616428800'
      X-Updated-Since-Request-Synced-At:
      - 2021-03-22 15:46:41 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"review_replies.guest_review":"https://www.bookingsync.com/api/v3/reviews/{review_replies.guest_review}","review_replies.host_review":"https://www.bookingsync.com/api/v3/host_reviews/{review_replies.host_review}"},"review_replies":[{"links":{"guest_review":null,"host_review":"04356dc9-1349-4e05-b818-09ccdac8d5dd"},"id":"3c844ef6-7ef9-4718-82b5-20ec043423c7","message":"Thanks!","submitted_at":null,"created_at":"2021-03-22T15:46:42Z","updated_at":"2021-03-22T15:46:42Z"}],"meta":{}}'
  recorded_at: Mon, 22 Mar 2021 15:46:42 GMT
recorded_with: VCR 3.0.3
