---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inbox/messages/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a8e04f16b154912bf50117265a0d5781"
      Link:
      - <https://www.bookingsync.com/api/v3/inbox/messages/1?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/inbox/messages/1?page=1>; rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521835200'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 19:39:32 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://www.bookingsync.com/api/v3/inbox/attachments/{messages.attachments}","messages.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{messages.conversation}","messages.sender":"https://www.bookingsync.com/api/v3/inbox/participants/{messages.sender}"},"messages":[{"links":{"attachments":[],"conversation":1,"sender":1},"content":"hello","created_at":"2018-03-20T13:48:45Z","id":1,"origin":"homeaway","sent_at":null,"updated_at":"2018-03-20T13:48:45Z","visibility":"internal"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/inbox/messages/1?page=1","last":"https://www.bookingsync.com/api/v3/inbox/messages/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Fri, 23 Mar 2018 19:39:32 GMT
recorded_with: VCR 4.0.0
