---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.com/api/v3/messages/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d7675f363ca2c27a123a00683fcb0591"
      Link:
      - <https://bookingsync.com/api/v3/messages/1?page=1>; rel="first", <https://bookingsync.com/api/v3/messages/1?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519830000'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 14:27:08 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://bookingsync.com/api/v3/attachments/{messages.attachments}","messages.conversation":"https://bookingsync.com/api/v3/conversations/{messages.conversation}","messages.participant":"https://bookingsync.com/api/v3/participants/{messages.participant}"},"messages":[{"links":{"attachments":[],"conversation":1,"participant":1},"content":"Message
        content","created_at":"2018-02-28T09:46:22Z","id":1,"origin":"homeaway","updated_at":"2018-02-28T09:46:22Z","visibility":"all"}],"meta":{"Link":{"first":"https://bookingsync.com/api/v3/messages/1?page=1","last":"https://bookingsync.com/api/v3/messages/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Wed, 28 Feb 2018 14:27:08 GMT
recorded_with: VCR 4.0.0
