---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/seasons/1803
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '986'
      Link:
      - <https://www.bookingsync.com/api/v3/seasons/1803?page=1>; rel="first", <https://www.bookingsync.com/api/v3/seasons/1803?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"e8730bc58fc103ac08f78840527c8287"'
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{seasons.rates_table}","seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_table":274,"rates_rules":[],"periods":[4735]},"id":1803,"name":{"en":"High
        Season"},"ratio_percentage":"89.0","minimum_stay":3,"color_ratio":"1.656","created_at":"2014-08-08T18:29:54Z","updated_at":"2015-01-20T16:31:55Z","color":"#A0D453"}]}'
  recorded_at: Wed, 09 Sep 2015 21:09:28 GMT
recorded_with: VCR 2.9.2
