---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/seasons/1802
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:59:10 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '948'
      Link:
      - <https://www.bookingsync.com/api/v3/seasons/1802?page=1>; rel="first", <https://www.bookingsync.com/api/v3/seasons/1802?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"20abc7ae7393ac14251ce6e6479751de"
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{seasons.rates_table}","seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":1802,"name":{"en":"Very
        High Season"},"ratio_percentage":"100.0","minimum_stay":5,"created_at":"2014-08-08T18:29:46Z","updated_at":"2016-12-09T00:39:48Z","color":"#FFB732","color_ratio":1.0}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 10:59:10 GMT
recorded_with: VCR 3.0.3
