---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/inbox/messages/1/add_attachment
    body:
      encoding: UTF-8
      string: '{"attachments":[{"id":1}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1386c92f3d7e77e46e44c41bb6187e94"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1526569200'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-17 14:12:20 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://www.bookingsync.com/api/v3/inbox/attachments/{messages.attachments}","messages.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{messages.conversation}","messages.sender":"https://www.bookingsync.com/api/v3/inbox/participants/{messages.sender}"},"messages":[{"links":{"attachments":[1],"conversation":1,"sender":1},"channel":null,"content":"hey","created_at":"2018-05-17T13:50:43Z","id":1,"origin":"homeaway","sent_at":null,"updated_at":"2018-05-17T13:50:43Z","visibility":"external"}],"meta":{}}'
  recorded_at: Thu, 17 May 2018 14:12:20 GMT
recorded_with: VCR 4.0.0
