---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inbox/messages/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"715149a0010636aebf4033010785bbfe"
      Link:
      - <https://www.bookingsync.com/api/v3/inbox/messages/1?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/inbox/messages/1?page=1>; rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1526583600'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-17 18:09:34 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://www.bookingsync.com/api/v3/inbox/attachments/{messages.attachments}","messages.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{messages.conversation}","messages.sender":"https://www.bookingsync.com/api/v3/inbox/participants/{messages.sender}"},"messages":[{"links":{"attachments":[],"conversation":1,"sender":1},"channel":null,"content":"hey","created_at":"2018-05-17T13:50:43Z","id":1,"origin":"homeaway","sent_at":null,"updated_at":"2018-05-17T13:50:43Z","visibility":"external"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/inbox/messages/1?page=1","last":"https://www.bookingsync.com/api/v3/inbox/messages/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Thu, 17 May 2018 18:09:34 GMT
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/inbox/messages/1/add_attachment
    body:
      encoding: UTF-8
      string: '{"attachments":[{"id":1}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1386c92f3d7e77e46e44c41bb6187e94"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1526583600'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-17 18:09:35 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://www.bookingsync.com/api/v3/inbox/attachments/{messages.attachments}","messages.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{messages.conversation}","messages.sender":"https://www.bookingsync.com/api/v3/inbox/participants/{messages.sender}"},"messages":[{"links":{"attachments":[1],"conversation":1,"sender":1},"channel":null,"content":"hey","created_at":"2018-05-17T13:50:43Z","id":1,"origin":"homeaway","sent_at":null,"updated_at":"2018-05-17T13:50:43Z","visibility":"external"}],"meta":{}}'
  recorded_at: Thu, 17 May 2018 18:09:35 GMT
[...]
