---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reviews
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:53 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '956'
      Link:
      - <https://www.bookingsync.com/api/v3/reviews?page=1>; rel="first", <https://www.bookingsync.com/api/v3/reviews?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '3'
      X-Per-Page:
      - '100'
      Etag:
      - W/"dee9ae79434d436ddfe0e80085664bc6"
    body:
      encoding: UTF-8
      string: '{"links":{"reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{reviews.booking}","reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{reviews.rental}"},"reviews":[{"links":{"booking":142616,"rental":5116},"id":34562,"rating":5,"comment":"test
        test test","name":"Gary S.","title":"test test test","created_at":"2015-09-09T21:09:28Z","updated_at":"2015-09-09T21:09:28Z"},{"links":{"booking":819091,"rental":5117},"id":80459,"rating":5,"comment":"Awesome
        place","name":"Gary S.","title":"Awesome place","created_at":"2016-12-06T16:21:51Z","updated_at":"2016-12-06T16:21:51Z"},{"links":{"booking":829184,"rental":5116},"id":80477,"rating":5,"comment":"Awesome
        place","name":"Eero E.","title":"Awesome place","created_at":"2016-12-09T10:58:35Z","updated_at":"2016-12-09T10:58:35Z"}]}'
  recorded_at: Mon, 12 Dec 2016 11:32:53 GMT
recorded_with: VCR 3.0.3
