---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inquiries/16072
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:49 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '936'
      Link:
      - <https://www.bookingsync.com/api/v3/inquiries/16072?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/inquiries/16072?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"f3e3a9f29cb987bb3a3d0bbca6f54a09"
    body:
      encoding: UTF-8
      string: '{"links":{"inquiries.rental":"https://www.bookingsync.com/api/v3/rentals/{inquiries.rental}","inquiries.source":"https://www.bookingsync.com/api/v3/sources/{inquiries.source}","inquiries.booking":"https://www.bookingsync.com/api/v3/bookings/{inquiries.booking}"},"inquiries":[{"links":{"rental":5116,"source":null,"booking":null},"id":16072,"firstname":"John","lastname":"Smith","email":"john@example.com","country_code":null,"phone":null,"start_at":"2016-12-06T16:00:00Z","end_at":"2016-12-07T10:00:00Z","adults":null,"children":null,"message":null,"locked":"doorkeeper/application-17","created_at":"2016-12-06T13:21:13Z","updated_at":"2016-12-06T13:21:13Z"}]}'
  recorded_at: Mon, 12 Dec 2016 11:43:50 GMT
recorded_with: VCR 3.0.3
