---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inquiries/6087
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '967'
      Link:
      - <https://www.bookingsync.com/api/v3/inquiries/6087?page=1>; rel="first", <https://www.bookingsync.com/api/v3/inquiries/6087?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"7ad75254fa31e77e6358c4387c7f14aa"'
    body:
      encoding: UTF-8
      string: '{"links":{"inquiries.rental":"https://www.bookingsync.com/api/v3/rentals/{inquiries.rental}"},"inquiries":[{"links":{"rental":5117},"id":6087,"firstname":"aa","lastname":"aa","email":"a@op.pl","country_code":"","phone":"","start_at":null,"end_at":null,"adults":null,"children":null,"message":"","created_at":"2015-09-09T20:19:46Z","updated_at":"2015-09-09T20:19:46Z"}]}'
  recorded_at: Wed, 09 Sep 2015 20:20:24 GMT
recorded_with: VCR 2.9.2
