---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals/26,28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401213600'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/26,28?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rentals/26,28?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"d4e1087b3d3c8f53b50094dbfd6451f4"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.account":"https://www.bookingsync.com/api/v3/accounts/{rentals.account}","rentals.destination":"https://www.bookingsync.com/api/v3/destinations/{rentals.destination}","rentals.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rentals.rates_table}","rentals.rental_agreement":"https://www.bookingsync.com/api/v3/rental_agreements/{rentals.rental_agreement}","rentals.photos":"https://www.bookingsync.com/api/v3/photos/{rentals.photos}","rentals.reviews":"https://www.bookingsync.com/api/v3/reviews/{rentals.reviews}","rentals.special_offers":"https://www.bookingsync.com/api/v3/special_offers/{rentals.special_offers}","rentals.rates":"https://www.bookingsync.com/api/v3/rates/{rentals.rates}","rentals.amenities":"https://www.bookingsync.com/api/v3/amenities/{rentals.amenities}"},"rentals":[{"links":{"account":42,"destination":13,"rates_table":25,"rental_agreement":null,"photos":[13],"reviews":[],"special_offers":[],"rates":[],"amenities":[]},"id":26,"name":"2
        ducimus est","headline":{"en":null},"summary":{"en":null},"description":{"en":null},"rental_type":"villa","units":1,"bedrooms_count":null,"sleeps":7,"sleeps_max":null,"bathrooms_count":3,"surface":120,"bookable_online":false,"min_price":700,"max_price":700,"price_kind":"weekly","currency":"EUR","price_public_notes":{"en":null},"lat":45.02,"lng":6.6,"city":"Nevache","state":null,"country":"France","contact_name":"Contact
        Fullname","reviews_count":0,"reviews_average_rating":null,"created_at":"2014-02-10T15:32:21Z","updated_at":"2014-02-10T15:32:22Z","address1":null,"address2":null,"zip":null,"checkin_time":16,"checkout_time":10},{"links":{"account":42,"destination":14,"rates_table":27,"rental_agreement":null,"photos":[14],"reviews":[],"special_offers":[],"rates":[],"amenities":[]},"id":28,"name":"3
        et","headline":{"en":null},"summary":{"en":null},"description":{"en":null},"rental_type":"villa","units":1,"bedrooms_count":null,"sleeps":7,"sleeps_max":null,"bathrooms_count":3,"surface":120,"bookable_online":false,"min_price":700,"max_price":700,"price_kind":"weekly","currency":"EUR","price_public_notes":{"en":null},"lat":45.02,"lng":6.6,"city":"Nevache","state":null,"country":"France","contact_name":"Contact
        Fullname","reviews_count":0,"reviews_average_rating":null,"created_at":"2014-02-10T15:32:24Z","updated_at":"2014-02-10T15:32:25Z","address1":null,"address2":null,"zip":null,"checkin_time":16,"checkout_time":10}]}'
  recorded_at: Tue, 27 May 2014 17:53:12 GMT
recorded_with: VCR 2.9.0
