---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_contacts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f5e610ce3e35bedebe163e87165f380c"
      Link:
      - <https://www.bookingsync.com/api/v3/rental_contacts?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rental_contacts?page=1>;
        rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      X-Ratelimit-Reset:
      - '1570615200'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-09 09:00:12 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_contacts.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_contacts.rental}","rental_contacts.contact":"https://www.bookingsync.com/api/v3/contacts/{rental_contacts.contact}"},"rental_contacts":[{"links":{"contact":1,"rental":1},"id":5,"kind":"owner","roles":["invoices"],"created_at":"2019-10-09T08:57:49Z","updated_at":"2019-10-09T08:57:49Z","canceled_at":null}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/rental_contacts?page=1","last":"https://www.bookingsync.com/api/v3/rental_contacts?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Wed, 09 Oct 2019 09:00:12 GMT
recorded_with: VCR 5.0.0
