---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/seasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397138400'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - "<https://www.bookingsync.com/api/v3/seasons?page=1>; rel=\"first\", <https://www.bookingsync.com/api/v3/seasons?page=1>;
        rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"2343114c0c3fddcc9a35e2d7768bf57c\""
    body:
      encoding: UTF-8
      string: "{\"seasons\":[{\"id\":1,\"rates_table_id\":1,\"name\":\"Season 1\",\"ratio\":\"1.0\",\"minimum_stay\":7,\"color_ratio\":\"1.0\",\"created_at\":\"2014-04-10T13:07:57Z\",\"updated_at\":\"2014-04-10T13:07:57Z\"},{\"id\":2,\"rates_table_id\":3,\"name\":\"Season
        2\",\"ratio\":\"1.0\",\"minimum_stay\":7,\"color_ratio\":\"1.0\",\"created_at\":\"2014-04-10T13:08:02Z\",\"updated_at\":\"2014-04-10T13:08:02Z\"},{\"id\":3,\"rates_table_id\":5,\"name\":\"Season
        3\",\"ratio\":\"1.0\",\"minimum_stay\":7,\"color_ratio\":\"1.0\",\"created_at\":\"2014-04-10T13:08:06Z\",\"updated_at\":\"2014-04-10T13:08:06Z\"},{\"id\":4,\"rates_table_id\":7,\"name\":\"Season
        4\",\"ratio[...]
