---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/seasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397638800'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/seasons?page=1>; rel="first", <https://www.bookingsync.com/api/v3/seasons?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"1f2511366cb93bee37e1a424283439e5"'
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}"},"seasons":[{"links":{"rates_rules":[]},"id":1,"rates_table_id":1,"name":"Season
        1","ratio":"1.0","minimum_stay":7,"color_ratio":"1.0","created_at":"2014-04-14T13:18:39Z","updated_at":"2014-04-14T13:18:39Z"},{"links":{"rates_rules":[]},"id":2,"rates_table_id":3,"name":"Season
        2","ratio":"1.0","minimum_stay":7,"color_ratio":"1.0","created_at":"2014-04-14T13:18:44Z","updated_at":"2014-04-14T13:18:44Z"},{"links":{"rates_rules":[]},"id":3,"rates_table_id":5,"name":"Season
        3","ratio":"1.0","minimum_stay":7,"color_ratio":"1.0","created_at":"2014-04-14T13:18:50Z","updated_at":"2014-04-14T13:18:50Z"},{"links":{"rates_rules":[]},"id":4,"rates_table_id":7,"name":"Season[...]
