---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inbox/participants/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d3b2dcc21b2c2dbbde68e5b6ae0720a8"
      Link:
      - <https://www.bookingsync.com/api/v3/inbox/participants/1?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/inbox/participants/1?page=1>; rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521838800'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 20:01:28 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.host":"https://www.bookingsync.com/api/v3/hosts/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-03-20T13:46:54Z","id":1,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-03-20T13:46:54Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/inbox/participants/1?page=1","last":"https://www.bookingsync.com/api/v3/inbox/participants/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Fri, 23 Mar 2018 20:01:29 GMT
recorded_with: VCR 4.0.0
