---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/participants/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2f3a5eb1c5ab4351d33a616fb74e0190"
      Link:
      - <https://www.bookingsync.com/api/v3/participants/1?page=1>; rel="first", <https://www.bookingsync.com/api/v3/participants/1?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519822800'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 12:40:55 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.user":"https://www.bookingsync.com/api/v3/users/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T09:43:20Z","id":1,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T09:43:20Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/participants/1?page=1","last":"https://www.bookingsync.com/api/v3/participants/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Wed, 28 Feb 2018 12:40:56 GMT
recorded_with: VCR 4.0.0
