---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/fees
    body:
      encoding: UTF-8
      string: '{"fees":[{"name_en":"New fee","rate":10,"rate_kind":"fixed","downpayment_percentage":10}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:57:15 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481216400'
      X-Ratelimit-Remaining:
      - '973'
      Link:
      - <https://www.bookingsync.com/api/v3/fees?fees%5B%5D%5Bdownpayment_percentage%5D=10&fees%5B%5D%5Bname_en%5D=New+fee&fees%5B%5D%5Brate%5D=10&fees%5B%5D%5Brate_kind%5D=fixed&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/fees/2174
      Etag:
      - W/"9a0139cac1631d58ea4c689f616dd5bb"
    body:
      encoding: UTF-8
      string: '{"links":{"fees.account":"https://www.bookingsync.com/api/v3/accounts/{fees.account}"},"fees":[{"links":{"account":3837},"id":2174,"name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2016-12-08T16:57:16Z","updated_at":"2016-12-08T16:57:16Z","downpayment_percentage":"10.0","kind":"other"}]}'
  recorded_at: Thu, 08 Dec 2016 16:57:16 GMT
recorded_with: VCR 3.0.3
