---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/fees
    body:
      encoding: UTF-8
      string: '{"fees":[{"name_en":"New fee","rate":10,"rate_kind":"fixed","downpayment_percentage":10}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1447779600'
      X-Ratelimit-Remaining:
      - '990'
      Location:
      - https://www.bookingsync.com/api/v3/fees/659
      Etag:
      - '"7973edf46d882d4f7336dba2d03eb135"'
    body:
      encoding: UTF-8
      string: '{"links":{"fees.account":"https://www.bookingsync.com/api/v3/accounts/{fees.account}"},"fees":[{"links":{"account":3837},"id":659,"name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2015-11-17T16:53:15Z","updated_at":"2015-11-17T16:53:15Z","downpayment_percentage":"10.0","kind":"other"}]}'
  recorded_at: Tue, 17 Nov 2015 16:53:17 GMT
recorded_with: VCR 2.9.2
