---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/payments/71959
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '964'
      Link:
      - <https://www.bookingsync.com/api/v3/payments/71959?page=1>; rel="first", <https://www.bookingsync.com/api/v3/payments/71959?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"de3828affd8fd0467ae7f8dd184c9145"'
    body:
      encoding: UTF-8
      string: '{"links":{"payments.account":"https://www.bookingsync.com/api/v3/accounts/{payments.account}","payments.bookings":"https://www.bookingsync.com/api/v3/bookings/{payments.bookings}","payments.bookings_payments":"https://www.bookingsync.com/api/v3/bookings_payments/{payments.bookings_payments}"},"payments":[{"links":{"account":3837,"bookings":[142616],"bookings_payments":[71982]},"id":71959,"transaction_id":null,"order_id":null,"card":null,"amount_in_cents":100000,"currency":"EUR","kind":"online","fullname":"aa","email":"aa@test.com","address1":null,"address2":null,"zip":null,"city":null,"state":null,"country_code":null,"locale":null,"ip":null,"test":false,"notes":"","paid_at":"2015-09-09T00:00:00Z","created_at":"2015-09-09T19:58:06Z","updated_at":"2015-09-09T19:58:06Z","rejected_at":null,"canceled_at":null}]}'
  recorded_at: Wed, 09 Sep 2015 20:21:30 GMT
recorded_with: VCR 2.9.2
