---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/hosts/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"10d0ae02e14550089aebdcda05ab0c22"
      Link:
      - <https://www.bookingsync.com/api/v3/hosts/1?page=1>; rel="first", <https://www.bookingsync.com/api/v3/hosts/1?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521838800'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 20:40:36 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"hosts.user":"https://www.bookingsync.com/api/v3/users/{hosts.user}","hosts.source":"https://www.bookingsync.com/api/v3/sources/{hosts.source}","hosts.account":"https://www.bookingsync.com/api/v3/accounts/{hosts.account}","hosts.participants":"https://www.bookingsync.com/api/v3/inbox/participants/{hosts.participants}"},"hosts":[{"links":{"account":1,"participants":[7,6,5,4,3,2],"source":null,"user":null},"id":1,"firstname":"John","lastname":"Doe","email":"johns@example.com","created_at":"2018-03-22T22:45:04Z","updated_at":"2018-03-22T22:45:04Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/hosts/1?page=1","last":"https://www.bookingsync.com/api/v3/hosts/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Fri, 23 Mar 2018 20:40:36 GMT
recorded_with: VCR 4.0.0
