---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rates_tables
    body:
      encoding: UTF-8
      string: '{"rates_tables":[{"name":"New rate table"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398423600'
      X-Ratelimit-Remaining:
      - '984'
      Location:
      - https://www.bookingsync.com/api/v3/rates_tables/42
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"0c650a50d743a26039823cbb90c7d015"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}"},"rates_tables":[{"links":{"seasons":[],"rates_rules":[]},"id":42,"account_id":1,"name":"New
        rate table","created_at":"2014-04-25T10:41:14Z","updated_at":"2014-04-25T10:41:14Z"}]}'
  recorded_at: Fri, 25 Apr 2014 10:41:14 GMT
recorded_with: VCR 2.9.0
