---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/living_rooms/22325
    body:
      encoding: UTF-8
      string: '{"living_rooms":[{"sofa_beds_count":3}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 18:20:21 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481223600'
      X-Ratelimit-Remaining:
      - '988'
      Etag:
      - W/"e181e5c78ba4a6615bbc3f0746f1461d"
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"https://www.bookingsync.com/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":5116},"id":22325,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":3,"created_at":"2016-12-08T18:18:38Z","updated_at":"2016-12-08T18:20:21Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 18:20:21 GMT
recorded_with: VCR 3.0.3
