---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/living_rooms/22332
    body:
      encoding: UTF-8
      string: '{"living_rooms":[{"sofa_beds_count":3}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:31 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '993'
      Etag:
      - W/"9c748dbc4f4d8d70aa07226fdec9d280"
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"https://www.bookingsync.com/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":5116},"id":22332,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":3,"created_at":"2016-12-12T11:52:11Z","updated_at":"2016-12-12T12:04:31Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:32 GMT
recorded_with: VCR 3.0.3
