---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_amenities/6128
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:07:36 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '993'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_amenities/6128?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals_amenities/6128?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"d8a902b2d010bd52d27e7bcad00ae3e1"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":32,"rental":5116},"id":6128,"created_at":"2014-08-08T18:28:39Z","updated_at":"2014-08-08T18:28:39Z","details":{}}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 10:07:36 GMT
recorded_with: VCR 3.0.3
