---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rentals_amenities/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401202800'
      X-Ratelimit-Remaining:
      - '990'
      Link:
      - <https://bookingsync.dev/api/v3/rentals_amenities/1?page=1>; rel="first",
        <https://bookingsync.dev/api/v3/rentals_amenities/1?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"ae2467cb53532417eefd56d80bf4d1ff"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://bookingsync.dev/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://bookingsync.dev/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":1,"rental":67},"id":1}]}'
  recorded_at: Tue, 27 May 2014 14:06:43 GMT
recorded_with: VCR 2.9.1
