---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals_contents_overrides
    body:
      encoding: UTF-8
      string: '{"rentals_contents_overrides":[{"summary_en":"english summary","application_id":"65","rental_id":"5116"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-11-27 14:27:11 UTC
      X-Ratelimit-Limit:
      - '130000'
      X-Ratelimit-Reset:
      - '1511794800'
      X-Ratelimit-Remaining:
      - '86622'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_contents_overrides?page=1&rentals_contents_overrides%5B%5D%5Bapplication_id%5D=65&rentals_contents_overrides%5B%5D%5Brental_id%5D=5116&rentals_contents_overrides%5B%5D%5Bsummary_en%5D=english+summary>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_contents_overrides/2280
      Etag:
      - W/"f1a57a77630b7e4fe50337ae8b8a5265"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_contents_overrides.application":"https://www.bookingsync.com/api/v3/applications/{rentals_contents_overrides.application}","rentals_contents_overrides.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_contents_overrides.rental}"},"rentals_contents_overrides":[{"links":{"application":65,"rental":5116},"id":2280,"headline":{},"summary":{"en":"english
        summary"},"description":{},"created_at":"2017-11-27T14:27:11Z","updated_at":"2017-11-27T14:27:11Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/rentals_contents_overrides?page=1&rentals_contents_overrides%5B%5D%5Bapplication_id%5D=65&rentals_contents_overrides%5B%5D%5Brental_id%5D=5116&rentals_contents_overrides%5B%5D%5Bsummary_en%5D=english+summary"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Mon, 27 Nov 2017 14:27:11 GMT
recorded_with: VCR 3.0.3
