---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/inquiries
    body:
      encoding: UTF-8
      string: '{"inquiries":[{"start_at":"2016-12-12 12:52:10 +0100","end_at":"2016-12-13
        12:52:10 +0100","firstname":"John","lastname":"Smith","email":"john@example.com"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:10 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '909'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/inquiries?inquiries%5B%5D%5Bemail%5D=john%40example.com&inquiries%5B%5D%5Bend_at%5D=2016-12-13+12%3A52%3A10+%2B0100&inquiries%5B%5D%5Bfirstname%5D=John&inquiries%5B%5D%5Blastname%5D=Smith&inquiries%5B%5D%5Bstart_at%5D=2016-12-12+12%3A52%3A10+%2B0100&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/inquiries/16192
      Etag:
      - W/"d25edd94944e33c4cad808d288a3a8cd"
    body:
      encoding: UTF-8
      string: '{"links":{"inquiries.rental":"https://www.bookingsync.com/api/v3/rentals/{inquiries.rental}","inquiries.source":"https://www.bookingsync.com/api/v3/sources/{inquiries.source}","inquiries.booking":"https://www.bookingsync.com/api/v3/bookings/{inquiries.booking}"},"inquiries":[{"links":{"rental":5116,"source":null,"booking":null},"id":16192,"firstname":"John","lastname":"Smith","email":"john@example.com","country_code":null,"phone":null,"start_at":"2016-12-12T16:00:00Z","end_at":"2016-12-13T10:00:00Z","adults":null,"children":null,"message":null,"locked":"doorkeeper/application-17","created_at":"2016-12-12T11:52:11Z","updated_at":"2016-12-12T11:52:11Z"}]}'
  recorded_at: Mon, 12 Dec 2016 11:52:11 GMT
recorded_with: VCR 3.0.3
