---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/living_rooms/6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Total-Pages:
      - '1'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1480082400'
      X-Ratelimit-Remaining:
      - '993'
      X-Updated-Since-Request-Synced-At:
      - 2016-11-25 13:45:49 UTC
      Link:
      - <http://bookingsync.dev/api/v3/living_rooms/6?page=1>; rel="first", <http://bookingsync.dev/api/v3/living_rooms/6?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      Etag:
      - W/"2e7c36d2c8df5cd0245514287b730716"
      X-Total-Count:
      - '1'
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"http://bookingsync.dev/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":23869},"id":6,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":1,"queensize_beds_count":0,"single_beds_count":1,"sofa_beds_count":2,"created_at":"2016-11-24T19:39:43Z","updated_at":"2016-11-24T19:40:02Z"}],"meta":{}}'
  recorded_at: Fri, 25 Nov 2016 13:45:49 GMT
recorded_with: VCR 2.9.2
