---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/sources/4516
    body:
      encoding: UTF-8
      string: '{"sources":[{"name":"another test source"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:11:07 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '978'
      Etag:
      - W/"5726cdeacac8cb7af3bd9fb7ae82d489"
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https://www.bookingsync.com/api/v3/accounts/{sources.account}","sources.bookings":"https://www.bookingsync.com/api/v3/bookings/{sources.bookings}"},"sources":[{"links":{"account":3837,"bookings":[]},"id":4516,"name":"another
        test source","created_at":"2016-12-12T11:52:24Z","updated_at":"2016-12-12T12:11:07Z","position":6}]}'
  recorded_at: Mon, 12 Dec 2016 12:11:07 GMT
recorded_with: VCR 3.0.3
