---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/sources/4509
    body:
      encoding: UTF-8
      string: '{"sources":[{"name":"test source.com"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:28:40 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '992'
      Etag:
      - W/"3859f1e1b1ee3c707a056c439b76bde3"
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https://www.bookingsync.com/api/v3/accounts/{sources.account}","sources.bookings":"https://www.bookingsync.com/api/v3/bookings/{sources.bookings}"},"sources":[{"links":{"account":3837,"bookings":[]},"id":4509,"name":"test
        source.com","created_at":"2016-12-09T14:27:06Z","updated_at":"2016-12-09T14:28:40Z","position":5}]}'
  recorded_at: Fri, 09 Dec 2016 14:28:40 GMT
recorded_with: VCR 3.0.3
