---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/sources/4
    body:
      encoding: UTF-8
      string: '{"sources":[{"name":"HomeAway.com"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1407834000'
      X-Ratelimit-Remaining:
      - '985'
      Etag:
      - '"a64025ec46c4a7a989b9908f693c4655"'
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https:\/\/www.bookingsync.com\/api\/v3\/accounts\/{sources.account}"},"sources":[{"links":{"account":1},"id":4,"name":"HomeAway.com","created_at":"2014-08-12T08:15:25Z","updated_at":"2014-08-12T08:19:30Z"}]}'
  recorded_at: Tue, 12 Aug 2014 08:19:30 GMT
recorded_with: VCR 2.9.2
