---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398265200'
      X-Ratelimit-Remaining:
      - '987'
      Link:
      - "<https://www.bookingsync.com/api/v3/rentals?page=1>; rel=\"first\", <https://www.bookingsync.com/api/v3/rentals?page=1>;
        rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"81e8b74e85a356a4b40eb328206bde99\""
    body:
      encoding: UTF-8
      string: "{\"links\":{\"rentals.destination\":\"https://www.bookingsync.com/api/v3/destinations/{rentals.destination}\",\"rentals.photos\":\"https://www.bookingsync.com/api/v3/photos/{rentals.photos}\"},\"rentals\":[{\"links\":{\"destination\":1,\"photos\":[1]},\"account_id\":1,\"id\":2,\"name\":\"Updated
        Rental name\",\"headline\":{\"en\":\"Super Headline\"},\"summary\":{\"en\":\"Super
        summary\"},\"description\":{\"en\":\"Complete description\"},\"rental_type\":\"villa\",\"units\":1,\"bedrooms_count\":null,\"sleeps\":7,\"sleeps_max\":null,\"bathrooms_count\":3,\"surface\":120,\"bookable_online\":false,\"min_price\":700,\"max_price\":700,\"price_kind\":\"weekly\",\"currency\":\"EUR\",\"rates_public_notes\":{\"en\":null},\"lat\":45.02,\"lng\":6.6,\"city\":\"Nevache\",\"state\":null,\"country\":\"France\",\"contact_name\":\"Contact
        Fullname\",\"amenities\":[],\"reviews_count\":0,\"reviews_average_rating\":null,\"updated_at\":\"2014-04-23T14:05:55Z\",\"checkin_time\":16,\"checkout_time\":10},{\"links\":{\"destination\":2,\"photos\":[2]},\"account_id\":1,\"id\":4,\"name\":\"1
        dignissimos\",\"headline\":{\"en\":\"Super Headline\"},\"summary\":{\"en\":\"Super
        summary\"},\"description\":{\"en\":\"Complete description\"},\"rental_type\":\"villa\",\"units\":1,\"bedrooms_count\":null,\"sleeps\":7,\"sleeps_max\":null,\"bathrooms_count\":3,\"surface\":120,\"bookable_online\":false,\"min_price\":700,\"max_price\":700,\"price_kind\":\"weekly\",\"currency\":\"EUR\",\"rates_p[...]
