---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396965600.0'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rentals?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Etag:
      - '"e8025901e9dc65de0dc93bf5456fdd8f"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.destination":"https://www.bookingsync.com/api/v3/destinations/{rentals.destination}","rentals.photos":"https://www.bookingsync.com/api/v3/photos/{photos.id}"},"rentals":[{"links":{"destination":1,"photos":[]},"account_id":1,"id":833,"name":"Villa
        Boubouki","headline":{"en":null},"summary":{"en":null},"description":{"en":null},"rental_type":null,"units":1,"bedrooms_count":null,"sleeps":null,"sleeps_max":null,"bathrooms_count":null,"surface":null,"bookable_online":false,"min_price":null,"max_price":null,"price_kind":"weekly","currency":"EUR","rates_public_notes":{"en":null},"lat":null,"lng":null,"city":null,"state":null,"country":"","contact_name":null,"amenities":[],"reviews_count":12,"reviews_average_rating":"4.3333","updated_at":"2014-03-30T17:44:13Z"},{"links":{"destination":2,"photos":[]},"account_id":1,"id":834,"name":"Villa
        Anatoli","headline":{"en":null},"summary":{"en":null},"description":{"en":null},"rental_type":null,"units":1,"bedrooms_count":null,"sleeps":null,"sleeps_max":null,"bathrooms_count":null,"surface":null,"bookable_online":false,"min_price":null,"max_price":null,"price_kind":"nightly","currency":"EUR","rates_public_notes":{"en":null},"lat":null,"lng":null,"city":null,"state":null,"country":""[...]
