---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/rentals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396958400'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <http://bookingsync.dev/api/v3/rentals.json?page=1>; rel="first", <http://bookingsync.dev/api/v3/rentals.json?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"cf3af42f469b267bbdeec5cb14a40575"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.photos":"http://bookingsync.dev/en/api/v3/photos/{photos.id}"},"rentals":[{"links":{"photos":[1]},"account_id":1,"id":2,"name":"0
        nisi ipsum","headline":{"en":"Super Headline"},"summary":{"en":"Super summary"},"description":{"en":"Complete
        description"},"rental_type":"villa","units":1,"bedrooms_count":null,"sleeps":7,"sleeps_max":null,"bathrooms_count":3,"surface":120,"bookable_online":false,"min_price":700,"max_price":700,"price_kind":"weekly","currency":"EUR","rates_public_notes":{"en":null},"lat":45.02,"lng":6.6,"city":"Nevache","state":null,"country":"France","contact_name":"Contact
        Fullname","amenities":[],"reviews_count":0,"reviews_average_rating":null,"updated_at":"2014-04-08T11:24:48Z"},{"links":{"photos":[2]},"account_id":1,"id":4,"name":"1
        sunt totam hic","headline":{"en":"Super Headline"},"summary":{"en":"Super
        summary"},"description":{"en":"Complete description"},"rental_type":"villa","units":1,"bedrooms_count":null,"sleeps":7,"sleeps_max":null,"bathrooms_count":3,"surface":120,"bookable_online":false,"min_price":700,"max_price":700,"price_kind":"weekly","currency":"EUR","rates_public_notes":{"en":null},"lat":45.02,"lng":6.6,"city":"N[...]
