---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/special_offers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1399327200'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://www.bookingsync.com/api/v3/special_offers?page=1>; rel="first", <https://www.bookingsync.com/api/v3/special_offers?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"3373a101e5314237c05c3b54f6824cda"'
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"id":6,"rental_id":20,"name":{"en":"Monday discount"},"start_at":"2014-05-07","end_at":"2014-05-25","discount":10}]}'
  recorded_at: Mon, 05 May 2014 21:20:39 GMT
recorded_with: VCR 2.9.0
