---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"start_at\":\"2014-01-03\",\"end_at\":\"2014-01-04\",\"rental_id\":20,\"booked\":true}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
    body:
      encoding: UTF-8
      string: "{\"error\":\"Not authorized\"}"
  recorded_at: Thu, 20 Mar 2014 16:45:00 GMT
recorded_with: VCR 2.8.0
