---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/photos/37
    body:
      encoding: UTF-8
      string: '{"photos":[{"description_en":"Not funny anymore"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1399640400'
      X-Ratelimit-Remaining:
      - '957'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"fa2396ab07706d75fb2eabf114b05611"'
    body:
      encoding: UTF-8
      string: '{"photos":[{"id":37,"rental_id":2,"description":{"en":"Not funny anymore"},"kind":"livingroom","large_url":"http://bookingsync.dev/files/development/photo/photo/37/large_b0e94d712c4916323d4c7da35635f02e.jpg","normal_url":"http://bookingsync.dev/files/development/photo/photo/37/normal_b0e94d712c4916323d4c7da35635f02e.jpg","thumb_url":"http://bookingsync.dev/files/development/photo/photo/37/thumb_b0e94d712c4916323d4c7da35635f02e.jpg","micro_url":"http://bookingsync.dev/files/development/photo/photo/37/micro_b0e94d712c4916323d4c7da35635f02e.jpg","position":8}]}'
  recorded_at: Fri, 09 May 2014 12:37:34 GMT
recorded_with: VCR 2.9.0
