---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/photos/313467
    body:
      encoding: UTF-8
      string: '{"photos":[{"description_en":"Not funny anymore"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 00:39:29 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481245200'
      X-Ratelimit-Remaining:
      - '987'
      Etag:
      - W/"508da84885f27d834083d02927676d02"
    body:
      encoding: UTF-8
      string: '{"links":{"photos.account":"https://www.bookingsync.com/api/v3/accounts/{photos.account}","photos.rental":"https://www.bookingsync.com/api/v3/rentals/{photos.rental}"},"photos":[{"links":{"account":3837,"rental":5116},"id":313467,"description":{"en":"Not
        funny anymore"},"kind":"livingroom","micro_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_32,q_90,w_48/v1481243247/photo_3y4_iydttq.jpg","thumb_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_64,q_90,w_96/v1481243247/photo_3y4_iydttq.jpg","small_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_128,q_90,w_192/v1481243247/photo_3y4_iydttq.jpg","compact_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_256,q_90,w_384/v1481243247/photo_3y4_iydttq.jpg","medium_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_512,q_90,w_768/v1481243247/photo_3y4_iydttq.jpg","large_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_800,q_90,w_1200/v1481243247/photo_3y4_iydttq.jpg","grande_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_1024,q_90,w_1536/v1481243247/photo_3y4_iydttq.jpg","giant_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_1600,q_90,w_2400/v1481243247/photo_3y4_iydttq.jpg","position":19,"created_at":"2016-12-09T00:27:27Z","updated_at":"2016-12-09T00:39:29Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 00:39:29 GMT
recorded_with: VCR 3.0.3
