---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/applications_periods_rentals
    body:
      encoding: UTF-8
      string: '{"applications_periods_rental":{"rental_id":1,"application_id":9,"start_date":"2017-01-03","end_date":"2017-01-04","price_increase":15}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"329930caf43d53b1d9585178f1d749c2"
      Location:
      - https://www.bookingsync.com/api/v3/applications_periods_rentals/3
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1549994400'
      X-Updated-Since-Request-Synced-At:
      - 2019-02-12 17:47:53 UTC
    body:
      encoding: UTF-8
      string: '{"applications_periods_rentals":[{"id":3,"price_increase":"15.0","start_date":"2017-01-03","end_date":"2017-01-04"}],"meta":{}}'
  recorded_at: Tue, 12 Feb 2019 17:47:54 GMT
recorded_with: VCR 4.0.0
