---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/preferences_payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1449838800'
      X-Ratelimit-Remaining:
      - '987'
      Link:
      - <https://www.bookingsync.com/api/v3/preferences_payments?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/preferences_payments?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"5bf4c557faa3122cfd9f122a80fb5d07"'
    body:
      encoding: UTF-8
      string: '{"links":{"preferences_payments.account":"https://www.bookingsync.com/api/v3/accounts/{preferences_payments.account}"},"preferences_payments":[{"links":{"account":3837},"id":3797,"test":false,"gateway":"blue_pay","credentials":{"login":"test","password":"test"},"supported_cardtypes":["visa"],"currencies":["EUR","USD"],"created_at":"2014-08-08T18:20:53Z","updated_at":"2015-12-11T12:58:21Z"}]}'
  recorded_at: Fri, 11 Dec 2015 12:58:41 GMT
recorded_with: VCR 2.9.2
