---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reviews/34562
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '984'
      Link:
      - <https://www.bookingsync.com/api/v3/reviews/34562?page=1>; rel="first", <https://www.bookingsync.com/api/v3/reviews/34562?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"304dc9f7ded9014a0841c748d9c9948c"'
    body:
      encoding: UTF-8
      string: '{"links":{"reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{reviews.booking}","reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{reviews.rental}"},"reviews":[{"links":{"booking":142616,"rental":5116},"id":34562,"rating":5,"comment":"test
        test test","name":"Gary S.","created_at":"2015-09-09T21:09:28Z","updated_at":"2015-09-09T21:09:28Z"}]}'
  recorded_at: Wed, 09 Sep 2015 21:10:10 GMT
recorded_with: VCR 2.9.2
