---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reviews/34562
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:58:24 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '951'
      Link:
      - <https://www.bookingsync.com/api/v3/reviews/34562?page=1>; rel="first", <https://www.bookingsync.com/api/v3/reviews/34562?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"3ea05ab350a60ef91197e554a32cf637"
    body:
      encoding: UTF-8
      string: '{"links":{"reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{reviews.booking}","reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{reviews.rental}"},"reviews":[{"links":{"booking":142616,"rental":5116},"id":34562,"rating":5,"comment":"test
        test test","name":"Gary S.","title":"test test test","created_at":"2015-09-09T21:09:28Z","updated_at":"2015-09-09T21:09:28Z"}]}'
  recorded_at: Fri, 09 Dec 2016 10:58:24 GMT
recorded_with: VCR 3.0.3
