---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:38 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '987'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings?page=1&per_page=2>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2>; rel="next",
        <https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2>; rel="last"
      X-Total-Pages:
      - '2'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '2'
      Etag:
      - W/"e590e0d6f5c07a6c71f9541f0e4f9d63"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings.account":"https://www.bookingsync.com/api/v3/accounts/{bookings.account}","bookings.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings.rental}","bookings.client":"https://www.bookingsync.com/api/v3/clients/{bookings.client}","bookings.rental_agreement":"https://www.bookingsync.com/api/v3/rental_agreements/{bookings.rental_agreement}","bookings.source":"https://www.bookingsync.com/api/v3/sources/{bookings.source}","bookings.inquiry":"https://www.bookingsync.com/api/v3/inquiries/{bookings.inquiry}","bookings.booking_comments":"https://www.bookingsync.com/api/v3/booking_comments/{bookings.booking_comments}","bookings.bookings_fees":"https://www.bookingsync.com/api/v3/bookings_fees/{bookings.bookings_fees}","bookings.bookings_taxes":"https://www.bookingsync.com/api/v3/bookings_taxes/{bookings.bookings_taxes}","bookings.payments":"https://www.bookingsync.com/api/v3/payments/{bookings.payments}","bookings.bookings_payments":"https://www.bookingsync.com/api/v3/bookings_payments/{bookings.bookings_payments}","bookings.bookings_tags":"https://www.bookingsync.com/api/v3/bookings_tags/{bookings.bookings_tags}"},"bookings":[{"links":{"account":3837,"rental":5117,"client":77703,"rental_agreement":29773,"source":1874,"inquiry":null,"booking_comments":[],"bookings_fees":[],"bookings_taxes":[],"payments":[],"bookings_payments":[],"bookings_tags":[]},"id":829165,"start_at":"2016-12-14T16:00:00Z","end_at":"2016-12-24T10:00:00Z","status":"Booked","updated_at":"2016-12-09T10:31:03Z","reference":"00HRSD","booked":true,"unavailable":false,"tentative_expires_at":null,"initial_price":"3615.94","initial_rental_price":"3615.94","channel_price":null,"discount":"","final_rental_price":"3615.94","final_price":"3615.94","downpayment":"1084.78","paid_amount":"0.0","currency":"EUR","notes":"","damage_deposit":"0.0","charge_damage_deposit_on_arrival":true,"adults":1,"children":null,"bookings_payments_count":0,"review_requests_count":0,"locked":null,"created_at":"2016-12-09T10:31:03Z","canceled_at":null,"expected_checkin_time":"14:30","expected_checkout_time":"06:45","payment_url":null,"balance_due_at":"2016-12-09T10:31:03Z","payback_to_owner":null,"commission":null,"contract_updated_at":null,"owned_by_app":false},{"links":{"account":3837,"rental":5117,"client":77710,"rental_agreement":29774,"source":null,"inquiry":null,"booking_comments":[92650,91667,91641],"bookings_fees":[],"bookings_taxes":[],"payments":[268198],"bookings_payments":[268231],"bookings_tags":[]},"id":817604,"start_at":"2017-01-09T16:00:00Z","end_at":"2017-01-14T10:00:00Z","status":"Booked","updated_at":"2016-12-09T09:42:19Z","reference":"00HIV8","booked":true,"unavailable":false,"tentative_expires_at":null,"initial_price":"1500.0","initial_rental_price":"1500.0","channel_price":null,"discount":"","final_rental_price":"1500.0","final_price":"1500.0","downpayment":"450.0","paid_amount":"2.0","currency":"EUR","notes":"","damage_deposit":"0.0","charge_damage_deposit_on_arrival":true,"adults":8,"children":null,"bookings_payments_count":3,"review_requests_count":0,"locked":null,"created_at":"2016-12-06T11:28:41Z","canceled_at":null,"expected_checkin_time":"16:15","expected_checkout_time":"04:30","payment_url":null,"balance_due_at":"2016-12-10T16:00:00Z","payback_to_owner":null,"commission":null,"contract_updated_at":"2016-12-09T09:42:19Z","owned_by_app":false}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:38 GMT
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:3[...]
