---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:27:03 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481216400'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings?page=1&per_page=2>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2>; rel="next",
        <https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2>; rel="last"
      X-Total-Pages:
      - '2'
      X-Total-Count:
      - '3'
      X-Per-Page:
      - '2'
      Etag:
      - W/"92d3ed0e2e22d1e592da781ff6008e00"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings.account":"https://www.bookingsync.com/api/v3/accounts/{bookings.account}","bookings.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings.rental}","bookings.client":"https://www.bookingsync.com/api/v3/clients/{bookings.client}","bookings.rental_agreement":"https://www.bookingsync.com/api/v3/rental_agreements/{bookings.rental_agreement}","bookings.source":"https://www.bookingsync.com/api/v3/sources/{bookings.source}","bookings.inquiry":"https://www.bookingsync.com/api/v3/inquiries/{bookings.inquiry}","bookings.booking_comments":"https://www.bookingsync.com/api/v3/booking_comments/{bookings.booking_comments}","bookings.bookings_fees":"https://www.bookingsync.com/api/v3/bookings_fees/{bookings.bookings_fees}","bookings.bookings_taxes":"https://www.bookingsync.com/api/v3/bookings_taxes/{bookings.bookings_taxes}","bookings.payments":"https://www.bookingsync.com/api/v3/payments/{bookings.payments}","bookings.bookings_payments":"https://www.bookingsync.com/api/v3/bookings_payments/{bookings.bookings_payments}","bookings.bookings_tags":"https://www.bookingsync.com/api/v3/bookings_tags/{bookings.bookings_tags}"},"bookings":[{"links":{"account":3837,"rental":5117,"client":77710,"rental_agreement":27861,"source":null,"inquiry":null,"booking_comments":[92650,91667,91641],"bookings_fees":[],"bookings_taxes":[],"payments":[268198],"bookings_payments":[268231],"bookings_tags":[]},"id":817604,"start_at":"2017-01-09T16:00:00Z","end_at":"2017-01-14T10:00:00Z","status":"Booked","updated_at":"2016-12-07T00:31:20Z","reference":"00HIV8","booked":true,"unavailable":false,"tentative_expires_at":null,"initial_price":"1500.0","initial_rental_price":"1500.0","channel_price":null,"discount":"","final_rental_price":"1500.0","final_price":"1500.0","downpayment":"450.0","paid_amount":"2.0","currency":"EUR","notes":"","damage_deposit":"0.0","charge_damage_deposit_on_arrival":true,"adults":8,"children":null,"bookings_payments_count":2,"review_requests_count":0,"locked":null,"created_at":"2016-12-06T11:28:41Z","canceled_at":null,"expected_checkin_time":"16:15","expected_checkout_time":"04:30","payment_url":null,"balance_due_at":"2016-12-10T16:00:00Z","payback_to_owner":null,"commission":null,"contract_updated_at":"2016-12-07T00:31:20Z","owned_by_app":false},{"links":{"account":3837,"rental":5117,"client":77703,"rental_agreement":null,"source":null,"inquiry":null,"booking_comments":[],"bookings_fees":[],"bookings_taxes":[],"payments":[],"bookings_payments":[],"bookings_tags":[]},"id":817605,"start_at":"2017-01-15T16:00:00Z","end_at":"2017-01-20T10:00:00Z","status":"Booked","updated_at":"2016-12-06T16:20:47Z","reference":"00HIV9","booked":true,"unavailable":false,"tentative_expires_at":null,"initial_price":"1000.0","initial_rental_price":"1000.0","channel_price":null,"discount":"","final_rental_price":"1000.0","final_price":"1000.0","downpayment":"0.0","paid_amount":"0.0","currency":"EUR","notes":"","damage_deposit":"0.0","charge_damage_deposit_on_arrival":true,"adults":4,"children":null,"bookings_payments_count":0,"review_requests_count":0,"locked":null,"created_at":"2016-12-06T11:29:17Z","canceled_at":null,"expected_checkin_time":"18:00","expected_checkout_time":"04:30","payment_url":null,"balance_due_at":"2016-12-16T16:00:00Z","payback_to_owner":null,"commission":null,"contract_updated_at":null,"owned_by_app":false}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 16:27:03 GMT
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:2[...]
