---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_taxes/8157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '967'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_taxes/8157?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings_taxes/8157?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"f100a682735a4eaf8dcc65e936d065be"'
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_taxes.booking":"https://www.bookingsync.com/api/v3/bookings/{bookings_taxes.booking}","bookings_taxes.tax":"https://www.bookingsync.com/api/v3/taxes/{bookings_taxes.tax}","bookings_taxes.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings_taxes.taxable.id}","bookings_taxes.fee":"https://www.bookingsync.com/api/v3/fees/{bookings_taxes.taxable.id}"},"bookings_taxes":[{"links":{"booking":142616,"tax":168,"taxable":{"id":5116,"type":"Rental"}},"id":8157,"name":{"en":"test
        tax"},"tax_included_in_price":true,"percentage":"0.0","amount":null}],"meta":{}}'
  recorded_at: Wed, 09 Sep 2015 21:15:36 GMT
recorded_with: VCR 2.9.2
