---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_cancelation_policies/16404
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:42:20 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '980'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_cancelation_policies/16404?page=1>;
        rel="first", <https://www.bookingsync.com/api/v3/rental_cancelation_policies/16404?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"7ce3b7013be883c44c4c1fb3cec35554"
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policies.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_cancelation_policies.rental}","rental_cancelation_policies.rental_cancelation_policy_items":"https://www.bookingsync.com/api/v3/rental_cancelation_policy_items/{rental_cancelation_policies.rental_cancelation_policy_items}"},"rental_cancelation_policies":[{"links":{"rental":5116,"rental_cancelation_policy_items":[14849]},"id":16404,"body":"```body```","created_at":"2016-12-05T22:37:43Z","updated_at":"2016-12-05T22:37:43Z","body_translations":{"fr":"","en":"```body```"}}]}'
  recorded_at: Fri, 09 Dec 2016 09:42:20 GMT
recorded_with: VCR 3.0.3
