---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rental_cancelation_policies/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1445256000'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://bookingsync.dev/api/v3/rental_cancelation_policies/13?page=1>; rel="first",
        <https://bookingsync.dev/api/v3/rental_cancelation_policies/13?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"26530303f51b8dde408d2c2369fe967f"'
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policies.rental":"https://bookingsync.dev/api/v3/rentals/{rental_cancelation_policies.rental}","rental_cancelation_policies.rental_cancelation_policy_items":"https://bookingsync.dev/api/v3/rental_cancelation_policy_items/{rental_cancelation_policies.rental_cancelation_policy_items}"},"rental_cancelation_policies":[{"links":{"rental":3,"rental_cancelation_policy_items":[13]},"id":13,"body":"```
        body ``` ","created_at":"2015-09-30T13:09:26Z","updated_at":"2015-09-30T13:09:26Z"}]}'
  recorded_at: Mon, 19 Oct 2015 11:42:28 GMT
recorded_with: VCR 2.9.3
