---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/special_offers/1583
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:57 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '917'
      Link:
      - <https://www.bookingsync.com/api/v3/special_offers/1583?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/special_offers/1583?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"39e890d1a7ad3f521ebf757ee93f2d27"
    body:
      encoding: UTF-8
      string: '{"links":{"special_offers.rental":"https://www.bookingsync.com/api/v3/rentals/{special_offers.rental}"},"special_offers":[{"links":{"rental":5117},"id":1583,"name":{"en":"offer"},"start_date":"2016-01-09","end_date":"2020-01-11","discount":10.0,"created_at":"2016-01-09T10:28:25Z","updated_at":"2016-01-09T10:28:25Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:57 GMT
recorded_with: VCR 3.0.3
