---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/special_offers/86
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '979'
      Link:
      - <https://www.bookingsync.com/api/v3/special_offers/86?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/special_offers/86?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"934e1c4b9a67647ee62971c8273eb180"'
    body:
      encoding: UTF-8
      string: '{"links":{"special_offers.rental":"https://www.bookingsync.com/api/v3/rentals/{special_offers.rental}"},"special_offers":[{"links":{"rental":5117},"id":86,"name":{"en":"Super
        Discount"},"start_date":"2016-01-01","end_date":"2016-01-07","discount":40.0,"created_at":"2014-08-08T21:30:00Z","updated_at":"2014-08-08T21:30:00Z"}]}'
  recorded_at: Wed, 09 Sep 2015 21:11:40 GMT
recorded_with: VCR 2.9.2
