---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/participants/4
    body:
      encoding: UTF-8
      string: '{"participants":[{"read_at":"2018-02-28T13:40:56+01:00"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9c8c63a45110c0c5279cb77e54a024c2"
      Location:
      - "/api/v3/participants/4"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519822800'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 12:40:56 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.user":"https://www.bookingsync.com/api/v3/users/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T12:40:56Z","id":4,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T12:40:56Z"}],"meta":{}}'
  recorded_at: Wed, 28 Feb 2018 12:41:09 GMT
recorded_with: VCR 4.0.0
