---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/inbox/participants/8
    body:
      encoding: UTF-8
      string: '{"participants":[{"read":true}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4651154873cdad9f76716da16c620eca"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521838800'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 20:01:29 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.host":"https://www.bookingsync.com/api/v3/hosts/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-03-23T20:01:29Z","id":8,"last_message_sent_at":null,"read_at":"2018-03-23T20:01:29Z","updated_at":"2018-03-23T20:01:29Z"}],"meta":{}}'
  recorded_at: Fri, 23 Mar 2018 20:01:29 GMT
recorded_with: VCR 4.0.0
