---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/participants/5
    body:
      encoding: UTF-8
      string: '{"participants":[{"read":true}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"95a83d9e0d0bdd4386996c73310824ff"
      Location:
      - "/api/v3/participants/5"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519833600'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 15:30:06 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.user":"https://www.bookingsync.com/api/v3/users/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T15:30:06Z","id":5,"last_message_sent_at":null,"read_at":"2018-02-28T15:30:06Z","updated_at":"2018-02-28T15:30:06Z"}],"meta":{}}'
  recorded_at: Wed, 28 Feb 2018 15:30:07 GMT
recorded_with: VCR 4.0.0
