---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/participants/6
    body:
      encoding: UTF-8
      string: '{"participants":[{"read":true}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d2e93926ac217a97e1c36714484b7d41"
      Location:
      - "/api/v3/participants/6"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519930800'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-01 18:27:05 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.user":"https://www.bookingsync.com/api/v3/users/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-03-01T18:27:05Z","id":6,"last_message_sent_at":null,"read_at":"2018-03-01T18:27:06Z","updated_at":"2018-03-01T18:27:06Z"}],"meta":{}}'
  recorded_at: Thu, 01 Mar 2018 18:27:06 GMT
recorded_with: VCR 4.0.0
