---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_tags/587
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-08-29 07:05:55 UTC
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Reset:
      - '1503993600'
      X-Ratelimit-Remaining:
      - '9997'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_tags/587?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings_tags/587?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"b73b213eea630f7ac4e3b07116cdf6b0"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_tags.account":"https://www.bookingsync.com/api/v3/accounts/{bookings_tags.account}"},"bookings_tags":[{"links":{"account":9123},"id":587,"name":{"en":"with
        pets"},"color":"#6666ff","logo":"fa-group","created_at":"2016-11-29T08:31:16Z","updated_at":"2017-08-29T06:48:09Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/bookings_tags/587?page=1","last":"https://www.bookingsync.com/api/v3/bookings_tags/587?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Tue, 29 Aug 2017 07:05:56 GMT
recorded_with: VCR 3.0.3
