---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/payments/2
    body:
      encoding: UTF-8
      string: "{\"payments\":[{\"kind\":\"cash\"}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398171600'
      X-Ratelimit-Remaining:
      - '997'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"b4616121ed3149207705e62094986ecd\""
    body:
      encoding: UTF-8
      string: "{\"links\":{\"payments.billing_address\":\"https://www.bookingsync.com/api/v3/billing_addresses/{payments.billing_address}\",\"payments.bookings\":\"https://www.bookingsync.com/api/v3/bookings/{payments.bookings}\",\"payments.bookings_payments\":\"https://www.bookingsync.com/api/v3/bookings_payments/{payments.bookings_payments}\"},\"payments\":[{\"links\":{\"billing_address\":null,\"bookings\":[5],\"bookings_payments\":[2]},\"id\":2,\"account_id\":1,\"transaction_id\":null,\"order_id\":null,\"card\":null,\"amount\":125200,\"currency\":\"EUR\",\"kind\":\"cash\",\"fullname\":null,\"email\":null,\"locale\":null,\"ip\":null,\"test\":null,\"notes\":null,\"paid_at\":\"2014-04-07T13:18:42Z\",\"created_at\":\"2014-04-14T13:18:42Z\",\"updated_at\":\"2014-04-22T11:23:32Z\",\"rejected_at\":null,\"canceled_at\":null}]}"
  recorded_at: Tue, 22 Apr 2014 12:00:20 GMT
recorded_with: VCR 2.9.0
