---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rental_urls/e3511ab6-0976-44a7-befe-3e1e08d6f924/restore
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"871faa247f344cff8c07babb2402549d"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1718103600'
      X-Updated-Since-Request-Synced-At:
      - 2024-06-11 10:10:21 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_urls.rental":"https://www.bookingsync.com/api/v3/api/v3/rentals/{rental_urls.rental}","rental_urls.account":"https://www.bookingsync.com/api/v3/api/v3/accounts/{rental_urls.account}"},"rental_urls":[{"links":{"account":1,"rental":1},"id":"e3511ab6-0976-44a7-befe-3e1e08d6f924","label":"Website
        Builder - Test website","url":"https://1wymanyost.us.example.com/en/rentals/1-rental-in-nevache","lock":{"record":"","attributes":{}},"canceled_at":null,"created_at":"2024-06-05T12:33:13Z","updated_at":"2024-06-11T10:10:21Z"}],"meta":{}}'
  recorded_at: Tue, 11 Jun 2024 10:10:21 GMT
recorded_with: VCR 5.0.0
