---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rates_tables/274/seasons
    body:
      encoding: UTF-8
      string: '{"seasons":[{"name":"New season","ratio_percentage":0.2,"minimum_stay":4}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 11:01:00 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481284800'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables/274/seasons?page=1&seasons%5B%5D%5Bminimum_stay%5D=4&seasons%5B%5D%5Bname%5D=New+season&seasons%5B%5D%5Bratio_percentage%5D=0.2>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/seasons/529835
      Etag:
      - W/"3311a8b753d2268833971604892ea96e"
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{seasons.rates_table}","seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":529835,"name":{"en":"New
        season"},"ratio_percentage":"0.2","minimum_stay":4,"created_at":"2016-12-09T11:01:00Z","updated_at":"2016-12-09T11:01:00Z","color":"#1CAC78","color_ratio":1.0}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 11:01:00 GMT
recorded_with: VCR 3.0.3
