---
http_interactions:
- request:
    method: put
    uri: http://bookingsync.dev/api/v3/booking_comments/9
    body:
      encoding: UTF-8
      string: '{"booking_comments":[{"content":"Updated content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1461074400'
      X-Ratelimit-Remaining:
      - '982'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"613bddb49fc447319c814e9b838fb24c"'
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.booking":"http://bookingsync.dev/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"booking":1},"id":9,"content":"Updated
        content","editable":true,"created_at":"2016-04-19T12:47:00Z","updated_at":"2016-04-19T12:56:41Z"}],"meta":{}}'
  recorded_at: Tue, 19 Apr 2016 13:53:13 GMT
recorded_with: VCR 3.0.1
