---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/booking_comments/94141
    body:
      encoding: UTF-8
      string: '{"booking_comments":[{"content":"Updated content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:30 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '996'
      Etag:
      - W/"38ea6c4eb794160194d9324e7ca93df0"
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.account":"https://www.bookingsync.com/api/v3/accounts/{booking_comments.account}","booking_comments.booking":"https://www.bookingsync.com/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"account":3837,"booking":817604},"id":94141,"content":"Updated
        content","editable":true,"created_at":"2016-12-12T11:52:08Z","updated_at":"2016-12-12T12:04:29Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:30 GMT
recorded_with: VCR 3.0.3
