---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/booking_comments/92649
    body:
      encoding: UTF-8
      string: '{"booking_comments":[{"content":"Updated content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:49:07 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '963'
      Etag:
      - W/"3cc55bb4503e6ba2f4208c22cb31a12b"
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.account":"https://www.bookingsync.com/api/v3/accounts/{booking_comments.account}","booking_comments.booking":"https://www.bookingsync.com/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"account":3837,"booking":817604},"id":92649,"content":"Updated
        content","editable":true,"created_at":"2016-12-08T15:48:45Z","updated_at":"2016-12-08T15:49:07Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:49:07 GMT
recorded_with: VCR 3.0.3
