---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/fees
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:41 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '981'
      Link:
      - <https://www.bookingsync.com/api/v3/fees?page=1>; rel="first", <https://www.bookingsync.com/api/v3/fees?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '100'
      Etag:
      - W/"32ebcc18d73feaa05ce33c93d2b6d805"
    body:
      encoding: UTF-8
      string: '{"links":{"fees.account":"https://www.bookingsync.com/api/v3/accounts/{fees.account}"},"fees":[{"links":{"account":3837},"id":474,"name":{"en":"test
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2015-09-09T20:23:53Z","updated_at":"2015-09-09T20:23:54Z","downpayment_percentage":"10.0","kind":"other"},{"links":{"account":3837},"id":659,"name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2015-11-17T16:53:15Z","updated_at":"2015-11-17T16:53:16Z","downpayment_percentage":"10.0","kind":"other"},{"links":{"account":3837},"id":2161,"name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2016-12-06T13:13:27Z","updated_at":"2016-12-06T13:13:27Z","downpayment_percentage":"10.0","kind":"other"},{"links":{"account":3837},"id":2174,"name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2016-12-08T16:57:16Z","updated_at":"2016-12-08T16:57:16Z","downpayment_percentage":"10.0","kind":"other"}]}'
  recorded_at: Mon, 12 Dec 2016 11:32:41 GMT
recorded_with: VCR 3.0.3
