---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/fees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1427202000'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://www.bookingsync.com/api/v3/fees?page=1>; rel="first", <https://www.bookingsync.com/api/v3/fees?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"c31f9e3c8bee92680521f9259ff5a451"'
    body:
      encoding: UTF-8
      string: '{"links":{"fees.account":"https://www.bookingsync.com/api/v3/accounts/{fees.account}"},"fees":[{"links":{"account":4630},"id":38,"rate":"100.0","rate_kind":"fixed","created_at":"2015-03-24T12:13:34Z","updated_at":"2015-03-24T12:13:34Z","downpayment_percentage":"0.0"}]}'
  recorded_at: Tue, 24 Mar 2015 12:21:43 GMT
recorded_with: VCR 2.9.3
