---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reservations/offers/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2026-08-13 09:44:42 UTC
      X-Ratelimit-Limit:
      - '1000000'
      X-Ratelimit-Reset:
      - '1786615200'
      X-Ratelimit-Remaining:
      - '999976'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Link:
      - <https://www.bookingsync.com/api/v3/reservations/offers/1?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/reservations/offers/1?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      Etag:
      - W/"b3defe4f924af6ef0183d667749907a1"
      X-Miniprofiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-Miniprofiler-Ids:
      - 18hsstf7dalhz1hf4a7d,ra82uxje18ygexj4ebq7,ucv0vs4vz1ai6ytk030,ycdu6o3yi0jc7rfaqxei,wbeca207fohukg0y7doh,a4li770cewkr5mdzcntt,w79m5h3hjpl2gu7vmyr2,su93n1eqsd9p8jw1gjt7,mghevmsym2u5r5hjcg4l,cnueo2x7jxovu7yxrzu1,583icg9w65zmv9p0owlv,xjifh57wefx9sadw8dsk,9r1cbvaxy660so0rosec,ii0cu8whbp05k4seu0g9,51upjlzc2fiiomb3px3a,rb4n8ibdesq5vpgi5qls,pqzqqi27j140pnsmzjnx,ti8eyk58ij432etthju4,ve10ya82r6clzqh9i3if,qh5surbc19l3vghlvjfl
    body:
      encoding: UTF-8
      string: '{"links":{"offers.account":"https://www.bookingsync.com/api/v3/accounts/{offers.account}","offers.application":"https://www.bookingsync.com/api/v3/applications/{offers.application}","offers.booking":"https://www.bookingsync.com/api/v3/bookings/{offers.booking}","offers.client":"https://www.bookingsync.com/api/v3/clients/{offers.client}","offers.rental":"https://www.bookingsync.com/api/v3/rentals/{offers.rental}"},"offers":[{"links":{"account":1,"application":1,"booking":null,"client":1,"rental":1},"adults":2,"canceled_at":null,"children":0,"created_at":"2026-08-13T09:19:56Z","created_by_id":1,"created_by_type":"Doorkeeper::Application","currency":"EUR","end_date":"2026-10-08","expires_at":"2026-09-01T12:00:00Z","id":1,"start_date":"2026-10-01","status":"pending","total_amount_cents":99000,"updated_at":"2026-08-13T09:20:10Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/reservations/offers/1?page=1","last":"https://www.bookingsync.com/api/v3/reservations/offers/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Thu, 13 Aug 2026 09:44:42 GMT
recorded_with: VCR 6.4.0
