---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/hosts/2
    body:
      encoding: UTF-8
      string: '{"hosts":[{"firstname":"Johnny"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"860e705e56add93f2eda2223443eb003"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521838800'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 20:40:37 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"hosts.user":"https://www.bookingsync.com/api/v3/users/{hosts.user}","hosts.source":"https://www.bookingsync.com/api/v3/sources/{hosts.source}","hosts.account":"https://www.bookingsync.com/api/v3/accounts/{hosts.account}","hosts.participants":"https://www.bookingsync.com/api/v3/inbox/participants/{hosts.participants}"},"hosts":[{"links":{"account":1,"participants":[],"source":1,"user":1},"id":2,"firstname":"Johnny","lastname":"Doe","email":"host_email@example.com","created_at":"2018-03-23T20:40:36Z","updated_at":"2018-03-23T20:40:37Z"}],"meta":{}}'
  recorded_at: Fri, 23 Mar 2018 20:40:37 GMT
recorded_with: VCR 4.0.0
