---
http_interactions:
- request:
    method: patch
    uri: https://www.bookingsync.com/api/v3/reservations/requests/60
    body:
      encoding: UTF-8
      string: '{"reservations_requests":[{"expires_at":"2026-07-01T12:00:00Z"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"links":{"requests.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{requests.conversation}","requests.rental":"https://www.bookingsync.com/api/v3/rentals/{requests.rental}","requests.client":"https://www.bookingsync.com/api/v3/clients/{requests.client}","requests.booking":"https://www.bookingsync.com/api/v3/bookings/{requests.booking}"},"requests":[{"links":{"conversation":123,"rental":456,"client":789,"booking":101},"id":60,"expires_at":"2026-07-01T12:00:00Z","status":"pending","booking_payload":{"start_date":"2026-07-01","end_date":"2026-07-08","adults":2,"children":0,"final_price":"950.00","currency":"EUR"},"created_at":"2026-07-06T10:00:00Z","updated_at":"2026-07-06T11:00:00Z"}]}'
  recorded_at: Mon, 06 Jul 2026 11:00:00 GMT
recorded_with: VCR 3.0.3
