---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/special_offers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396609200'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <http://bookingsync.dev/api/v3/special_offers.json?page=1>; rel="first", <http://bookingsync.dev/api/v3/special_offers.json?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - ! '"76929473623594e5662d05b594fa862d"'
    body:
      encoding: US-ASCII
      string: ! '{"special_offers":[{"id":1,"rental_id":2,"name":"Super hot awesome","start_at":"2014-04-21","end_at":"2014-04-30","discount":5},{"id":2,"rental_id":2,"name":"tes
        1","start_at":"2014-05-01","end_at":"2014-05-29","discount":10}]}'
  recorded_at: Fri, 04 Apr 2014 10:51:30 GMT
recorded_with: VCR 2.9.0
