---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/special_offers/4653
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"name_en":"Updated special offer"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:44:39 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '988'
      Etag:
      - W/"62ae25eb276d70f619e2b34a5368158e"
    body:
      encoding: UTF-8
      string: '{"links":{"special_offers.rental":"https://www.bookingsync.com/api/v3/rentals/{special_offers.rental}"},"special_offers":[{"links":{"rental":5116},"id":4653,"name":{"en":"Updated
        special offer"},"start_date":"2017-04-28","end_date":"2017-05-28","discount":5.0,"created_at":"2016-12-09T14:43:54Z","updated_at":"2016-12-09T14:44:39Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 14:44:39 GMT
recorded_with: VCR 3.0.3
