---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/special_offers/4661
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"name_en":"Updated special offer"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:38 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '981'
      Etag:
      - W/"01d4a159c54bcb2d3359716ff16bf4eb"
    body:
      encoding: UTF-8
      string: '{"links":{"special_offers.rental":"https://www.bookingsync.com/api/v3/rentals/{special_offers.rental}"},"special_offers":[{"links":{"rental":5116},"id":4661,"name":{"en":"Updated
        special offer"},"start_date":"2017-04-28","end_date":"2017-05-28","discount":5.0,"created_at":"2016-12-12T11:52:24Z","updated_at":"2016-12-12T12:04:38Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:38 GMT
recorded_with: VCR 3.0.3
