---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reservations/requests?page=1&per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.bookingsync.com/api/v3/reservations/requests?page=1&per_page=2>; rel="first",
        <https://www.bookingsync.com/api/v3/reservations/requests?page=2&per_page=2>; rel="next",
        <https://www.bookingsync.com/api/v3/reservations/requests?page=2&per_page=2>; rel="last"
      X-Total-Pages:
      - '2'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '2'
    body:
      encoding: UTF-8
      string: '{"links":{"requests.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{requests.conversation}","requests.rental":"https://www.bookingsync.com/api/v3/rentals/{requests.rental}","requests.client":"https://www.bookingsync.com/api/v3/clients/{requests.client}","requests.booking":"https://www.bookingsync.com/api/v3/bookings/{requests.booking}"},"requests":[{"links":{"conversation":123,"rental":456,"client":789,"booking":101},"id":55,"expires_at":"2026-06-25T12:00:00Z","status":"pending","booking_payload":{"start_date":"2026-07-01","end_date":"2026-07-08","adults":2,"children":0,"final_price":"950.00","currency":"EUR"},"created_at":"2026-06-20T10:00:00Z","updated_at":"2026-06-20T10:00:00Z"},{"links":{"conversation":124,"rental":457,"client":790,"booking":null},"id":56,"expires_at":"2026-06-26T12:00:00Z","status":"pending","booking_payload":{"start_date":"2026-08-01","end_date":"2026-08-05","adults":1,"children":0,"final_price":"400.00","currency":"EUR"},"created_at":"2026-06-21T10:00:00Z","updated_at":"2026-06-21T10:00:00Z"}]}'
  recorded_at: Mon, 06 Jul 2026 10:00:00 GMT
[...]
