---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/sources
    body:
      encoding: UTF-8
      string: '{"sources":[{"name":"New source"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1407834000'
      X-Ratelimit-Remaining:
      - '986'
      Location:
      - https://www.bookingsync.com/api/v3/sources/5
      Etag:
      - '"278b3f3a81462353f1306a2d10a8139e"'
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https:\/\/www.bookingsync.com\/api\/v3\/accounts\/{sources.account}"},"sources":[{"links":{"account":1},"id":5,"name":"New
        source","created_at":"2014-08-12T08:19:30Z","updated_at":"2014-08-12T08:19:30Z"}]}'
  recorded_at: Tue, 12 Aug 2014 08:19:30 GMT
recorded_with: VCR 2.9.2
