---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/sources
    body:
      encoding: UTF-8
      string: '{"sources":[{"name":"New source"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:27:06 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://www.bookingsync.com/api/v3/sources?page=1&sources%5B%5D%5Bname%5D=New+source>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/sources/4509
      Etag:
      - W/"ea536386efda96d60db4f044af68641e"
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https://www.bookingsync.com/api/v3/accounts/{sources.account}","sources.bookings":"https://www.bookingsync.com/api/v3/bookings/{sources.bookings}"},"sources":[{"links":{"account":3837,"bookings":[]},"id":4509,"name":"New
        source","created_at":"2016-12-09T14:27:06Z","updated_at":"2016-12-09T14:27:06Z","position":5}]}'
  recorded_at: Fri, 09 Dec 2016 14:27:06 GMT
recorded_with: VCR 3.0.3
