---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/sources
    body:
      encoding: UTF-8
      string: '{"sources":[{"name":"New source"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:24 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '891'
      Link:
      - <https://www.bookingsync.com/api/v3/sources?page=1&sources%5B%5D%5Bname%5D=New+source>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/sources/4516
      Etag:
      - W/"0753ac1d89b7cfc1e44b664bffc8eb9b"
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https://www.bookingsync.com/api/v3/accounts/{sources.account}","sources.bookings":"https://www.bookingsync.com/api/v3/bookings/{sources.bookings}"},"sources":[{"links":{"account":3837,"bookings":[]},"id":4516,"name":"New
        source","created_at":"2016-12-12T11:52:24Z","updated_at":"2016-12-12T11:52:24Z","position":6}]}'
  recorded_at: Mon, 12 Dec 2016 11:52:24 GMT
recorded_with: VCR 3.0.3
