---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/preferences_general_settings
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:46 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '973'
      Link:
      - <https://www.bookingsync.com/api/v3/preferences_general_settings?page=1>;
        rel="first", <https://www.bookingsync.com/api/v3/preferences_general_settings?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"eb9b51d1eb284526d670fd22614cfea4"
    body:
      encoding: UTF-8
      string: '{"links":{"preferences_general_settings.account":"https://www.bookingsync.com/api/v3/accounts/{preferences_general_settings.account}"},"preferences_general_settings":[{"links":{"account":3837},"id":3780,"email":"dev@bookingsync.com","default_arrival_time":16,"default_departure_time":10,"selected_locales":["en","fr","de"],"business_name":"BSA-Website-Test","website":"","phone":"","mobile":"","fax":"","address1":"","address2":"","city":"","state":"","zip":"","country":null,"country_code":"","full_address":"","default_communication_locale":"en"}]}'
  recorded_at: Mon, 12 Dec 2016 11:32:46 GMT
recorded_with: VCR 3.0.3
