---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/special_offers/3
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"name":"Updated special offer"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398430800'
      X-Ratelimit-Remaining:
      - '992'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"f111bd4b8967773b0108dc1a81d0769d"'
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"id":3,"rental_id":12,"name":"Updated special offer","start_at":"2014-05-01","end_at":"2014-05-02","discount":4}]}'
  recorded_at: Fri, 25 Apr 2014 12:46:44 GMT
recorded_with: VCR 2.9.0
