---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/nightly_rate_maps/2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Total-Pages:
      - '1'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1474462800'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <http://bookingsync.dev/api/v3/nightly_rate_maps/2?page=1>; rel="first", <http://bookingsync.dev/api/v3/nightly_rate_maps/2?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      Etag:
      - W/"f44626db903d148776cc105f2487dd32"
      X-Total-Count:
      - '1'
    body:
      encoding: UTF-8
      string: '{"links":{"nightly_rate_maps.rental":"http://bookingsync.dev/api/v3/rentals/{nightly_rate_maps.rental}"},"nightly_rate_maps":[{"links":{"rental":2},"id":2,"rates_map":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0[...]
