---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/clients/77703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '978'
      Link:
      - <https://www.bookingsync.com/api/v3/clients/77703?page=1>; rel="first", <https://www.bookingsync.com/api/v3/clients/77703?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"d09581465982553e8120354ea2e078af"'
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":77703,"addresses":[],"emails":[{"label":"default","email":"aa@test.com"}],"phones":[],"created_at":"2015-09-09T19:58:00Z","updated_at":"2015-09-09T20:07:42Z","fullname":"Gary
        Smith","notes":"","preferred_locale":"","passport":""}]}'
  recorded_at: Wed, 09 Sep 2015 20:09:06 GMT
recorded_with: VCR 2.9.2
