---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/clients/77703
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:49 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '939'
      Link:
      - <https://www.bookingsync.com/api/v3/clients/77703?page=1>; rel="first", <https://www.bookingsync.com/api/v3/clients/77703?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"a0d75c4cb26b4a92fccd7112292c5c49"
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":77703,"addresses":[],"emails":[{"label":"default","email":"aa@test.com"}],"phones":[],"created_at":"2015-09-09T19:58:00Z","updated_at":"2016-12-09T10:31:03Z","fullname":"Gary
        Smith","notes":"","preferred_locale":"","passport":"","company":"","vat_number":""}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:49 GMT
recorded_with: VCR 3.0.3
