---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_fees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1427202000'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_fees?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rentals_fees?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"710d100420f325f2511502cfa6919c6b"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_fees.fee":"https://www.bookingsync.com/api/v3/fees/{rentals_fees.fee}","rentals_fees.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_fees.rental}"},"rentals_fees":[{"links":{"fee":38,"rental":7678},"id":74,"always_applied":true,"end_date":null,"maximum_bookable":null,"public":true,"required":true,"start_date":null,"created_at":"2015-03-24T12:14:55Z","updated_at":"2015-03-24T12:14:55Z"}]}'
  recorded_at: Tue, 24 Mar 2015 12:21:45 GMT
recorded_with: VCR 2.9.3
