---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_fees
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:06:58 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_fees?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rentals_fees?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '3'
      X-Per-Page:
      - '100'
      Etag:
      - W/"fe599c392359c15b26e95ae13c77c99c"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_fees.fee":"https://www.bookingsync.com/api/v3/fees/{rentals_fees.fee}","rentals_fees.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_fees.rental}","rentals_fees.seasons":"https://www.bookingsync.com/api/v3/seasons/{rentals_fees.seasons}"},"rentals_fees":[{"links":{"fee":474,"rental":5116,"seasons":[]},"id":3306,"always_applied":true,"end_date":null,"maximum_bookable":2,"public":false,"required":false,"start_date":null,"created_at":"2015-09-09T20:50:47Z","updated_at":"2015-09-09T20:50:47Z","name":{"en":"test
        fee"},"rate":"10.0","rate_kind":"fixed","archived_at":null},{"links":{"fee":659,"rental":5116,"seasons":[]},"id":4060,"always_applied":true,"end_date":null,"maximum_bookable":10,"public":false,"required":false,"start_date":null,"created_at":"2015-11-17T17:02:44Z","updated_at":"2015-11-17T17:02:44Z","name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","archived_at":null},{"links":{"fee":2161,"rental":5116,"seasons":[]},"id":15269,"always_applied":true,"end_date":null,"maximum_bookable":10,"public":false,"required":false,"start_date":null,"created_at":"2016-12-06T16:09:49Z","updated_at":"2016-12-06T16:09:49Z","name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","archived_at":null}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 10:06:58 GMT
recorded_with: VCR 3.0.3
