---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/photos/5775
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:52 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '930'
      Link:
      - <https://www.bookingsync.com/api/v3/photos/5775?page=1>; rel="first", <https://www.bookingsync.com/api/v3/photos/5775?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"7911bef6aff8bcc7b4adba7e272ebd9f"
    body:
      encoding: UTF-8
      string: '{"links":{"photos.account":"https://www.bookingsync.com/api/v3/accounts/{photos.account}","photos.rental":"https://www.bookingsync.com/api/v3/rentals/{photos.rental}"},"photos":[{"links":{"account":3837,"rental":5116},"id":5775,"description":{},"kind":null,"micro_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_32,q_90,w_48/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","thumb_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_64,q_90,w_96/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","small_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_128,q_90,w_192/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","compact_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_256,q_90,w_384/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","medium_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_512,q_90,w_768/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","large_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_800,q_90,w_1200/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","grande_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_1024,q_90,w_1536/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","giant_url":"https://res-2.cloudinary.com/bookingsync/image/upload/c_fill,f_auto,fl_progressive,g_center,h_1600,q_90,w_2400/v1418041581/d632f485e815dba0bee126ea4d2b100a.jpg","position":1,"created_at":"2014-08-08T18:48:54Z","updated_at":"2015-11-09T10:11:50Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:52 GMT
recorded_with: VCR 3.0.3
