---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_fees/8112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '971'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_fees/8112?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings_fees/8112?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"11196184ecd06659695c489cde1521d6"'
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_fees.rentals_fee":"https://www.bookingsync.com/api/v3/rentals_fees/{bookings_fees.rentals_fee}","bookings_fees.booking":"https://www.bookingsync.com/api/v3/bookings/{bookings_fees.booking}","bookings_fees.fee":"https://www.bookingsync.com/api/v3/fees/{bookings_fees.fee}","bookings_fees.bookings_taxes":"https://www.bookingsync.com/api/v3/bookings_taxes/{bookings_fees.bookings_taxes}"},"bookings_fees":[{"links":{"rentals_fee":3306,"booking":142616,"fee":474,"bookings_taxes":[]},"id":8112,"name":{"en":"test
        fee"},"price":"0.0","required":false,"included_in_price":true,"times_booked":2,"created_at":"2015-09-09T21:13:53Z","updated_at":"2015-09-09T21:13:53Z"}],"meta":{}}'
  recorded_at: Wed, 09 Sep 2015 21:14:18 GMT
recorded_with: VCR 2.9.2
