---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_payments
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:47:10 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '972'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_payments?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings_payments?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '3'
      X-Per-Page:
      - '100'
      Etag:
      - W/"ee976711d6736aca44258f211cd22b68"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_payments.account":"https://www.bookingsync.com/api/v3/accounts/{bookings_payments.account}","bookings_payments.booking":"https://www.bookingsync.com/api/v3/bookings/{bookings_payments.booking}","bookings_payments.payment":"https://www.bookingsync.com/api/v3/payments/{bookings_payments.payment}","bookings_payments.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings_payments.rental}"},"bookings_payments":[{"links":{"account":3837,"booking":142616,"payment":71959,"rental":5116},"id":71982,"amount_in_cents":100000,"currency":"EUR","created_at":"2015-09-09T19:58:06Z","updated_at":"2015-09-09T19:58:06Z"},{"links":{"account":3837,"booking":819091,"payment":268113,"rental":5117},"id":268146,"amount_in_cents":80000,"currency":"EUR","created_at":"2016-12-06T16:21:13Z","updated_at":"2016-12-06T16:21:13Z"},{"links":{"account":3837,"booking":817604,"payment":268198,"rental":5117},"id":268231,"amount_in_cents":200,"currency":"EUR","created_at":"2016-12-07T00:31:20Z","updated_at":"2016-12-07T00:31:20Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:47:10 GMT
recorded_with: VCR 3.0.3
