---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_tables/274
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:22:21 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '991'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables/274?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rates_tables/274?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"07fe80dfa08693a5f1c9c269b32ef2e0"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.account":"https://www.bookingsync.com/api/v3/accounts/{rates_tables.account}","rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}","rates_tables.periods":"https://www.bookingsync.com/api/v3/periods/{rates_tables.periods}","rates_tables.rentals":"https://www.bookingsync.com/api/v3/rentals/{rates_tables.rentals}"},"rates_tables":[{"links":{"account":3837,"seasons":[1806,1805,1803,1804,1802],"rates_rules":[137397,22740,252,13777],"periods":[88197],"rentals":[5116,5117]},"id":274,"name":"Saturday","created_at":"2014-08-08T18:29:36Z","updated_at":"2016-12-09T09:22:20Z","shared":true}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 09:22:21 GMT
recorded_with: VCR 3.0.3
