---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_tables/274
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '932'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables/274?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rates_tables/274?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"3cc5c74f278143419a0f3440a771c075"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.account":"https://www.bookingsync.com/api/v3/accounts/{rates_tables.account}","rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}","rates_tables.periods":"https://www.bookingsync.com/api/v3/periods/{rates_tables.periods}","rates_tables.rentals":"https://www.bookingsync.com/api/v3/rentals/{rates_tables.rentals}"},"rates_tables":[{"links":{"account":3837,"seasons":[1806,1805,1804,1803,1802],"rates_rules":[13777,252],"periods":[4727,4729,4730,4731,4732,4733,4734,4735,4736,4737,4738,4739],"rentals":[5116,5117]},"id":274,"name":"Saturday","created_at":"2014-08-08T18:29:36Z","updated_at":"2015-09-09T20:36:12Z","shared":true}]}'
  recorded_at: Wed, 09 Sep 2015 20:36:48 GMT
recorded_with: VCR 2.9.2
