---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inquiries
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:56:42 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481216400'
      X-Ratelimit-Remaining:
      - '976'
      Link:
      - <https://www.bookingsync.com/api/v3/inquiries?page=1>; rel="first", <https://www.bookingsync.com/api/v3/inquiries?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      X-Per-Page:
      - '100'
      Etag:
      - W/"4ef004ad7be692d2c7c68729a450ce73"
    body:
      encoding: UTF-8
      string: '{"links":{"inquiries.rental":"https://www.bookingsync.com/api/v3/rentals/{inquiries.rental}","inquiries.source":"https://www.bookingsync.com/api/v3/sources/{inquiries.source}","inquiries.booking":"https://www.bookingsync.com/api/v3/bookings/{inquiries.booking}"},"inquiries":[{"links":{"rental":5116,"source":null,"booking":null},"id":16072,"firstname":"John","lastname":"Smith","email":"john@example.com","country_code":null,"phone":null,"start_at":"2016-12-06T16:00:00Z","end_at":"2016-12-07T10:00:00Z","adults":null,"children":null,"message":null,"locked":"doorkeeper/application-17","created_at":"2016-12-06T13:21:13Z","updated_at":"2016-12-06T13:21:13Z"},{"links":{"rental":5116,"source":null,"booking":null},"id":16073,"firstname":"John","lastname":"Smith","email":"john@example.com","country_code":null,"phone":null,"start_at":"2016-12-06T16:00:00Z","end_at":"2016-12-07T10:00:00Z","adults":null,"children":null,"message":null,"locked":"doorkeeper/application-17","created_at":"2016-12-06T13:23:26Z","updated_at":"2016-12-06T13:23:26Z"}]}'
  recorded_at: Thu, 08 Dec 2016 16:56:42 GMT
recorded_with: VCR 3.0.3
