---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bathrooms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:35 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/bathrooms?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bathrooms?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '7'
      X-Per-Page:
      - '100'
      Etag:
      - W/"f87fd9713118cdfb39ed0ec9fbda4ab9"
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":730,"name":{"en":"Bathroom
        2","fr":"Salle de bain 2"},"wc_count":0,"shower_count":0,"bath_count":0,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"},{"links":{"rental":5117},"id":731,"name":{"en":"Bathroom
        1","fr":"Salle de bain 1"},"wc_count":0,"shower_count":0,"bath_count":0,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"},{"links":{"rental":5117},"id":732,"name":{"en":"Bathroom
        2","fr":"Salle de bain 2"},"wc_count":0,"shower_count":0,"bath_count":0,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"},{"links":{"rental":5116},"id":8729,"name":{"en":"New
        bathroom"},"wc_count":1,"shower_count":0,"bath_count":0,"created_at":"2015-09-08T18:55:45Z","updated_at":"2015-09-08T18:55:45Z"},{"links":{"rental":5116},"id":41138,"name":{"en":"New
        bathroom"},"wc_count":0,"shower_count":0,"bath_count":0,"created_at":"2016-12-06T12:30:08Z","updated_at":"2016-12-06T12:30:08Z"},{"links":{"rental":5116},"id":41325,"name":{"en":"Updated
        bathroom"},"wc_count":0,"shower_count":0,"bath_count":0,"created_at":"2016-12-08T15:17:57Z","updated_at":"2016-12-08T15:18:37Z"},{"links":{"rental":5116},"id":41326,"name":{"en":"Updated
        bathroom","fr":"Salle de bain 1"},"wc_count":2,"shower_count":0,"bath_count":0,"created_at":"2016-12-08T15:27:57Z","updated_at":"2016-12-08T15:28:10Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:35 GMT
recorded_with: VCR 3.0.3
