---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bathrooms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441738800'
      X-Ratelimit-Remaining:
      - '965'
      Link:
      - <https://www.bookingsync.com/api/v3/bathrooms?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bathrooms?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      Etag:
      - '"c09fe447113ac4b772b09b6d87c8cbf1"'
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":730,"name":{"en":"Bathroom
        2","fr":"Salle de bain 2"},"wc":false,"shower":false,"bath":false,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"},{"links":{"rental":5116},"id":729,"name":{"en":"Bathroom
        1","fr":"Salle de bain 1"},"wc":false,"shower":false,"bath":false,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"},{"links":{"rental":5117},"id":732,"name":{"en":"Bathroom
        2","fr":"Salle de bain 2"},"wc":false,"shower":false,"bath":false,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"},{"links":{"rental":5117},"id":731,"name":{"en":"Bathroom
        1","fr":"Salle de bain 1"},"wc":false,"shower":false,"bath":false,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"}]}'
  recorded_at: Tue, 08 Sep 2015 18:55:45 GMT
recorded_with: VCR 2.9.2
