---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rates_tables/11
    body:
      encoding: UTF-8
      string: '{"rates_tables":[{"name":"Updated rate table"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398423600'
      X-Ratelimit-Remaining:
      - '973'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"6ea22b82aaa5e8dd4d67c799f25a2c1f"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}"},"rates_tables":[{"links":{"seasons":[6],"rates_rules":[]},"id":11,"account_id":22,"name":"Updated
        rate table","created_at":"2014-04-14T13:19:04Z","updated_at":"2014-04-25T10:48:08Z"}]}'
  recorded_at: Fri, 25 Apr 2014 10:48:09 GMT
recorded_with: VCR 2.9.0
