---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/photos
    body:
      encoding: UTF-8
      string: '{"photos":[{"remote_photo_url":"https://www.ruby-lang.org/images/header-ruby-logo.png","kind":"livingroom"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:15 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '903'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/photos?page=1&photos%5B%5D%5Bkind%5D=livingroom&photos%5B%5D%5Bremote_photo_url%5D=https%3A%2F%2Fwww.ruby-lang.org%2Fimages%2Fheader-ruby-logo.png>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/photos/314252
      Etag:
      - W/"d988625631f5a08ad374e08cdadc16a5"
    body:
      encoding: UTF-8
      string: '{"links":{"photos.account":"https://www.bookingsync.com/api/v3/accounts/{photos.account}","photos.rental":"https://www.bookingsync.com/api/v3/rentals/{photos.rental}"},"photos":[{"links":{"account":3837,"rental":5116},"id":314252,"description":{},"kind":"livingroom","micro_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_32,q_90,w_48/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","thumb_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_64,q_90,w_96/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","small_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_128,q_90,w_192/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","compact_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_256,q_90,w_384/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","medium_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_512,q_90,w_768/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","large_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_800,q_90,w_1200/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","grande_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_1024,q_90,w_1536/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","giant_url":"https://res-3.cloudinary.com/bookingsync/image/upload/c_fit,f_auto,fl_progressive,h_1600,q_90,w_2400/v1481543535/header-ruby-logo_3y4_xoelj7.jpg","position":31,"created_at":"2016-12-12T11:52:15Z","updated_at":"2016-12-12T11:52:15Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:16 GMT
recorded_with: VCR 3.0.3
