---
http_interactions:
- request:
    method: post
    uri: https://bookingsync.dev/api/v3/rentals/2/photos
    body:
      encoding: UTF-8
      string: '{"photos":[{"remote_photo_url":"https://www.ruby-lang.org/images/header-ruby-logo.png","kind":"livingroom"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1399640400'
      X-Ratelimit-Remaining:
      - '961'
      Location:
      - https://bookingsync.dev/api/v3/photos/36
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"b2616b56d1659dbc24cc2ff49cf4038a"'
    body:
      encoding: UTF-8
      string: '{"photos":[{"id":36,"rental_id":2,"description":{"en":null},"kind":"livingroom","large_url":"http://bookingsync.dev/files/development/photo/photo/36/large_3b2a5fb7453e698aa5222f863bb8e601.jpg","normal_url":"http://bookingsync.dev/files/development/photo/photo/36/normal_3b2a5fb7453e698aa5222f863bb8e601.jpg","thumb_url":"http://bookingsync.dev/files/development/photo/photo/36/thumb_3b2a5fb7453e698aa5222f863bb8e601.jpg","micro_url":"http://bookingsync.dev/files/development/photo/photo/36/micro_3b2a5fb7453e698aa5222f863bb8e601.jpg","position":7}]}'
  recorded_at: Fri, 09 May 2014 12:33:09 GMT
recorded_with: VCR 2.9.0
