---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/clients
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:38:50 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481216400'
      X-Ratelimit-Remaining:
      - '984'
      Link:
      - <https://www.bookingsync.com/api/v3/clients?page=1>; rel="first", <https://www.bookingsync.com/api/v3/clients?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '100'
      Etag:
      - W/"a5ca6e30dcda7d24926c07d4fe3f15c2"
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":77703,"addresses":[],"emails":[{"label":"default","email":"aa@test.com"}],"phones":[],"created_at":"2015-09-09T19:58:00Z","updated_at":"2016-12-06T16:21:13Z","fullname":"Gary
        Smith","notes":"","preferred_locale":"","passport":"","company":"","vat_number":""},{"links":{"account":3837},"id":77704,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:03:44Z","updated_at":"2015-09-09T20:03:44Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null,"company":"","vat_number":""},{"links":{"account":3837},"id":77710,"addresses":[],"emails":[{"label":"default","email":"smith@example.com"}],"phones":[],"created_at":"2015-09-09T20:12:27Z","updated_at":"2016-12-07T00:31:20Z","fullname":"John
        Smith","notes":"","preferred_locale":"","passport":"","company":"","vat_number":""},{"links":{"account":3837},"id":258327,"addresses":[],"emails":[{"label":"default","email":"halldor@example.com"}],"phones":[],"created_at":"2016-12-06T13:03:02Z","updated_at":"2016-12-06T13:07:37Z","fullname":"Eero
        Ettala","notes":null,"preferred_locale":null,"passport":null,"company":"","vat_number":""}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 16:38:50 GMT
recorded_with: VCR 3.0.3
