---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '979'
      Link:
      - <https://www.bookingsync.com/api/v3/clients?page=1>; rel="first", <https://www.bookingsync.com/api/v3/clients?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '7'
      Etag:
      - '"45e2bfc45bfb5c3a203922e86ed61a50"'
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":77703,"addresses":[],"emails":[{"label":"default","email":"aa@test.com"}],"phones":[],"created_at":"2015-09-09T19:58:00Z","updated_at":"2015-09-09T20:07:42Z","fullname":"Gary
        Smith","notes":"","preferred_locale":"","passport":""},{"links":{"account":3837},"id":77704,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:03:44Z","updated_at":"2015-09-09T20:03:44Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null},{"links":{"account":3837},"id":77705,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:04:41Z","updated_at":"2015-09-09T20:04:41Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null},{"links":{"account":3837},"id":77706,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:05:08Z","updated_at":"2015-09-09T20:05:08Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null},{"links":{"account":3837},"id":77707,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:05:46Z","updated_at":"2015-09-09T20:05:46Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null},{"links":{"account":3837},"id":77708,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:06:56Z","updated_at":"2015-09-09T20:06:56Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null},{"links":{"account":3837},"id":77709,"addresses":[],"emails":[],"phones":[],"created_at":"2015-09-09T20:07:40Z","updated_at":"2015-09-09T20:07:40Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null}]}'
  recorded_at: Wed, 09 Sep 2015 20:09:05 GMT
recorded_with: VCR 2.9.2
