---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rental_urls/9185bcf8-3cc5-4f1d-9ec6-e6b69049ae8e
    body:
      encoding: UTF-8
      string: '{"rental_urls":{"details_en":"New Details"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"91a1eeb4e5ce70412cbb4d9002e0dca7"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1570312800'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-05 21:01:32 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_urls.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_urls.rental}"},"rental_urls":[{"links":{"rental":1},"id":"9185bcf8-3cc5-4f1d-9ec6-e6b69049ae8e","label":"HomeAway","url":"test_test.com","lock":{"record":"doorkeeper/application-9","attributes":{}},"canceled_at":null,"created_at":"2019-10-05T20:58:12Z","updated_at":"2019-10-05T21:01:32Z"}],"meta":{}}'
  recorded_at: Sat, 05 Oct 2019 21:01:32 GMT
recorded_with: VCR 5.0.0
