---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/destinations
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:41 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '982'
      Link:
      - <https://www.bookingsync.com/api/v3/destinations?page=1>; rel="first", <https://www.bookingsync.com/api/v3/destinations?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '6'
      X-Per-Page:
      - '100'
      Etag:
      - W/"242a4fa9f36919cde8e255bcf07427d4"
    body:
      encoding: UTF-8
      string: '{"destinations":[{"id":99,"name":{"en":"World"},"fullname":{"en":"World"},"permalink":{"en":"world"},"aliases":{},"counter":2,"ancestor_ids":[]},{"id":101,"name":{"en":"Europe"},"fullname":{"en":"Europe,
        World"},"permalink":{"en":"world/europe"},"aliases":{},"counter":2,"ancestor_ids":[99]},{"id":2918,"name":{"en":"Greece"},"fullname":{"en":"Greece,
        Europe, World"},"permalink":{"en":"world/europe/greece"},"aliases":{},"counter":2,"ancestor_ids":[99,101]},{"id":6817,"name":{"en":"Ionian
        Islands"},"fullname":{"en":"Ionian Islands, Greece, Europe, World"},"permalink":{"en":"world/europe/greece/ionian-islands"},"aliases":{},"counter":2,"ancestor_ids":[99,101,2918]},{"id":7160,"name":{"en":"Lefkada
        (Lefkas)"},"fullname":{"en":"Lefkada (Lefkas), Ionian Islands, Greece, Europe,
        World"},"permalink":{"en":"world/europe/greece/ionian-islands/lefkada-lefkas"},"aliases":{},"counter":2,"ancestor_ids":[99,101,2918,6817]},{"id":7301,"name":{"en":"Sivota
        Lefkada"},"fullname":{"en":"Sivota Lefkada, Lefkada (Lefkas), Ionian Islands,
        Greece, Europe, World","fr":"Sivota Lefkada, Lefkada (Lefkas), Ionian Islands,
        Greece, Europe, World","de":"Sivota Lefkada, Lefkada (Lefkas), Ionian Islands,
        Greece, Europe, World"},"permalink":{"en":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada","fr":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada","de":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada"},"aliases":{"en":"---\n-
        Syvota\n"},"counter":2,"ancestor_ids":[99,101,2918,6817,7160]}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:41 GMT
recorded_with: VCR 3.0.3
