---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/contacts
    body:
      encoding: UTF-8
      string: '{"contacts":[{"firstname":"John","lastname":"Doe","email":"halldor@example.com","website":"http://www.demo.com","address1":"Demo
        address","gender":"male","phones":[{"label":"default","number":"123456789"}],"country_code":"IS","city":"Reykjavik","zip":"33209","state":"Demo","spoken_languages":["en"]}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"109d9e77fc462040fed610a1804f174b"
      Location:
      - https://www.bookingsync.com/api/v3/contacts/2
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '990'
      X-Ratelimit-Reset:
      - '1570539600'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-08 12:23:10 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"contacts.account":"https://www.bookingsync.com/api/v3/accounts/{contacts.account}"},"contacts":[{"links":{"account":1},"id":2,"fullname":"John
        Doe","spoken_languages":["en"],"email":"halldor@example.com","phones":[{"label":"default","number":"123456789"}],"website":"http://www.demo.com","private_notes":null,"address1":"Demo
        address","address2":null,"city":"Reykjavik","state":"Demo","zip":"33209","country_code":"IS","firstname":"John","lastname":"Doe","gender":"male","created_at":"2019-10-08T12:23:10Z","updated_at":"2019-10-08T12:23:10Z","canceled_at":null,"forget_me_at":null,"processing_restricted_at":null}],"meta":{}}'
  recorded_at: Tue, 08 Oct 2019 12:23:10 GMT
recorded_with: VCR 5.0.0
