---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/booking_comments/91641
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:46 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '946'
      Link:
      - <https://www.bookingsync.com/api/v3/booking_comments/91641?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/booking_comments/91641?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"c405abb6a9969d44f85b6d928f8db122"
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.account":"https://www.bookingsync.com/api/v3/accounts/{booking_comments.account}","booking_comments.booking":"https://www.bookingsync.com/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"account":3837,"booking":817604},"id":91641,"content":"comment
        body","editable":false,"created_at":"2016-12-06T11:44:47Z","updated_at":"2016-12-06T11:44:47Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:46 GMT
recorded_with: VCR 3.0.3
