---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/booking_comments/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1461074400'
      X-Ratelimit-Remaining:
      - '986'
      Link:
      - <http://bookingsync.dev/api/v3/booking_comments/4?page=1>; rel="first", <http://bookingsync.dev/api/v3/booking_comments/4?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"51fbf37d3903b736ce54b24c63ae20de"'
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.booking":"http://bookingsync.dev/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"booking":1},"id":4,"content":"comment
        4","editable":true,"created_at":"2016-04-18T12:06:36Z","updated_at":"2016-04-18T12:06:36Z"}],"meta":{}}'
  recorded_at: Tue, 19 Apr 2016 13:53:12 GMT
recorded_with: VCR 3.0.1
