---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_agreements/27860
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:42:19 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '984'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_agreements/27860?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rental_agreements/27860?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"15c9859d91755c920992fd79f1911906"
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"id":27860,"body":"Lorem ipsum","created_at":"2016-12-06T15:49:17Z","updated_at":"2016-12-06T15:49:17Z","body_translations":{"en":"Lorem
        ipsum"}}]}'
  recorded_at: Fri, 09 Dec 2016 09:42:19 GMT
recorded_with: VCR 3.0.3
