---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_agreements/29773
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:53 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '926'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_agreements/29773?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rental_agreements/29773?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"98d44db516e98b37fb41d7f85f3e7a51"
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"id":29773,"body":"Lorem ipsum","created_at":"2016-12-09T09:42:19Z","updated_at":"2016-12-09T09:42:19Z","body_translations":{"en":"Lorem
        ipsum"}}]}'
  recorded_at: Mon, 12 Dec 2016 11:43:53 GMT
recorded_with: VCR 3.0.3
