---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_agreements/6905
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '928'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_agreements/6905?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rental_agreements/6905?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"29c9725e89fd0d39cd8660c5e530cf23"'
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"id":6905,"body":"test","created_at":"2015-09-09T20:38:42Z","updated_at":"2015-09-09T20:38:42Z"}]}'
  recorded_at: Wed, 09 Sep 2015 20:39:07 GMT
recorded_with: VCR 2.9.2
