---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rental_contacts/5
    body:
      encoding: UTF-8
      string: '{"rental_contacts":[{"kind":"manager"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2019-10-09 09:25:03 UTC
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"unauthorized"}]}'
  recorded_at: Wed, 09 Oct 2019 09:25:03 GMT
recorded_with: VCR 5.0.0
