---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rental_contacts/5
    body:
      encoding: UTF-8
      string: '{"rental_contacts":[{"kind":"manager"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5deed18550ce6bf175abdc45a8fda760"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
      X-Ratelimit-Reset:
      - '1570615200'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-09 09:00:31 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_contacts.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_contacts.rental}","rental_contacts.contact":"https://www.bookingsync.com/api/v3/contacts/{rental_contacts.contact}"},"rental_contacts":[{"links":{"contact":1,"rental":1},"id":5,"kind":"manager","roles":["invoices"],"created_at":"2019-10-09T08:57:49Z","updated_at":"2019-10-09T09:00:31Z","canceled_at":null}],"meta":{}}'
  recorded_at: Wed, 09 Oct 2019 09:00:31 GMT
recorded_with: VCR 5.0.0
