---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/applications
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2019-01-28 06:51:00 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1548658800'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://www.bookingsync.com/api/v3/applications?page=1>; rel="first", <https://www.bookingsync.com/api/v3/applications?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '7'
      X-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      Etag:
      - W/"42e01960a6efc9143f7fbb79e6c3d8cf"
    body:
      encoding: UTF-8
      string: '{"applications":[{"id":17,"name":"BSA Website DEV","default_price_increase":"0.0"},{"id":65,"name":"Airbnb","default_price_increase":"0.0"},{"id":95,"name":"bsa-secure","default_price_increase":"0.0"},{"id":453,"name":"bsa-booking-staging","default_price_increase":"0.0"},{"id":455,"name":"airConnect","default_price_increase":"0.0"},{"id":560,"name":"Admin
        UI","default_price_increase":"0.0"},{"id":609,"name":"Channel Manager","default_price_increase":"0.0"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/applications?page=1","last":"https://www.bookingsync.com/api/v3/applications?page=1"},"X-Total-Pages":"1","X-Total-Count":"7","X-Per-Page":"100"}}'
  recorded_at: Mon, 28 Jan 2019 06:51:00 GMT
recorded_with: VCR 4.0.0
