---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/seasons/1802/periods
    body:
      encoding: UTF-8
      string: '{"periods":[{"start_date":"2017-04-10","end_date":"2017-04-22"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 00:36:52 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481245200'
      X-Ratelimit-Remaining:
      - '991'
      Link:
      - <https://www.bookingsync.com/api/v3/seasons/1802/periods?page=1&periods%5B%5D%5Bend_date%5D=2017-04-22&periods%5B%5D%5Bstart_date%5D=2017-04-10>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/periods/581569
      Etag:
      - W/"6856c181ac1ca5c12c519aa500b29803"
    body:
      encoding: UTF-8
      string: '{"links":{"periods.season":"https://www.bookingsync.com/api/v3/seasons/{periods.season}","periods.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{periods.rates_table}"},"periods":[{"links":{"season":1802,"rates_table":274},"id":581569,"start_date":"2017-04-10","end_date":"2017-04-22","created_at":"2016-12-09T00:36:52Z","updated_at":"2016-12-09T00:36:52Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 00:36:52 GMT
recorded_with: VCR 3.0.3
