---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/seasons/9/periods
    body:
      encoding: UTF-8
      string: '{"season_id":9,"periods":[{"start_at":"2013-04-10","end_at":"2013-04-22"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398445200'
      X-Ratelimit-Remaining:
      - '975'
      Location:
      - https://www.bookingsync.com/api/v3/periods/24
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"7017ff0286edc15ebb248ae8ea96d1ad"'
    body:
      encoding: UTF-8
      string: '{"periods":[{"id":24,"season_id":9,"start_at":"2013-04-10","end_at":"2013-04-22","created_at":"2014-04-25T16:41:27Z","updated_at":"2014-04-25T16:41:27Z"}]}'
  recorded_at: Fri, 25 Apr 2014 16:41:28 GMT
recorded_with: VCR 2.9.0
