---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/seasons/1802/periods
    body:
      encoding: UTF-8
      string: '{"periods":[{"start_date":"2017-04-10","end_date":"2017-04-22"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:12 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '906'
      Link:
      - <https://www.bookingsync.com/api/v3/seasons/1802/periods?page=1&periods%5B%5D%5Bend_date%5D=2017-04-22&periods%5B%5D%5Bstart_date%5D=2017-04-10>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/periods/593339
      Etag:
      - W/"87eed8f0b22749f89ff7b6a1222cfa22"
    body:
      encoding: UTF-8
      string: '{"links":{"periods.season":"https://www.bookingsync.com/api/v3/seasons/{periods.season}","periods.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{periods.rates_table}"},"periods":[{"links":{"season":1802,"rates_table":274},"id":593339,"start_date":"2017-04-10","end_date":"2017-04-22","created_at":"2016-12-12T11:52:12Z","updated_at":"2016-12-12T11:52:12Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:12 GMT
recorded_with: VCR 3.0.3
