---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/applications_periods_rentals/2
    body:
      encoding: UTF-8
      string: '{"applications_periods_rental":{"price_increase":3.1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e87338e07e338f7f4b22e391d698502d"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
      X-Ratelimit-Reset:
      - '1549980000'
      X-Updated-Since-Request-Synced-At:
      - 2019-02-12 13:33:29 UTC
    body:
      encoding: UTF-8
      string: '{"applications_periods_rentals":[{"id":2,"price_increase":"3.1","start_date":"2019-01-01","end_date":"2100-01-01"}],"meta":{}}'
  recorded_at: Tue, 12 Feb 2019 13:33:30 GMT
recorded_with: VCR 4.0.0
