---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_payments/71982
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:47:54 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '968'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_payments/71982?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/bookings_payments/71982?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"847b74a20304dff7194baa6a9045fc5e"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_payments.account":"https://www.bookingsync.com/api/v3/accounts/{bookings_payments.account}","bookings_payments.booking":"https://www.bookingsync.com/api/v3/bookings/{bookings_payments.booking}","bookings_payments.payment":"https://www.bookingsync.com/api/v3/payments/{bookings_payments.payment}","bookings_payments.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings_payments.rental}"},"bookings_payments":[{"links":{"account":3837,"booking":142616,"payment":71959,"rental":5116},"id":71982,"amount_in_cents":100000,"currency":"EUR","created_at":"2015-09-09T19:58:06Z","updated_at":"2015-09-09T19:58:06Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:47:54 GMT
recorded_with: VCR 3.0.3
