---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"start_at\":\"2014-01-03\",\"end_at\":\"2014-01-04\",\"rental_id\":20,\"booked\":true}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395313200'
      X-Ratelimit-Remaining:
      - '997'
      Location:
      - https://www.bookingsync.com/api/v3/bookings/72
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"de807f21b0a4b759fc2274c989f281dc\""
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"id\":72,\"account_id\":1,\"rental_id\":20,\"start_at\":\"2014-01-03T00:00:00Z\",\"end_at\":\"2014-01-04T00:00:00Z\"}]}"
  recorded_at: Thu, 20 Mar 2014 10:25:01 GMT
recorded_with: VCR 2.8.0
