---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/inbox/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"content":"Message content","origin":"homeaway","visibility":"all","conversation_id":1,"sender_id":1}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"97e7006d83ac5159402251bfc3cfca13"
      Link:
      - <https://www.bookingsync.com/api/v3/inbox/messages?messages%5B%5D%5Bcontent%5D=Message+content&messages%5B%5D%5Bconversation_id%5D=1&messages%5B%5D%5Borigin%5D=homeaway&messages%5B%5D%5Bsender_id%5D=1&messages%5B%5D%5Bvisibility%5D=all&page=1>;
        rel="first"
      Location:
      - https://www.bookingsync.com/api/v3/inbox/messages/3
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521835200'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 19:40:37 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://www.bookingsync.com/api/v3/inbox/attachments/{messages.attachments}","messages.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{messages.conversation}","messages.sender":"https://www.bookingsync.com/api/v3/inbox/participants/{messages.sender}"},"messages":[{"links":{"attachments":[],"conversation":1,"sender":1},"content":"Message
        content","created_at":"2018-03-23T19:40:37Z","id":3,"origin":"homeaway","sent_at":null,"updated_at":"2018-03-23T19:40:37Z","visibility":"all"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/inbox/messages?messages%5B%5D%5Bcontent%5D=Message+content&messages%5B%5D%5Bconversation_id%5D=1&messages%5B%5D%5Borigin%5D=homeaway&messages%5B%5D%5Bsender_id%5D=1&messages%5B%5D%5Bvisibility%5D=all&page=1"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Fri, 23 Mar 2018 19:40:37 GMT
recorded_with: VCR 4.0.0
