---
http_interactions:
- request:
    method: post
    uri: https://bookingsync.com/api/v3/messages
    body:
      encoding: UTF-8
      string: '{"messages":[{"content":"Message content","origin":"homeaway","visibility":"all","conversation_id":1,"participant_id":1}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6dcc8c93410f72c294369334c7110986"
      Link:
      - <https://bookingsync.com/api/v3/messages?messages%5B%5D%5Bcontent%5D=Message+content&messages%5B%5D%5Bconversation_id%5D=1&messages%5B%5D%5Borigin%5D=homeaway&messages%5B%5D%5Bparticipant_id%5D=1&messages%5B%5D%5Bvisibility%5D=all&page=1>;
        rel="first"
      Location:
      - "/api/v3/messages/10"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519830000'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 14:27:08 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://bookingsync.com/api/v3/attachments/{messages.attachments}","messages.conversation":"https://bookingsync.com/api/v3/conversations/{messages.conversation}","messages.participant":"https://bookingsync.com/api/v3/participants/{messages.participant}"},"messages":[{"links":{"attachments":[],"conversation":1,"participant":1},"content":"Message
        content","created_at":"2018-02-28T14:27:09Z","id":10,"origin":"homeaway","updated_at":"2018-02-28T14:27:09Z","visibility":"all"}],"meta":{"Link":{"first":"https://bookingsync.com/api/v3/messages?messages%5B%5D%5Bcontent%5D=Message+content&messages%5B%5D%5Bconversation_id%5D=1&messages%5B%5D%5Borigin%5D=homeaway&messages%5B%5D%5Bparticipant_id%5D=1&messages%5B%5D%5Bvisibility%5D=all&page=1"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Wed, 28 Feb 2018 14:27:09 GMT
recorded_with: VCR 4.0.0
