---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/nightly_rate_maps
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 18:18:39 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481223600'
      X-Ratelimit-Remaining:
      - '993'
      Link:
      - <https://www.bookingsync.com/api/v3/nightly_rate_maps?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/nightly_rate_maps?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '100'
      Etag:
      - W/"a8b4b20aac68b25cba305d609fa73367"
    body:
      encoding: UTF-8
      string: '{"links":{"nightly_rate_maps.rental":"https://www.bookingsync.com/api/v3/rentals/{nightly_rate_maps.rental}"},"nightly_rate_maps":[{"links":{"rental":5116},"id":3467,"rates_map":"10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,1[...]
