---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/reviews/34/reply
    body:
      encoding: UTF-8
      string: '{"review_replies":[{"message":"Merci!"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"34d31e0437945ca36780e5cde7fff74b"
      Location:
      - https://www.bookingsync.com/api/v3/review_replies/96f9e3f1-ed2a-4c8c-8e2f-1d3e1d0c8356
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '990'
      X-Ratelimit-Reset:
      - '1616428800'
      X-Updated-Since-Request-Synced-At:
      - 2021-03-22 15:51:07 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"review_replies.guest_review":"https://www.bookingsync.com/api/v3/reviews/{review_replies.guest_review}","review_replies.host_review":"https://www.bookingsync.com/api/v3/host_reviews/{review_replies.host_review}"},"review_replies":[{"links":{"guest_review":34,"host_review":null},"id":"96f9e3f1-ed2a-4c8c-8e2f-1d3e1d0c8356","message":"Merci!","submitted_at":null,"created_at":"2021-03-22T15:51:07Z","updated_at":"2021-03-22T15:51:07Z"}],"meta":{}}'
  recorded_at: Mon, 22 Mar 2021 15:51:08 GMT
recorded_with: VCR 3.0.3
