---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/payment_gateways/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1473159600'
      X-Ratelimit-Remaining:
      - '998'
      Link:
      - <http://bookingsync.dev/api/v3/payment_gateways/1?page=1>; rel="first", <http://bookingsync.dev/api/v3/payment_gateways/1?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"662823924c0a75e10796bdfbaff46e32"
    body:
      encoding: UTF-8
      string: '{"payment_gateways":[{"id":1,"test":true,"gateway_name":"bogus","credentials":{},"supported_cardtypes":["bogus"],"supported_currencies":["EUR","USD","AUD"],"created_at":"2016-09-05T14:09:15Z","updated_at":"2016-09-05T14:09:15Z"}]}'
  recorded_at: Tue, 06 Sep 2016 10:20:00 GMT
recorded_with: VCR 3.0.0
