---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/bookings/50
    body:
      encoding: UTF-8
      string: '{"bookings":[{"end_at":"2019-03-25 21:45:00 UTC"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398106800'
      X-Ratelimit-Remaining:
      - '994'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"debe38042667808d7c3c70691861b7b3"'
    body:
      encoding: UTF-8
      string: '{"bookings":[{"id":50,"account_id":1,"rental_id":20,"start_at":"2019-03-20T21:45:00Z","end_at":"2019-03-25T21:45:00Z"}]}'
  recorded_at: Mon, 21 Apr 2014 18:33:54 GMT
recorded_with: VCR 2.9.0
