---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/clients
    body:
      encoding: UTF-8
      string: '{"clients":[{"fullname":"John Smith","phone":"11111111","mobile":"33333333","email":"smith@example.com","fax":"1111111","address1":"Italy","country_code":"IT","city":"Rome"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397516400'
      X-Ratelimit-Remaining:
      - '996'
      Location:
      - https://www.bookingsync.com/api/v3/clients/21
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"f60f84f3cae91e0bb7b5a0b1f4983735"'
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":21,"email":"smith@example.com","phone":"11111111","mobile":"33333333","fax":"1111111","address1":"Italy","address2":null,"city":"Rome","state":null,"zip":null,"country_code":"IT","account_id":1,"created_at":"2014-04-14T22:04:16Z","updated_at":"2014-04-14T22:04:16Z","fullname":"John
        Smith","notes":null}]}'
  recorded_at: Mon, 14 Apr 2014 22:04:17 GMT
recorded_with: VCR 2.9.0
