---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/bedrooms/42701
    body:
      encoding: UTF-8
      string: '{"bedrooms":[{"name_en":"Updated bedroom","name_fr":"Chambre 1"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:29 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '998'
      Etag:
      - W/"c53460020ef3e548dfaa7ae383a6fc69"
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":42701,"name":{"en":"Updated
        bedroom","fr":"Chambre 1"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-12-12T11:52:08Z","updated_at":"2016-12-12T12:04:29Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:29 GMT
recorded_with: VCR 3.0.3
