---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/bedrooms/944
    body:
      encoding: UTF-8
      string: '{"bedrooms":[{"name_en":"Updated bedroom"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441738800'
      X-Ratelimit-Remaining:
      - '967'
      Etag:
      - '"71ea099e0acfa2f393786825ca27e6b9"'
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":944,"name":{"en":"Updated
        bedroom","fr":"Chambre 1"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-08-12T22:23:31Z","updated_at":"2015-09-08T18:30:09Z"}]}'
  recorded_at: Tue, 08 Sep 2015 18:32:03 GMT
recorded_with: VCR 2.9.2
