---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings/829184/reviews
    body:
      encoding: UTF-8
      string: '{"reviews":[{"comment":"Awesome place","rating":5}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:58:35 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '950'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings/829184/reviews?page=1&reviews%5B%5D%5Bcomment%5D=Awesome+place&reviews%5B%5D%5Brating%5D=5>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/reviews/80477
      Etag:
      - W/"1ba03c2c3a21b5c9d708928694081307"
    body:
      encoding: UTF-8
      string: '{"links":{"reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{reviews.booking}","reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{reviews.rental}"},"reviews":[{"links":{"booking":829184,"rental":5116},"id":80477,"rating":5,"comment":"Awesome
        place","name":"Eero E.","title":"Awesome place","created_at":"2016-12-09T10:58:35Z","updated_at":"2016-12-09T10:58:35Z"}]}'
  recorded_at: Fri, 09 Dec 2016 10:58:35 GMT
recorded_with: VCR 3.0.3
