---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings/1/reviews
    body:
      encoding: UTF-8
      string: '{"reviews":[{"comment":"Awesome place","rating":5}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398423600'
      X-Ratelimit-Remaining:
      - '997'
      Location:
      - https://www.bookingsync.com/api/v3/reviews/3
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"c9c6c54ccda7eb504ef18ad27dafa70d"'
    body:
      encoding: UTF-8
      string: '{"reviews":[{"id":3,"rating":5,"comment":"Awesome place","name":"Palma
        S.","updated_at":"2014-04-25T10:25:34Z"}]}'
  recorded_at: Fri, 25 Apr 2014 10:25:34 GMT
recorded_with: VCR 2.9.0
