---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings/3/reviews
    body:
      encoding: UTF-8
      string: '{"reviews":[{"comment":"Awesome place","rating":5}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e5c7c30a3c7938c3a3b5301b7f6fb0a9"
      Location:
      - https://www.bookingsync.com/api/v3/reviews/13
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1638367200'
      X-Updated-Since-Request-Synced-At:
      - 2021-12-01 13:08:46 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"reviews.source":"https://www.bookingsync.com/api/v3/sources/{reviews.source}","reviews.reply":"https://www.bookingsync.com/api/v3/review_replies/{reviews.reply}","reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{reviews.booking}","reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{reviews.rental}","reviews.account":"https://www.bookingsync.com/api/v3/accounts/{reviews.account}"},"reviews":[{"links":{"account":1,"booking":3,"rental":1,"reply":null,"source":null},"id":13,"rating":5,"comment":"Awesome
        place","name":"Full N.","title":"Awesome place","country_code":null,"created_at":"2021-12-01T13:08:47Z","updated_at":"2021-12-01T13:08:47Z","rating_accurate":"5.0","shareable":true,"private_comment":null,"dismissed_at":null,"dismissed_by":null,"dismissal_reason":null,"criteria":{"cleanliness":null,"checkin":null,"communication":null,"location":null,"facilities":null,"comfort":null,"staff":null,"value_for_money":null,"accuracy":null}}],"meta":{}}'
  recorded_at: Wed, 01 Dec 2021 13:08:51 GMT
recorded_with: VCR 3.0.3
