---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_taxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1427202000'
      X-Ratelimit-Remaining:
      - '923'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_taxes?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bookings_taxes?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      Etag:
      - '"62de21dabf8671eb0223094482fb681f"'
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_taxes.booking":"https://www.bookingsync.com/api/v3/bookings/{bookings_taxes.booking}","bookings_taxes.tax":"https://www.bookingsync.com/api/v3/taxes/{bookings_taxes.tax}","bookings_taxes.rentals":"https://www.bookingsync.com/api/v3/rentals/{bookings_taxes.taxable.id}","bookings_taxes.fees":"https://www.bookingsync.com/api/v3/fees/{bookings_taxes.taxable.id}"},"bookings_taxes":[{"links":{"booking":118302,"tax":21,"taxable":{"id":38,"type":"Fee"}},"id":83,"name":{"en":"VAT"},"tax_included_in_price":false,"percentage":"23.0","amount":"23.0"},{"links":{"booking":118302,"tax":20,"taxable":{"id":7678,"type":"Rental"}},"id":82,"name":{"en":"Rental
        VAT"},"tax_included_in_price":false,"percentage":"23.0","amount":"138.0"}]}'
  recorded_at: Tue, 24 Mar 2015 12:47:16 GMT
recorded_with: VCR 2.9.3
