---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_taxes
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:38:50 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481216400'
      X-Ratelimit-Remaining:
      - '986'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_taxes?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bookings_taxes?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"13ff4b477ab8dcce2945f7e2f7fa8f4c"
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_taxes.account":"https://www.bookingsync.com/api/v3/accounts/{bookings_taxes.account}","bookings_taxes.booking":"https://www.bookingsync.com/api/v3/bookings/{bookings_taxes.booking}","bookings_taxes.tax":"https://www.bookingsync.com/api/v3/taxes/{bookings_taxes.tax}","bookings_taxes.rental":"https://www.bookingsync.com/api/v3/rentals/{bookings_taxes.taxable.id}","bookings_taxes.fee":"https://www.bookingsync.com/api/v3/fees/{bookings_taxes.taxable.id}"},"bookings_taxes":[{"links":{"account":3837,"booking":142616,"tax":168,"taxable":{"id":5116,"type":"Rental"}},"id":8157,"name":{"en":"test
        tax"},"tax_included_in_price":true,"percentage":"0.0","amount":null}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 16:38:50 GMT
recorded_with: VCR 3.0.3
