---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/participants
    body:
      encoding: UTF-8
      string: '{"participants":[{"read":false,"conversation_id":1,"member_id":1,"member_type":"Client"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f203ebc860bd84a4020ee888890174f0"
      Link:
      - <https://www.bookingsync.com/api/v3/participants?page=1&participants%5B%5D%5Bconversation_id%5D=1&participants%5B%5D%5Bmember_id%5D=1&participants%5B%5D%5Bmember_type%5D=Client&participants%5B%5D%5Bread%5D=false>;
        rel="first"
      Location:
      - "/api/v3/participants/5"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519833600'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 15:30:06 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"participants.conversation":"https://www.bookingsync.com/api/v3/conversations/{participants.conversation}","participants.client":"https://www.bookingsync.com/api/v3/clients/{participants.member.id}","participants.user":"https://www.bookingsync.com/api/v3/users/{participants.member.id}"},"participants":[{"links":{"conversation":1,"member":{"id":1,"type":"Client"}},"created_at":"2018-02-28T15:30:06Z","id":5,"last_message_sent_at":null,"read_at":null,"updated_at":"2018-02-28T15:30:06Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/participants?page=1&participants%5B%5D%5Bconversation_id%5D=1&participants%5B%5D%5Bmember_id%5D=1&participants%5B%5D%5Bmember_type%5D=Client&participants%5B%5D%5Bread%5D=false"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Wed, 28 Feb 2018 15:30:06 GMT
recorded_with: VCR 4.0.0
