---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rates_tables/84094
    body:
      encoding: UTF-8
      string: '{"rates_tables":[{"name":"Updated rate table"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:22:21 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '990'
      Etag:
      - W/"ce7897840bdd30587cfe95a90c4f3000"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.account":"https://www.bookingsync.com/api/v3/accounts/{rates_tables.account}","rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}","rates_tables.periods":"https://www.bookingsync.com/api/v3/periods/{rates_tables.periods}","rates_tables.rentals":"https://www.bookingsync.com/api/v3/rentals/{rates_tables.rentals}"},"rates_tables":[{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":84094,"name":"Updated
        rate table","created_at":"2016-12-09T09:21:45Z","updated_at":"2016-12-09T09:22:21Z","shared":true}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 09:22:21 GMT
recorded_with: VCR 3.0.3
