---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rates_tables/85291
    body:
      encoding: UTF-8
      string: '{"rates_tables":[{"name":"Updated rate table"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:35 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '985'
      Etag:
      - W/"1b97b99c807bd46d28a5fff5ae632612"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.account":"https://www.bookingsync.com/api/v3/accounts/{rates_tables.account}","rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}","rates_tables.periods":"https://www.bookingsync.com/api/v3/periods/{rates_tables.periods}","rates_tables.rentals":"https://www.bookingsync.com/api/v3/rentals/{rates_tables.rentals}"},"rates_tables":[{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":85291,"name":"Updated
        rate table","created_at":"2016-12-12T11:52:19Z","updated_at":"2016-12-12T12:04:35Z","shared":true}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:35 GMT
recorded_with: VCR 3.0.3
