---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/bedrooms
    body:
      encoding: UTF-8
      string: '{"bedrooms":[{"name_en":"New bedroom","sofa_beds_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441738800'
      X-Ratelimit-Remaining:
      - '968'
      Location:
      - https://www.bookingsync.com/api/v3/bedrooms/7368
      Etag:
      - '"5202ae8ea158342886c8c73b4f9a5688"'
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":7368,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2015-09-08T18:31:59Z","updated_at":"2015-09-08T18:31:59Z"}]}'
  recorded_at: Tue, 08 Sep 2015 18:32:01 GMT
recorded_with: VCR 2.9.2
