---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/bedrooms
    body:
      encoding: UTF-8
      string: '{"bedrooms":[{"name_en":"New bedroom","sofa_beds_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:08 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '914'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/bedrooms?bedrooms%5B%5D%5Bname_en%5D=New+bedroom&bedrooms%5B%5D%5Bsofa_beds_count%5D=2&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/bedrooms/42701
      Etag:
      - W/"76f9d52cad9e69825b7c330b5a25c514"
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":42701,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-12-12T11:52:08Z","updated_at":"2016-12-12T11:52:08Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:08 GMT
recorded_with: VCR 3.0.3
