---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/clients
    body:
      encoding: UTF-8
      string: '{"clients":[{"fullname":"John Smith","emails":[{"label":"default","email":"smith@example.com"}],"country_code":"IT","city":"Rome"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '973'
      Location:
      - https://www.bookingsync.com/api/v3/clients/77710
      Etag:
      - '"315799e6d1eeda96ad5f811e96c8a19f"'
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":77710,"addresses":[],"emails":[{"label":"default","email":"smith@example.com"}],"phones":[],"created_at":"2015-09-09T20:12:27Z","updated_at":"2015-09-09T20:12:27Z","fullname":"John
        Smith","notes":null,"preferred_locale":null,"passport":null}]}'
  recorded_at: Wed, 09 Sep 2015 20:12:28 GMT
recorded_with: VCR 2.9.2
