---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/clients
    body:
      encoding: UTF-8
      string: '{"clients":[{"fullname":"Halldor Helgason","emails":[{"label":"default","email":"halldor@example.com"}],"country_code":"IS","city":"Reykjavik"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:10 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '910'
      Link:
      - <https://www.bookingsync.com/api/v3/clients?clients%5B%5D%5Bcity%5D=Reykjavik&clients%5B%5D%5Bcountry_code%5D=IS&clients%5B%5D%5Bemails%5D%5B%5D%5Bemail%5D=halldor%40example.com&clients%5B%5D%5Bemails%5D%5B%5D%5Blabel%5D=default&clients%5B%5D%5Bfullname%5D=Halldor+Helgason&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/clients/260693
      Etag:
      - W/"877f44b537761ee74aebf3c210a05927"
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":260693,"addresses":[],"emails":[{"label":"default","email":"halldor@example.com"}],"phones":[],"created_at":"2016-12-12T11:52:10Z","updated_at":"2016-12-12T11:52:10Z","fullname":"Halldor
        Helgason","notes":null,"preferred_locale":null,"passport":null,"company":"","vat_number":""}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:10 GMT
recorded_with: VCR 3.0.3
