---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/inquiries
    body:
      encoding: UTF-8
      string: "{\"inquiries\":[{\"rental_id\":7,\"start_at\":\"2014-03-25 16:49:59
        +0100\",\"end_at\":\"2014-03-26 16:49:59 +0100\",\"firstname\":\"John\",\"lastname\":\"Smith\",\"email\":\"john@example.com\"}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395763200'
      X-Ratelimit-Remaining:
      - '995'
      Location:
      - https://www.bookingsync.com/api/v3/inquiries/2
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"c981057d155d5d184ea98ee77b860c87\""
    body:
      encoding: UTF-8
      string: "{\"inquiries\":[{\"id\":2,\"firstname\":\"John\",\"lastname\":\"Smith\",\"email\":\"john@example.com\",\"country_code\":null,\"phone\":null,\"start_at\":\"2014-03-25T16:00:00Z\",\"end_at\":\"2014-03-26T10:00:00Z\",\"adults\":null,\"children\":null,\"rental_id\":7,\"message\":null,\"created_at\":\"2014-03-25T15:50:12Z\",\"updated_at\":\"2014-03-25T15:50:12Z\"}]}"
  recorded_at: Tue, 25 Mar 2014 15:50:13 GMT
recorded_with: VCR 2.8.0
