---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inquiries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395763200'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - "<https://www.bookingsync.com/api/v3/inquiries?page=1>; rel=\"first\", <https://www.bookingsync.com/api/v3/inquiries?page=1>;
        rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"5ce3f361e48a5948646c6c51dd86b319\""
    body:
      encoding: UTF-8
      string: "{\"inquiries\":[{\"id\":1,\"firstname\":\"John\",\"lastname\":\"Smith\",\"email\":\"john@example.com\",\"country_code\":null,\"phone\":null,\"start_at\":\"2014-03-27T16:00:00Z\",\"end_at\":\"2014-03-28T10:00:00Z\",\"adults\":null,\"children\":null,\"rental_id\":2,\"message\":null,\"created_at\":\"2014-03-25T15:10:28Z\",\"updated_at\":\"2014-03-25T15:10:28Z\"}]}"
  recorded_at: Tue, 25 Mar 2014 15:22:25 GMT
recorded_with: VCR 2.8.0
