---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/taxes
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:55 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '952'
      Link:
      - <https://www.bookingsync.com/api/v3/taxes?page=1>; rel="first", <https://www.bookingsync.com/api/v3/taxes?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"b8e1377c1909e334a2491832ada26ba7"
    body:
      encoding: UTF-8
      string: '{"links":{"taxes.account":"https://www.bookingsync.com/api/v3/accounts/{taxes.account}"},"taxes":[{"links":{"account":3837},"id":168,"percentage":"10.0","created_at":"2015-09-09T20:23:54Z","updated_at":"2016-07-14T12:08:24Z","name":{"en":"test
        tax"}}]}'
  recorded_at: Mon, 12 Dec 2016 11:32:55 GMT
recorded_with: VCR 3.0.3
