---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/taxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1427202000'
      X-Ratelimit-Remaining:
      - '993'
      Link:
      - <https://www.bookingsync.com/api/v3/taxes?page=1>; rel="first", <https://www.bookingsync.com/api/v3/taxes?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      Etag:
      - '"1bd03b90a1b781f1a17944dda4b1ae06"'
    body:
      encoding: UTF-8
      string: '{"links":{"taxes.account":"https://www.bookingsync.com/api/v3/accounts/{taxes.account}"},"taxes":[{"links":{"account":4630},"id":20,"percentage":"23.0","created_at":"2015-03-24T12:12:32Z","updated_at":"2015-03-24T12:12:32Z"},{"links":{"account":4630},"id":21,"percentage":"23.0","created_at":"2015-03-24T12:12:43Z","updated_at":"2015-03-24T12:12:43Z"}]}'
  recorded_at: Tue, 24 Mar 2015 12:21:46 GMT
recorded_with: VCR 2.9.3
