---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_contents_overrides/2279
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-11-27 14:15:50 UTC
      X-Ratelimit-Limit:
      - '100000'
      X-Ratelimit-Reset:
      - '1511794800'
      X-Ratelimit-Remaining:
      - '89038'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_contents_overrides/2279?page=1>;
        rel="first", <https://www.bookingsync.com/api/v3/rentals_contents_overrides/2279?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"24dce481291b0cf29ada47a4045c7201"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_contents_overrides.application":"https://www.bookingsync.com/api/v3/applications/{rentals_contents_overrides.application}","rentals_contents_overrides.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_contents_overrides.rental}"},"rentals_contents_overrides":[{"links":{"application":31,"rental":5117},"id":2279,"headline":{"en":"custom
        english headline"},"summary":{},"description":{},"created_at":"2017-11-27T13:33:09Z","updated_at":"2017-11-27T13:34:00Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/rentals_contents_overrides/2279?page=1","last":"https://www.bookingsync.com/api/v3/rentals_contents_overrides/2279?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Mon, 27 Nov 2017 14:15:50 GMT
recorded_with: VCR 3.0.3
