
---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/inbox/attachments
    body:
      encoding: UTF-8
      string: '{"attachments":[{"remote_file_url":"https://www.ruby-lang.org/images/header-ruby-logo.png","name":"test.jpg"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"dfc852bda9fffc9e1f31a06688b032a2"
      Location:
      - https://www.bookingsync.com/api/v3/inbox/attachments/13
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      X-Ratelimit-Reset:
      - '1526054400'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-11 15:07:44 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"attachments.account":"https://www.bookingsync.com/api/v3/accounts/{attachments.account}","attachments.messages":"https://www.bookingsync.com/api/v3/inbox/messages/{attachments.messages}"},"attachments":[{"links":{"account":1,"messages":[]},"created_at":"2018-05-11T15:07:44Z","file_content_type":"image/png","file_size":5365,"id":13,"image_height":62,"image_width":62,"name":"test.jpg","updated_at":"2018-05-11T15:07:44Z","url":"/uploads/header-ruby-logo.png"}],"meta":{}}'
  recorded_at: Fri, 11 May 2018 15:07:44 GMT
recorded_with: VCR 4.0.0
