---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bedrooms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:35 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://www.bookingsync.com/api/v3/bedrooms?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bedrooms?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '6'
      X-Per-Page:
      - '100'
      Etag:
      - W/"6a2e5e75ba357c9f89f2dbd19535e578"
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":945,"name":{"en":"Bedroom
        2","fr":"Chambre 2"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-08-12T22:23:31Z","updated_at":"2015-08-12T22:23:31Z"},{"links":{"rental":5116},"id":7364,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:23:39Z","updated_at":"2015-09-08T18:23:39Z"},{"links":{"rental":5116},"id":7365,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:26:01Z","updated_at":"2015-09-08T18:26:01Z"},{"links":{"rental":5116},"id":7366,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:28:21Z","updated_at":"2015-09-08T18:28:21Z"},{"links":{"rental":5116},"id":7367,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:30:04Z","updated_at":"2015-09-08T18:30:04Z"},{"links":{"rental":5116},"id":7368,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2015-09-08T18:31:59Z","updated_at":"2015-09-08T18:31:59Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:35 GMT
recorded_with: VCR 3.0.3
