---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bedrooms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441738800'
      X-Ratelimit-Remaining:
      - '969'
      Link:
      - <https://www.bookingsync.com/api/v3/bedrooms?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bedrooms?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '6'
      Etag:
      - '"0cdf18e4a868760cf1c5d354dbb9466f"'
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":7367,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:30:04Z","updated_at":"2015-09-08T18:30:04Z"},{"links":{"rental":5116},"id":7366,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:28:21Z","updated_at":"2015-09-08T18:28:21Z"},{"links":{"rental":5116},"id":7365,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:26:01Z","updated_at":"2015-09-08T18:26:01Z"},{"links":{"rental":5116},"id":7364,"name":{"en":"New
        bedroom"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-09-08T18:23:39Z","updated_at":"2015-09-08T18:23:39Z"},{"links":{"rental":5116},"id":945,"name":{"en":"Bedroom
        2","fr":"Chambre 2"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-08-12T22:23:31Z","updated_at":"2015-08-12T22:23:31Z"},{"links":{"rental":5116},"id":944,"name":{"en":"Updated
        bedroom","fr":"Chambre 1"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-08-12T22:23:31Z","updated_at":"2015-09-08T18:30:09Z"}]}'
  recorded_at: Tue, 08 Sep 2015 18:31:57 GMT
recorded_with: VCR 2.9.2
