---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396530000'
      X-Ratelimit-Remaining:
      - '988'
      Link:
      - <http://bookingsync.dev/api/v3/reviews.json?page=1>; rel="first", <http://bookingsync.dev/api/v3/reviews.json?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - ! '"976c90c2bccf739846f845905b690122"'
    body:
      encoding: US-ASCII
      string: ! '{"reviews":[{"id":1,"rating":4,"comment":"It was nice","name":"Stefan
        W.","updated_at":"2014-04-02T08:52:44Z"}]}'
  recorded_at: Thu, 03 Apr 2014 12:25:10 GMT
recorded_with: VCR 2.9.0
