---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396965600.0'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/reviews?page=1>; rel="first", <https://www.bookingsync.com/api/v3/reviews?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Etag:
      - '"dc276df48dc3d29bff0e2e3d6111d921"'
    body:
      encoding: UTF-8
      string: '{"reviews":[{"id":2,"rating":5,"comment":null,"name":"seb","updated_at":"2013-06-27T19:30:29Z"},{"id":3,"rating":4,"comment":null,"name":"seb","updated_at":"2013-06-27T19:30:37Z"},{"id":4,"rating":4,"comment":null,"name":"seb","updated_at":"2013-06-27T19:53:20Z"},{"id":5,"rating":5,"comment":null,"name":"seb","updated_at":"2013-06-27T20:04:01Z"},{"id":6,"rating":5,"comment":null,"name":"seb","updated_at":"2013-06-27T20:24:08Z"},{"id":7,"rating":5,"comment":"","name":"asdf","updated_at":"2013-08-03T09:34:06Z"},{"id":8,"rating":5,"comment":"juste
        parfait\r\n",[...]
