---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/host_reviews/04356dc9-1349-4e05-b818-09ccdac8d5dd
    body:
      encoding: UTF-8
      string: '{"host_reviews":[{"submitted_at":"2021-03-22T12:00:00Z","comment":"Awesome
        guest, great cook!","is_guest_recommended":true,"private_comment":"Thanks
        doing the dishes"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"87c319cc585beabd47714a7184b83892"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
      X-Ratelimit-Reset:
      - '1616428800'
      X-Updated-Since-Request-Synced-At:
      - 2021-03-22 15:33:47 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"host_reviews.source":"https://www.bookingsync.com/api/v3/sources/{host_reviews.source}","host_reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{host_reviews.booking}","host_reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{host_reviews.rental}","host_reviews.account":"https://www.bookingsync.com/api/v3/accounts/{host_reviews.account}","host_reviews.reply":"https://www.bookingsync.com/api/v3/review_replies/{host_reviews.reply}"},"host_reviews":[{"links":{"account":1,"booking":96,"rental":1,"reply":null,"source":null},"id":"04356dc9-1349-4e05-b818-09ccdac8d5dd","comment":"Awesome
        guest, great cook!","created_at":"2021-03-22T15:23:27Z","updated_at":"2021-03-22T15:33:47Z","shareable":true,"private_comment":"Thanks
        doing the dishes","criteria":{"cleanliness":null,"communication":null,"respect_house_rules":null},"submitted_at":"2021-03-22T12:00:00Z","is_guest_recommended":true,"expires_at":null}],"meta":{}}'
  recorded_at: Mon, 22 Mar 2021 15:33:47 GMT
recorded_with: VCR 3.0.3
