---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/periods
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:45 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '975'
      Link:
      - <https://www.bookingsync.com/api/v3/periods?page=1>; rel="first", <https://www.bookingsync.com/api/v3/periods?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"245118ac3ccda72c08c16012976969bb"
    body:
      encoding: UTF-8
      string: '{"links":{"periods.season":"https://www.bookingsync.com/api/v3/seasons/{periods.season}","periods.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{periods.rates_table}"},"periods":[{"links":{"season":1803,"rates_table":274},"id":88197,"start_date":"2016-01-18","end_date":"2017-01-16","created_at":"2015-11-10T10:11:21Z","updated_at":"2015-11-10T10:11:21Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:45 GMT
recorded_with: VCR 3.0.3
