---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/periods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397228400'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/periods?page=1>; rel="first", <https://www.bookingsync.com/api/v3/periods?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - ! '"4a494ff511e56a635ef461ff38bfeca2"'
    body:
      encoding: US-ASCII
      string: ! '{"periods":[{"id":1,"season_id":1,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:07:57Z","updated_at":"2014-04-10T13:07:57Z"},{"id":2,"season_id":2,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:02Z","updated_at":"2014-04-10T13:08:02Z"},{"id":3,"season_id":3,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:06Z","updated_at":"2014-04-10T13:08:06Z"},{"id":4,"season_id":4,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:12Z","updated_at":"2014-04-10T13:08:12Z"},{"id":5,"season_id":5,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:16Z","updated_at":"2014-04-10T13:08:16Z"},{"id":6,"season_id":6,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:20Z","updated_at":"2014-04-10T13:08:20Z"},{"id":7,"season_id":7,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:25Z","updated_at":"2014-04-10T13:08:25Z"},{"id":8,"season_id":8,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:29Z","updated_at":"2014-04-10T13:08:29Z"},{"id":9,"season_id":9,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:34Z","updated_at":"2014-04-10T13:08:34Z"},{"id":10,"season_id":10,"start_at":"2014-04-10","end_at":"2014-07-10","created_at":"2014-04-10T13:08:38Z","updated_at":"2014-04-10T13:08:38Z"}]}'
  recorded_at: Fri, 11 Apr 2014 14:18:30 GMT
recorded_with: VCR 2.9.0
