---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/seasons
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:58:51 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '949'
      Link:
      - <https://www.bookingsync.com/api/v3/seasons?page=1>; rel="first", <https://www.bookingsync.com/api/v3/seasons?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '5'
      X-Per-Page:
      - '100'
      Etag:
      - W/"1a076617514ea67ef7db19a570c04a05"
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{seasons.rates_table}","seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":1802,"name":{"en":"Very
        High Season"},"ratio_percentage":"100.0","minimum_stay":5,"created_at":"2014-08-08T18:29:46Z","updated_at":"2016-12-09T00:39:48Z","color":"#FFB732","color_ratio":1.0},{"links":{"rates_table":274,"rates_rules":[22740],"periods":[88197]},"id":1803,"name":{"en":"High
        Season"},"ratio_percentage":"89.0","minimum_stay":2,"created_at":"2014-08-08T18:29:54Z","updated_at":"2016-12-06T14:28:05Z","color":"#A0D453","color_ratio":1.0},{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":1804,"name":{"en":"Medium
        Season"},"ratio_percentage":"79.0","minimum_stay":3,"created_at":"2014-08-08T18:30:22Z","updated_at":"2016-07-07T00:37:29Z","color":"#46B1CA","color_ratio":1.0},{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":1805,"name":{"en":"Low
        Season"},"ratio_percentage":"50.0","minimum_stay":2,"created_at":"2014-08-08T18:30:37Z","updated_at":"2016-07-07T00:37:29Z","color":"#FC2847","color_ratio":1.0},{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":1806,"name":{"en":"Out
        Of Season"},"ratio_percentage":"36.0","minimum_stay":2,"created_at":"2014-08-08T18:30:59Z","updated_at":"2016-07-07T01:05:56Z","color":"#5D76CB","color_ratio":1.0}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 10:58:52 GMT
recorded_with: VCR 3.0.3
