---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals/323,354/search?end_at=2014-06-25&max_price=400&start_at=2014-06-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1403028000'
      X-Ratelimit-Remaining:
      - '716'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/323,354/search?end_at=2014-06-25&max_price=400&page=1&start_at=2014-06-20>;
        rel="first", <https://www.bookingsync.com/api/v3/rentals/323,354/search?end_at=2014-06-25&max_price=400&page=1&start_at=2014-06-20>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"621224e07863a6f1e9608a835a0b976f"'
    body:
      encoding: UTF-8
      string: '{"rentals":[{"id":323,"initial_price":342,"final_price":342,"updated_at":"2014-06-17T08:32:59Z"}]}'
  recorded_at: Tue, 17 Jun 2014 17:49:24 GMT
recorded_with: VCR 2.9.0
