---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116,5117/search
    body:
      encoding: UTF-8
      string: '{"start_at":"2016-12-15","end_at":"2016-12-22"}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 17:20:44 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481306400'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116,5117/search?end_at=2016-12-22&page=1&start_at=2016-12-15>;
        rel="first", <https://www.bookingsync.com/api/v3/rentals/5116,5117/search?end_at=2016-12-22&page=1&start_at=2016-12-15>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '50'
      Etag:
      - W/"1a4166232d9b876573f4e03d7927fde1"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.rentals_fees":"https://www.bookingsync.com/api/v3/rentals_fees/{rentals.rentals_fees}"},"rentals":[{"links":{"rentals_fees":[]},"id":5116,"currency":"USD","initial_price":70.0,"final_price":70.0,"updated_at":"2016-12-09T14:47:17Z","taxes":[],"price_details":{"taxes":[],"fees":[]},"price_to_pay_now":70.0}]}'
  recorded_at: Fri, 09 Dec 2016 17:20:45 GMT
recorded_with: VCR 3.0.3
