---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/living_rooms
    body:
      encoding: UTF-8
      string: '{"living_rooms":[{"sofa_beds_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:11 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '908'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/living_rooms?living_rooms%5B%5D%5Bsofa_beds_count%5D=2&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/living_rooms/22332
      Etag:
      - W/"c5b5b0716ef3d4d8a2534e5b00675d6e"
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"https://www.bookingsync.com/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":5116},"id":22332,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-12-12T11:52:11Z","updated_at":"2016-12-12T11:52:11Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:11 GMT
recorded_with: VCR 3.0.3
