---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/living_rooms
    body:
      encoding: UTF-8
      string: '{"living_rooms":[{"sofa_beds_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 18:18:38 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481223600'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/living_rooms?living_rooms%5B%5D%5Bsofa_beds_count%5D=2&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/living_rooms/22325
      Etag:
      - W/"903480036a7cd1c3f41cd3c41f9a4a00"
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"https://www.bookingsync.com/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":5116},"id":22325,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-12-08T18:18:38Z","updated_at":"2016-12-08T18:18:38Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 18:18:38 GMT
recorded_with: VCR 3.0.3
