---
http_interactions:
- request:
    method: post
    uri: http://bookingsync.dev/api/v3/rentals/3/living_rooms
    body:
      encoding: UTF-8
      string: '{"living_rooms":[{"sofa_beds_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1480082400'
      X-Ratelimit-Remaining:
      - '992'
      X-Updated-Since-Request-Synced-At:
      - 2016-11-25 13:47:29 UTC
      Link:
      - <http://bookingsync.dev/api/v3/rentals/3/living_rooms?living_rooms%5B%5D%5Bsofa_beds_count%5D=2&page=1>;
        rel="first"
      Location:
      - http://bookingsync.dev/api/v3/living_rooms/9
      X-Per-Page:
      - '100'
      Etag:
      - W/"60973d632e07083c8b7274694851f70e"
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"http://bookingsync.dev/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":3},"id":9,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-11-25T13:47:29Z","updated_at":"2016-11-25T13:47:29Z"}],"meta":{}}'
  recorded_at: Fri, 25 Nov 2016 13:47:29 GMT
recorded_with: VCR 2.9.2
