---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397476800'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates_tables?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"aa678d75950b213013404896ed3e954c"'
    body:
      encoding: UTF-8
      string: '{"rates_tables":[{"id":1,"account_id":2,"name":"Rates Table 1","created_at":"2014-04-10T13:07:56Z","updated_at":"2014-04-10T13:07:57Z"},{"id":3,"account_id":6,"name":"Rates
        Table 3","created_at":"2014-04-10T13:08:01Z","updated_at":"2014-04-10T13:08:02Z"},{"id":5,"account_id":10,"name":"Rates
        Table 5","created_at":"2014-04-10T13:08:05Z","updated_at":"2014-04-10T13:08:06Z"},{"id":7,"account_id":14,"name":"Rates
        Table 7","created_at":"2014-04-10T13:08:11Z","updated_at":"2014-04-10T13:08:12Z"},{"id":9,"account_id":18,"name":"Rates
        Table 9","created_at":"2014-04-10T13:08:15Z","updated_at":"2014-04-10T13:08:16Z"},{"id":11,"account_id":22,"name":"Rates
        Table 11","created_at":"2014-04-10T13:08:19Z","updated_at":"2014-04-10T13:08:20Z"},{"id":13,"account_id":26,"name":"Rates
        Table 13","created_at":"2014-04-10T13:08:24Z","updated_at":"2014-04-10T13:08:25Z"},{"id":15,"account_id":30,"name":"Rates
        Table 15","created_at":"2014-04-10T13:08:29Z","updated_at":"2014-04-10T13:08:29Z"},{"id":17,"account_id":34,"name":"Rates
        Table 17","created_at":"2014-04-10T13:08:33Z","updated_at":"2014-04-10T13:08:34Z"},{"id":19,"account_id":38,"name":"Rates
        Table 19","created_at":"2014-04-10T13:08:37Z","updated_at":"2014-04-10T13:08:38Z"}]}'
  recorded_at: Mon, 14 Apr 2014 11:50:52 GMT
recorded_with: VCR 2.9.0
