
---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inbox/attachments
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d0f5795bf26e926ec9cef6c45f38a35c"
      Link:
      - <https://www.bookingsync.com/api/v3/inbox/attachments?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/inbox/attachments?page=1>; rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1526054400'
      X-Total-Count:
      - '10'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-11 15:07:43 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"attachments.account":"https://www.bookingsync.com/api/v3/accounts/{attachments.account}","attachments.messages":"https://www.bookingsync.com/api/v3/inbox/messages/{attachments.messages}"},"attachments":[{"links":{"account":1,"messages":[]},"created_at":"2018-05-11T11:55:39Z","file_content_type":"image/jpeg","file_size":635,"id":1,"image_height":5,"image_width":20,"name":"updated_test.jpg","updated_at":"2018-05-11T11:55:39Z","url":"/uploads/file.jpeg"},{"links":{"account":1,"messages":[]},"created_at":"2018-05-11T11:59:05Z","file_content_type":"image/jpeg","file_size":635,"id":2,"image_height":5,"image_width":20,"name":"updated_test.jpg","updated_at":"2018-05-11T11:59:05Z","url":"/uploads/file.jpeg"},{"links":{"account":1,"messages":[]},"created_at":"2018-05-11T13:58:52Z","file_content_type":"image/jpeg","file_size":635,"id":3,"image_height":5,"image_width":20,"name":"test.jpg","updated_at":"2018-05-11T13:58:52Z","url":"/[...]
