---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/special_offers
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"name_en":"New special offer","start_date":"2017-04-28","end_date":"2017-05-28","discount":5}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:43:54 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '989'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/special_offers?page=1&special_offers%5B%5D%5Bdiscount%5D=5&special_offers%5B%5D%5Bend_date%5D=2017-05-28&special_offers%5B%5D%5Bname_en%5D=New+special+offer&special_offers%5B%5D%5Bstart_date%5D=2017-04-28>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/special_offers/4653
      Etag:
      - W/"10e51feca7c453ae8fb79718c4f53ad9"
    body:
      encoding: UTF-8
      string: '{"links":{"special_offers.rental":"https://www.bookingsync.com/api/v3/rentals/{special_offers.rental}"},"special_offers":[{"links":{"rental":5116},"id":4653,"name":{"en":"New
        special offer"},"start_date":"2017-04-28","end_date":"2017-05-28","discount":5.0,"created_at":"2016-12-09T14:43:54Z","updated_at":"2016-12-09T14:43:54Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 14:43:54 GMT
recorded_with: VCR 3.0.3
