---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_agreements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397491200'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_agreements?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rental_agreements?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"a701a631d335872bb921be7c758742a3"'
    body:
      encoding: UTF-8
      string: '{"rental_agreements":[{"id":1,"body":"My Agreement","created_at":"2014-04-14T15:16:42Z","updated_at":"2014-04-14T15:16:42Z"}]}'
  recorded_at: Mon, 14 Apr 2014 15:16:53 GMT
recorded_with: VCR 2.9.0
