---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1399312800'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://www.bookingsync.com/api/v3/rates?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"2497b7acaaee2cf80147109225197463"'
    body:
      encoding: UTF-8
      string: '{"rates":[{"id":2,"start_at":"2014-02-11","end_at":"2014-05-10","rental_id":14,"initial_nightly_rate":"100.0","initial_weekly_rate":"700.0","initial_monthly_rate":"3000.0","final_nightly_rate":"100.0","final_weekly_rate":"700.0","final_monthly_rate":"3000.0","minimum_stay":7,"created_at":"2014-04-30T22:57:10Z","updated_at":"2014-04-30T22:57:10Z"}]}'
  recorded_at: Mon, 05 May 2014 17:53:51 GMT
recorded_with: VCR 2.9.0
