---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/amenities/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401202800'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://bookingsync.dev/api/v3/amenities/2?page=1>; rel="first", <https://bookingsync.dev/api/v3/amenities/2?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"d38feaf36a065c3a61be13696bdf4db8"'
    body:
      encoding: UTF-8
      string: '{"amenities":[{"id":2,"title":"tv"}]}'
  recorded_at: Tue, 27 May 2014 14:00:19 GMT
recorded_with: VCR 2.9.1
