---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/amenities/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:27:55 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '988'
      Link:
      - <https://www.bookingsync.com/api/v3/amenities/1?page=1>; rel="first", <https://www.bookingsync.com/api/v3/amenities/1?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"0f40e8b30e061e8386bf97a8445f4235"
    body:
      encoding: UTF-8
      string: '{"amenities":[{"id":1,"key":"blender","title":{"en":"Blender","fr":"Mixeur"}}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:27:55 GMT
recorded_with: VCR 3.0.3
