---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/living_rooms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Total-Pages:
      - '1'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1480082400'
      X-Ratelimit-Remaining:
      - '994'
      X-Updated-Since-Request-Synced-At:
      - 2016-11-25 13:45:46 UTC
      Link:
      - <http://bookingsync.dev/api/v3/living_rooms?page=1>; rel="first", <http://bookingsync.dev/api/v3/living_rooms?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      Etag:
      - W/"077931a97aa0e0c75f9cb9ffb6355e8f"
      X-Total-Count:
      - '3'
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"http://bookingsync.dev/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":23869},"id":6,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":1,"queensize_beds_count":0,"single_beds_count":1,"sofa_beds_count":2,"created_at":"2016-11-24T19:39:43Z","updated_at":"2016-11-24T19:40:02Z"},{"links":{"rental":23875},"id":7,"bunk_beds_count":0,"double_beds_count":1,"kingsize_beds_count":0,"queensize_beds_count":1,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-11-24T19:40:32Z","updated_at":"2016-11-24T19:40:43Z"},{"links":{"rental":23863},"id":8,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":1,"queensize_beds_count":0,"single_beds_count":1,"sofa_beds_count":0,"created_at":"2016-11-25T13:31:09Z","updated_at":"2016-11-25T13:31:09Z"}],"meta":{}}'
  recorded_at: Fri, 25 Nov 2016 13:45:46 GMT
recorded_with: VCR 2.9.2
