---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/living_rooms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:42 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '979'
      Link:
      - <https://www.bookingsync.com/api/v3/living_rooms?page=1>; rel="first", <https://www.bookingsync.com/api/v3/living_rooms?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"4fea454e16834fe6ef12cab10fbeeff2"
    body:
      encoding: UTF-8
      string: '{"links":{"living_rooms.rental":"https://www.bookingsync.com/api/v3/rentals/{living_rooms.rental}"},"living_rooms":[{"links":{"rental":5116},"id":22306,"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":2,"created_at":"2016-12-05T22:57:27Z","updated_at":"2016-12-05T22:57:27Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:43 GMT
recorded_with: VCR 3.0.3
