---
http_interactions:
- request:
    method: post
    uri: http://bookingsync.dev/api/v3/booking_comments
    body:
      encoding: UTF-8
      string: '{"booking_id":1,"booking_comments":[{"content":"Example conent"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1461074400'
      X-Ratelimit-Remaining:
      - '985'
      Location:
      - http://bookingsync.dev/api/v3/booking_comments/13
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"9c9fdfa10dfb3f4836183523ad1c72be"'
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.booking":"http://bookingsync.dev/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"booking":1},"id":13,"content":"Example
        conent","editable":true,"created_at":"2016-04-19T13:53:13Z","updated_at":"2016-04-19T13:53:13Z"}],"meta":{}}'
  recorded_at: Tue, 19 Apr 2016 13:53:13 GMT
recorded_with: VCR 3.0.1
