---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/booking_comments
    body:
      encoding: UTF-8
      string: '{"booking_id":817604,"booking_comments":[{"content":"Example content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:48:45 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '965'
      Link:
      - <https://www.bookingsync.com/api/v3/booking_comments?booking_comments%5B%5D%5Bcontent%5D=Example+content&booking_id=817604&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/booking_comments/92650
      Etag:
      - W/"cff6b15a4c6a3a52158f8ffa83a1cb83"
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.account":"https://www.bookingsync.com/api/v3/accounts/{booking_comments.account}","booking_comments.booking":"https://www.bookingsync.com/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"account":3837,"booking":817604},"id":92650,"content":"Example
        content","editable":true,"created_at":"2016-12-08T15:48:45Z","updated_at":"2016-12-08T15:48:45Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:48:45 GMT
recorded_with: VCR 3.0.3
