---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/booking_comments
    body:
      encoding: UTF-8
      string: '{"booking_id":817604,"booking_comments":[{"content":"Example content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:09 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '912'
      Link:
      - <https://www.bookingsync.com/api/v3/booking_comments?booking_comments%5B%5D%5Bcontent%5D=Example+content&booking_id=817604&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/booking_comments/94142
      Etag:
      - W/"b806f65c27eadd2fb5040380048cea3a"
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.account":"https://www.bookingsync.com/api/v3/accounts/{booking_comments.account}","booking_comments.booking":"https://www.bookingsync.com/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"account":3837,"booking":817604},"id":94142,"content":"Example
        content","editable":true,"created_at":"2016-12-12T11:52:09Z","updated_at":"2016-12-12T11:52:09Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:09 GMT
recorded_with: VCR 3.0.3
