---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rates_tables/274/rates_rules
    body:
      encoding: UTF-8
      string: '{"rates_rules":[{"start_date":"2017-04-10","end_date":"2017-04-22","kind":"stay_at_least","percentage":10,"variables":{"length":1,"unit":"days"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:18 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '901'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables/274/rates_rules?page=1&rates_rules%5B%5D%5Bend_date%5D=2017-04-22&rates_rules%5B%5D%5Bkind%5D=stay_at_least&rates_rules%5B%5D%5Bpercentage%5D=10&rates_rules%5B%5D%5Bstart_date%5D=2017-04-10&rates_rules%5B%5D%5Bvariables%5D%5Blength%5D=1&rates_rules%5B%5D%5Bvariables%5D%5Bunit%5D=days>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rates_rules/139728
      Etag:
      - W/"93a3d39ea5eec8403d4f51303b476d3e"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rates_rules.rates_table}","rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"rates_table":274,"seasons":[]},"id":139728,"always_applied":false,"percentage":"10.0","period_name":null,"kind":"stay_at_least","variables":{"length":1,"unit":"days"},"start_date":"2017-04-10","end_date":"2017-04-22","created_at":"2016-12-12T11:52:18Z","updated_at":"2016-12-12T11:52:18Z"}]}'
  recorded_at: Mon, 12 Dec 2016 11:52:18 GMT
recorded_with: VCR 3.0.3
