---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rates_tables/274/rates_rules
    body:
      encoding: UTF-8
      string: '{"rates_rules":[{"start_date":"2013-04-10","end_date":"2013-04-22","kind":"stay_at_least","percentage":10,"variables":{"length":1,"unit":"days"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '933'
      Location:
      - https://www.bookingsync.com/api/v3/rates_rules/13777
      Etag:
      - '"30cfbc778aacad11a25e6514e6da7fe7"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rates_rules.rates_table}","rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"rates_table":274,"seasons":[]},"id":13777,"always_applied":false,"percentage":"10.0","period_name":null,"kind":"stay_at_least","variables":{"length":1,"unit":"days"},"start_date":"2013-04-10","end_date":"2013-04-22","created_at":"2015-09-09T20:36:12Z","updated_at":"2015-09-09T20:36:12Z"}]}'
  recorded_at: Wed, 09 Sep 2015 20:36:13 GMT
recorded_with: VCR 2.9.2
