---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/bathrooms/729
    body:
      encoding: UTF-8
      string: '{"bathrooms":[{"name_en":"Updated bathroom"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441738800'
      X-Ratelimit-Remaining:
      - '963'
      Etag:
      - '"cc0a5790f3de1b03539f6d7196b4dd17"'
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":729,"name":{"en":"Updated
        bathroom","fr":"Salle de bain 1"},"wc":false,"shower":false,"bath":false,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-09-08T18:55:45Z"}]}'
  recorded_at: Tue, 08 Sep 2015 18:55:46 GMT
recorded_with: VCR 2.9.2
