---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/bathrooms/41394
    body:
      encoding: UTF-8
      string: '{"bathrooms":[{"name_en":"Updated bathroom","name_fr":"Salle de bain
        1"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:29 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '999'
      Etag:
      - W/"8ed37c087bfa9bc4b10834257b661299"
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":41394,"name":{"en":"Updated
        bathroom","fr":"Salle de bain 1"},"wc_count":2,"shower_count":0,"bath_count":0,"created_at":"2016-12-12T11:52:08Z","updated_at":"2016-12-12T12:04:29Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:29 GMT
recorded_with: VCR 3.0.3
