---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/bathrooms/41327
    body:
      encoding: UTF-8
      string: '{"bathrooms":[{"name_en":"Updated bathroom","name_fr":"Salle de bain
        1"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:31:00 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '983'
      Etag:
      - W/"27e5c83298552dc1faec7e17d1d49e67"
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":41327,"name":{"en":"Updated
        bathroom","fr":"Salle de bain 1"},"wc_count":2,"shower_count":0,"bath_count":0,"created_at":"2016-12-08T15:29:03Z","updated_at":"2016-12-08T15:31:00Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:31:00 GMT
recorded_with: VCR 3.0.3
