---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1394193600'
      X-Ratelimit-Remaining:
      - '995'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"435e6e3ac9649b612515cf4bc58d6643\""
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"id\":1,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"},{\"id\":4,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"}]}"
  recorded_at: Fri, 07 Mar 2014 11:28:17 GMT
recorded_with: VCR 2.8.0
