---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/amenities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396965600.0'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/amenities?page=1>; rel="first", <https://www.bookingsync.com/api/v3/amenities?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Etag:
      - '"a09ddb59a9fd47403fe848bdc859b613"'
    body:
      encoding: UTF-8
      string: '{"amenities":[{"id":1493,"rental_id":836,"title":"air_conditioning"}]}'
  recorded_at: Tue, 08 Apr 2014 13:15:29 GMT
recorded_with: VCR 2.9.0
