---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rentals_amenities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401202800'
      X-Ratelimit-Remaining:
      - '994'
      Link:
      - <https://bookingsync.dev/api/v3/rentals_amenities?page=1>; rel="first", <https://bookingsync.dev/api/v3/rentals_amenities?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"ae2467cb53532417eefd56d80bf4d1ff"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://bookingsync.dev/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://bookingsync.dev/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":1,"rental":67},"id":1}]}'
  recorded_at: Tue, 27 May 2014 14:05:26 GMT
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rentals/67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401202800'
      X-Ratelimit-Remaining:
      - '993'
      Link:
      - <https://bookingsync.dev/api/v3/rentals/67?page=1>; rel="first", <https://bookingsync.dev/api/v3/rentals/67?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"3ea506e8ca0a27d845a900e853bf8813"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.account":"https://bookingsync.dev/api/v3/accounts/{rentals.account}","rentals.destination":"https://bookingsync.dev/api/v3/destinations/{rentals.destination}","rentals.rates_table":"https://bookingsync.dev/api/v3/rates_tables/{rentals.rates_table}","rentals.rental_agreement":"https://bookingsync.dev/api/v3/rental_agreements/{rentals.rental_agreement}","rentals.photos":"https://bookingsync.dev/api/v3/photos/{rentals.photos}","rentals.reviews":"https://bookingsync.dev/api/v3/reviews/{rentals.reviews}","rentals.special_offers":"https://bookingsync.dev/api/v3/special_offers/{rentals.special_offers}","rentals.rates":"https://bookingsync.dev/api/v3/rates/{rentals.rates}","rentals.rentals_amenities":"https://bookingsync.dev/api/v3/rentals_amenities/{rentals.rentals_amenities}"},"rentals":[{"links":{"account":1,"destination":null,"rates_table":null,"rental_agreement":null,"photos":[],"reviews":[],"special_offers":[],"rates":[],"rentals_amenities":[1]},"id":67,"name":"New
        Rental","headline":{"en":null},"summary":{"en":null},"description":{"en":null},"rental_type":null,"units":1,"bedrooms_count":null,"sleeps":null,"sleeps_max":null,"bathrooms_count":null,"surface":null,"bookable_online":false,"min_price":null,"max_price":null,"price_kind":null,"currency":null,"price_public_notes":{"en":null},"lat":null,"lng":null,"city":null,"state":null,"country":"","contact_name":null,"reviews_count":0,"reviews_average_rating":null,"created_at":"2014-04-09T09:17:14Z","updated_at":"2014-05-27T14:04:54Z","address1":null,"address2":null,"zip":null,"checkin_time":16,"checkout_time":10}]}'
  recorded_at: Tue, 27 May 2014 14:05:27 GMT
recorded_with: VCR 2.9.1
