---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_amenities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401202800'
      X-Ratelimit-Remaining:
      - '992'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_amenities?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rentals_amenities?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"ae2467cb53532417eefd56d80bf4d1ff"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":1,"rental":67},"id":1}]}'
  recorded_at: Tue, 27 May 2014 14:05:28 GMT
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/amenities/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401202800'
      X-Ratelimit-Remaining:
      - '991'
      Link:
      - <https://www.bookingsync.com/api/v3/amenities/1?page=1>; rel="first", <https://www.bookingsync.com/api/v3/amenities/1?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"b0d2e7221e50f0c65b3f4d017b992d1e"'
    body:
      encoding: UTF-8
      string: '{"amenities":[{"id":1,"title":"internet"}]}'
  recorded_at: Tue, 27 May 2014 14:05:28 GMT
recorded_with: VCR 2.9.1
