---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/conversations/8
    body:
      encoding: UTF-8
      string: '{"conversations":[{"closed":true,"assignee_id":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c9718a86dafac049d1cdaab09db6e6e2"
      Location:
      - "/api/v3/conversations/8"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519927200'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-01 17:28:25 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"conversations.account":"https://www.bookingsync.com/api/v3/accounts/{conversations.account}","conversations.assignee":"https://www.bookingsync.com/api/v3/users/{conversations.assignee}","conversations.bookings":"https://www.bookingsync.com/api/v3/bookings/{conversations.bookings}","conversations.inquiries":"https://www.bookingsync.com/api/v3/inquiries/{conversations.inquiries}","conversations.source":"https://www.bookingsync.com/api/v3/sources/{conversations.source}"},"conversations":[{"links":{"account":1,"assignee":2,"bookings":[],"inquiries":[],"source":1},"closed_at":"2018-03-01T17:28:25Z","created_at":"2018-03-01T17:28:25Z","deadline_response_at":null,"id":8,"last_message_at":null,"marked_as_spam_at":null,"subject":"New
        Question","updated_at":"2018-03-01T17:28:25Z"}],"meta":{}}'
  recorded_at: Thu, 01 Mar 2018 17:28:26 GMT
recorded_with: VCR 4.0.0
