---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/inbox/conversations/3
    body:
      encoding: UTF-8
      string: '{"conversations":[{"closed":true,"assignee_id":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"84556874d6db3ad4b4d9a277ccbf01f3"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521835200'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 19:00:42 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"conversations.account":"https://www.bookingsync.com/api/v3/accounts/{conversations.account}","conversations.assignee":"https://www.bookingsync.com/api/v3/users/{conversations.assignee}","conversations.source":"https://www.bookingsync.com/api/v3/sources/{conversations.source}","conversations.bookings":"https://www.bookingsync.com/api/v3/bookings/{conversations.bookings}","conversations.inquiries":"https://www.bookingsync.com/api/v3/inquiries/{conversations.inquiries}"},"conversations":[{"links":{"account":1,"assignee":2,"bookings":[],"inquiries":[],"source":1},"closed_at":"2018-03-23T19:00:42Z","created_at":"2018-03-23T19:00:42Z","deadline_response_at":null,"id":3,"last_message_at":null,"marked_as_spam_at":null,"subject":"New
        Question","updated_at":"2018-03-23T19:00:42Z"}],"meta":{}}'
  recorded_at: Fri, 23 Mar 2018 19:00:42 GMT
recorded_with: VCR 4.0.0
