---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rentals_amenities/212122
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"details_en":"New Details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:19:16 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '963'
      Etag:
      - W/"cd99888b907fe444c80d61710a28a384"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":48,"rental":5116},"id":212122,"created_at":"2016-12-12T12:19:01Z","updated_at":"2016-12-12T12:19:16Z","details":{"en":"New
        Details"}}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:19:16 GMT
recorded_with: VCR 3.0.3
