---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rentals_amenities/211832
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"details_en":"New Details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:21:52 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '982'
      Etag:
      - W/"2c2177f6c679e7b26f3f75c3e93591c2"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":81,"rental":5116},"id":211832,"created_at":"2016-12-09T10:21:35Z","updated_at":"2016-12-09T10:21:52Z","details":{"en":"New
        Details"}}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 10:21:52 GMT
recorded_with: VCR 3.0.3
