---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rentals_amenities/6159
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"details_en":"New Details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '909'
      Etag:
      - '"175931c11ccc557ce07e0c60f043b57e"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":32,"rental":5117},"id":6159,"created_at":"2014-08-08T19:30:20Z","updated_at":"2015-09-09T20:48:41Z","details":{"en":"New
        Details"}}]}'
  recorded_at: Wed, 09 Sep 2015 20:48:42 GMT
recorded_with: VCR 2.9.2
