---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/seasons/6
    body:
      encoding: UTF-8
      string: '{"seasons":[{"name":"Updated season"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398427200'
      X-Ratelimit-Remaining:
      - '982'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"419435fd550ebb9e310597d68e3285fa"'
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_rules":[],"periods":[6]},"id":6,"rates_table_id":11,"name":"Updated
        season","ratio":"1.0","minimum_stay":7,"color_ratio":"1.0","created_at":"2014-04-14T13:19:05Z","updated_at":"2014-04-25T11:31:50Z"}]}'
  recorded_at: Fri, 25 Apr 2014 11:31:51 GMT
recorded_with: VCR 2.9.0
