---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/conversations
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2daa70abcf246678aea97c35f03b9797"
      Link:
      - <https://www.bookingsync.com/api/v3/conversations?page=1>; rel="first", <https://www.bookingsync.com/api/v3/conversations?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519927200'
      X-Total-Count:
      - '7'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-01 17:28:24 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"conversations.account":"https://www.bookingsync.com/api/v3/accounts/{conversations.account}","conversations.assignee":"https://www.bookingsync.com/api/v3/users/{conversations.assignee}","conversations.bookings":"https://www.bookingsync.com/api/v3/bookings/{conversations.bookings}","conversations.inquiries":"https://www.bookingsync.com/api/v3/inquiries/{conversations.inquiries}","conversations.source":"https://www.bookingsync.com/api/v3/sources/{conversations.source}"},"conversations":[{"links":{"account":1,"assignee":2,"bookings":[],"inquiries":[],"source":null},"closed_at":null,"created_at":"2018-02-27T17:55:45Z","deadline_response_at":null,"id":1,"last_message_at":null,"marked_as_spam_at":null,"subject":null,"updated_at":"2018-03-01T16:58:56Z"},{"links":{"account":1,"assignee":null,"bookings":[],"inquiries":[],"source":null},"closed_at":null,"created_at":"2018-02-27T18:00:19Z","deadline_response_at":null,"id":2,"last_message_at":null,"marked_as_spam_at":null,"subject":null,"updated_at":"2018-02-27T18:00:19Z"},{"links":{"account":1,"assignee":null,"bookings":[],"inquiries":[],"source":null},"closed_at":null,"created_at":"2018-02-27T21:39:34Z","deadline_response_at":null,"id":3,"last_message_at":null,"marked_as_sp[...]
