---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/payments/268621
    body:
      encoding: UTF-8
      string: '{"payments":[{"kind":"cheque"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 18:20:23 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481223600'
      X-Ratelimit-Remaining:
      - '983'
      Etag:
      - W/"33734b956e5f06a4f612f7d9eee296a6"
    body:
      encoding: UTF-8
      string: '{"links":{"payments.account":"https://www.bookingsync.com/api/v3/accounts/{payments.account}","payments.payment_gateway":"https://www.bookingsync.com/api/v3/payment_gateways/{payments.payment_gateway}","payments.bookings":"https://www.bookingsync.com/api/v3/bookings/{payments.bookings}","payments.bookings_payments":"https://www.bookingsync.com/api/v3/bookings_payments/{payments.bookings_payments}"},"payments":[{"links":{"account":3837,"payment_gateway":null,"bookings":[817604],"bookings_payments":[268654]},"id":268621,"transaction_id":null,"order_id":null,"card":null,"amount_in_cents":200,"currency":"EUR","kind":"cheque","fullname":"John
        Smith","email":"smith@example.com","address1":null,"address2":null,"zip":null,"city":null,"state":null,"country_code":null,"locale":null,"ip":null,"test":false,"notes":null,"paid_at":"2016-12-06T11:34:05Z","created_at":"2016-12-08T18:19:46Z","updated_at":"2016-12-08T18:20:23Z","rejected_at":null,"canceled_at":null,"description":""}]}'
  recorded_at: Thu, 08 Dec 2016 18:20:23 GMT
recorded_with: VCR 3.0.3
