---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/inbox/attachments/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e4bee1aab846709c9ce14e1e5cc58631"
      Link:
      - <https://www.bookingsync.com/api/v3/inbox/attachments/1?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/inbox/attachments/1?page=1>; rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1526292000'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-14 09:44:10 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"attachments.account":"https://www.bookingsync.com/api/v3/accounts/{attachments.account}","attachments.messages":"https://www.bookingsync.com/api/v3/inbox/messages/{attachments.messages}"},"attachments":[{"links":{"account":1,"messages":[]},"created_at":"2018-05-11T11:55:39Z","file_content_type":"image/jpeg","file_size":635,"id":1,"image_height":5,"image_width":20,"name":"updated_test.jpg","updated_at":"2018-05-11T11:55:39Z","url":"/uploads/file.jpeg"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/inbox/attachments/1?page=1","last":"https://www.bookingsync.com/api/v3/inbox/attachments/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Mon, 14 May 2018 09:44:11 GMT
recorded_with: VCR 4.0.0
