---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395410400'
      X-Ratelimit-Remaining:
      - '959'
      Link:
      - "<https://www.bookingsync.com/api/v3/bookings?page=1&per_page=2>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2>; rel=\"next\",
        <https://www.bookingsync.com/api/v3/bookings?page=3&per_page=2>; rel=\"last\""
      X-Total-Pages:
      - '3'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"25e36b48fa66e5428431111d81877e3f\""
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"id\":1,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"},{\"id\":4,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"}]}"
  recorded_at: Fri, 21 Mar 2014 13:46:18 GMT
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395410400'
      X-Ratelimit-Remaining:
      - '958'
      Link:
      - "<https://www.bookingsync.com/api/v3/bookings?page=1&per_page=2>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/bookings?page=1&per_page=2>; rel=\"prev\",
        <https://www.bookingsync.com/api/v3/bookings?page=3&per_page=2>; rel=\"next\",
        <https://www.bookingsync.com/api/v3/bookings?page=3&per_page=2>; rel=\"last\""
      X-Total-Pages:
      - '3'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"d7959f3dd105d79d2d434b608074ad7f\""
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"id\":5,\"account_id\":1,\"rental_id\":2,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"},{\"id\":6,\"account_id\":1,\"rental_id\":4,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"}]}"
  recorded_at: Fri, 21 Mar 2014 13:46:18 GMT
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings?page=3&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1395410400'
      X-Ratelimit-Remaining:
      - '957'
      Link:
      - "<https://www.bookingsync.com/api/v3/bookings?page=1&per_page=2>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/bookings?page=2&per_page=2>; rel=\"prev\",
        <https://www.bookingsync.com/api/v3/bookings?page=3&per_page=2>; rel=\"last\""
      X-Total-Pages:
      - '3'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"b22b194138694e3995e5dce56ab4d648\""
    body:
      encoding: UTF-8
      string: "{\"bookings\":[{\"id\":7,\"account_id\":1,\"rental_id\":4,\"start_at\":\"2014-04-28T10:55:13Z\",\"end_at\":\"2014-12-28T10:55:34Z\"}]}"
  recorded_at: Fri, 21 Mar 2014 13:46:18 GMT
recorded_with: VCR 2.8.0
