---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/seasons/529835
    body:
      encoding: UTF-8
      string: '{"seasons":[{"name":"Updated season name"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:22:16 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '999'
      Etag:
      - W/"beacdfc508886bb43d9c748ae87846e9"
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{seasons.rates_table}","seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":529835,"name":{"en":"Updated
        season name"},"ratio_percentage":"0.2","minimum_stay":4,"created_at":"2016-12-09T11:01:00Z","updated_at":"2016-12-09T14:22:17Z","color":"#1CAC78","color_ratio":1.0}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 14:22:17 GMT
recorded_with: VCR 3.0.3
