---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/seasons/538541
    body:
      encoding: UTF-8
      string: '{"seasons":[{"name":"Updated season name 2"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:09:49 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '979'
      Etag:
      - W/"8c883ec172787ef33f2e7f89b2ad4352"
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{seasons.rates_table}","seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_table":274,"rates_rules":[],"periods":[]},"id":538541,"name":{"en":"Updated
        season name 2"},"ratio_percentage":"0.2","minimum_stay":4,"created_at":"2016-12-12T11:52:23Z","updated_at":"2016-12-12T12:09:49Z","color":"#FF7538","color_ratio":1.0}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:09:49 GMT
recorded_with: VCR 3.0.3
