---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.com/api/v3/messages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"90c89580012c1f02df3d3395f0d0bb6c"
      Link:
      - <https://bookingsync.com/api/v3/messages?page=1>; rel="first", <https://bookingsync.com/api/v3/messages?page=1>;
        rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519830000'
      X-Total-Count:
      - '9'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 14:27:07 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://bookingsync.com/api/v3/attachments/{messages.attachments}","messages.conversation":"https://bookingsync.com/api/v3/conversations/{messages.conversation}","messages.participant":"https://bookingsync.com/api/v3/participants/{messages.participant}"},"messages":[{"links":{"attachments":[],"conversation":1,"participant":1},"content":"Message
        content","created_at":"2018-02-28T09:46:22Z","id":1,"origin":"homeaway","updated_at":"2018-02-28T09:46:22Z","visibility":"all"},{"links":{"attachments":[],"conversation":1,"participant":1},"content":"Message
        content","created_at":"2018-02-28T09:56:36Z","id":2,"origin":"homeaway","updated_at":"2018-02-28T09:56:36Z","visibility":"all"},{"links":{"attachments":[],"conversation":1,"participant":1},"content":"Message
        content","created_at":"2018-02-28T10:08:05Z","id":3,"origin":"homeaway","updated_at":"2018-02-28T10:08:05Z","visibility":"all"},{"links":{"attachments":[],"conversation":1,"participant":1},[...]
