---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_rules
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:21:42 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_rules?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates_rules?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '3'
      X-Per-Page:
      - '100'
      Etag:
      - W/"d4db0676b0617f20f540b57417e695e9"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rates_rules.rates_table}","rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"rates_table":274,"seasons":[]},"id":252,"always_applied":true,"percentage":"-7.0","period_name":"","kind":"stay_at_least","variables":{"days":[],"length":21,"unit":"days"},"start_date":null,"end_date":"2014-07-15","created_at":"2014-08-08T18:34:37Z","updated_at":"2015-09-09T20:30:59Z"},{"links":{"rates_table":274,"seasons":[]},"id":13777,"always_applied":false,"percentage":"10.0","period_name":null,"kind":"stay_at_least","variables":{"length":1,"unit":"days"},"start_date":"2013-04-10","end_date":"2013-04-22","created_at":"2015-09-09T20:36:12Z","updated_at":"2015-09-09T20:36:12Z"},{"links":{"rates_table":274,"seasons":[1803]},"id":22740,"always_applied":false,"percentage":null,"period_name":null,"kind":"additional_person_fixed_per_night","variables":{"occupation_greater_than":"4"},"start_date":null,"end_date":null,"created_at":"2016-04-14T12:57:14Z","updated_at":"2016-04-14T12:57:28Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 09:21:42 GMT
recorded_with: VCR 3.0.3
