---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1399327200'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_rules?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates_rules?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"fe6c62b3d861528e37782eeb75e83ca6"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"seasons":[]},"id":1,"rates_table_id":19,"always_applied":true,"percentage":10,"period_name":null,"kind":"late_booking","variables":{"unit":"days","length":10},"start_at":null,"end_at":null,"created_at":"2014-05-05T21:24:56Z","updated_at":"2014-05-05T21:24:56Z"}]}'
  recorded_at: Mon, 05 May 2014 21:25:25 GMT
recorded_with: VCR 2.9.0
