---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '948'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_rules?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates_rules?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      Etag:
      - '"94837e570637bb96c6fc15045ec86d19"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rates_rules.rates_table}","rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"rates_table":274,"seasons":[1802,1803]},"id":250,"always_applied":false,"percentage":null,"period_name":"","kind":"prevent_if_booked_ahead_of","variables":{"days":[],"length":1,"unit":"years"},"start_date":null,"end_date":null,"created_at":"2014-08-08T18:34:10Z","updated_at":"2014-11-17T23:03:39Z"},{"links":{"rates_table":274,"seasons":[]},"id":252,"always_applied":true,"percentage":"-7.0","period_name":"","kind":"stay_at_least","variables":{"days":[],"length":21,"unit":"days"},"start_date":null,"end_date":null,"created_at":"2014-08-08T18:34:37Z","updated_at":"2014-11-17T23:03:40Z"}],"meta":{}}'
  recorded_at: Wed, 09 Sep 2015 20:29:42 GMT
recorded_with: VCR 2.9.2
