---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_fees/15403
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:55 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '922'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_fees/15403?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals_fees/15403?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"90a1c4b09fa3af2f07eb9fc3be04bbf5"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_fees.fee":"https://www.bookingsync.com/api/v3/fees/{rentals_fees.fee}","rentals_fees.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_fees.rental}","rentals_fees.seasons":"https://www.bookingsync.com/api/v3/seasons/{rentals_fees.seasons}"},"rentals_fees":[{"links":{"fee":474,"rental":5116,"seasons":[]},"id":15403,"always_applied":true,"end_date":null,"maximum_bookable":10,"public":false,"required":false,"start_date":null,"created_at":"2016-12-09T10:12:27Z","updated_at":"2016-12-09T10:12:27Z","name":{"en":"test
        fee"},"rate":"10.0","rate_kind":"fixed","archived_at":null}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:55 GMT
recorded_with: VCR 3.0.3
