---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals_fees/3306
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '900'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals_fees/3306?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rentals_fees/3306?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"20bf875091c158d9d10ea716afc6f232"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_fees.fee":"https://www.bookingsync.com/api/v3/fees/{rentals_fees.fee}","rentals_fees.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_fees.rental}","rentals_fees.seasons":"https://www.bookingsync.com/api/v3/seasons/{rentals_fees.seasons}"},"rentals_fees":[{"links":{"fee":474,"rental":5116,"seasons":[]},"id":3306,"always_applied":true,"end_date":null,"maximum_bookable":2,"public":false,"required":false,"start_date":null,"created_at":"2015-09-09T20:50:47Z","updated_at":"2015-09-09T20:50:47Z","name":{"en":"test
        fee"},"rate":"10.0","rate_kind":"fixed"}]}'
  recorded_at: Wed, 09 Sep 2015 20:51:44 GMT
recorded_with: VCR 2.9.2
