---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/clients/2
    body:
      encoding: UTF-8
      string: '{"clients":[{"fullname":"Gary Smith"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398106800'
      X-Ratelimit-Remaining:
      - '993'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"611bdb1657961179c09b8dab364b46ac"'
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":2,"email":"giuseppe.king@walker.us","phone":"","mobile":null,"fax":null,"address1":"","address2":null,"city":"","state":"","zip":"","country_code":"","account_id":1,"created_at":"2014-02-11T09:13:19Z","updated_at":"2014-04-14T22:23:54Z","fullname":"Gary
        Smith","notes":null}]}'
  recorded_at: Mon, 21 Apr 2014 18:40:41 GMT
recorded_with: VCR 2.9.0
