---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rentals_contents_overrides/2280
    body:
      encoding: UTF-8
      string: '{"rentals_contents_overrides":[{"summary_en":"new english summary"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-11-27 14:32:36 UTC
      X-Ratelimit-Limit:
      - '130000'
      X-Ratelimit-Reset:
      - '1511794800'
      X-Ratelimit-Remaining:
      - '82358'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_contents_overrides/2280
      Etag:
      - W/"616c177b66ee7b9cff6923a6bff5bf89"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_contents_overrides.application":"https://www.bookingsync.com/api/v3/applications/{rentals_contents_overrides.application}","rentals_contents_overrides.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_contents_overrides.rental}"},"rentals_contents_overrides":[{"links":{"application":65,"rental":5116},"id":2280,"headline":{},"summary":{"en":"new
        english summary"},"description":{},"created_at":"2017-11-27T14:27:11Z","updated_at":"2017-11-27T14:32:36Z"}],"meta":{}}'
  recorded_at: Mon, 27 Nov 2017 14:32:36 GMT
recorded_with: VCR 3.0.3
