---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals/meta
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:29:31 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '962'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/meta?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rentals/meta?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '50'
      Etag:
      - W/"45bf67f49f80bb725724e221d248358b"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_meta.destinations":"https://www.bookingsync.com/api/v3/destinations/{rentals_meta.destinations}"},"rentals_meta":[{"links":{"destinations":[7301]},"price_ranges":[{"currency":"EUR","max_price":"401.85714","min_price":"401.71429"},{"currency":"USD","max_price":"10.0","min_price":"10.0"}],"rental_types":[{"name":"villa","counter":2}],"rentals_tags":[{"id":32,"name":{"en":"expensive"},"color":"rgba(40,207,223,0.73)","logo":"fa-money","counter":1},{"id":65,"name":{"en":"Destination","fr":""},"color":"#0021ff","logo":"fa-globe","counter":1}],"destinations":[{"id":7301,"name":{"en":"Sivota
        Lefkada"},"fullname":{"en":"Sivota Lefkada, Lefkada (Lefkas), Ionian Islands,
        Greece, Europe, World","fr":"Sivota Lefkada, Lefkada (Lefkas), Ionian Islands,
        Greece, Europe, World","de":"Sivota Lefkada, Lefkada (Lefkas), Ionian Islands,
        Greece, Europe, World"},"permalink":{"en":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada","fr":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada","de":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada"},"aliases":{"en":"---\n-
        Syvota\n"},"counter":2,"ancestor_ids":[99,101,2918,6817,7160]}]}]}'
  recorded_at: Fri, 09 Dec 2016 10:29:32 GMT
recorded_with: VCR 3.0.3
