---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rentals/67,68/meta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1401375600'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/67,68/meta?page=1>; rel="first"
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"aa58598e981ac89717233f163d47419c"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_meta.destinations":"https://www.bookingsync.com/api/v3/destinations/{rentals_meta.destinations}"},"rentals_meta":[{"links":{"destinations":[35]},"price_range":{"currency":"EUR","max_price":700,"min_price":null},"rental_types":[{"name":"villa","counter":1}],"destinations":[{"id":35,"name":{"en":"Name-1"},"fullname":{"en":"Name-1"},"permalink":{"en":"name-1"},"aliases":{"en":null}}]}]}'
  recorded_at: Thu, 29 May 2014 14:13:03 GMT
recorded_with: VCR 2.9.1
