---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings/228/host_reviews/draft
    body:
      encoding: UTF-8
      string: '{"host_reviews":[{"comment":"Awesome guest","expires_at":"2045-06-07T12:00:00Z","shareable":false}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8a190c64ff1437e4a18cdc2dc9fdaf8c"
      Location:
      - https://www.bookingsync.com/api/v3/host_reviews/c571047a-0055-448a-8651-56461fbf30e2
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '990'
      X-Ratelimit-Reset:
      - '1620298800'
      X-Updated-Since-Request-Synced-At:
      - 2021-05-06 10:55:37 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"host_reviews.source":"https://www.bookingsync.com/api/v3/sources/{host_reviews.source}","host_reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{host_reviews.booking}","host_reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{host_reviews.rental}","host_reviews.account":"https://www.bookingsync.com/api/v3/accounts/{host_reviews.account}","host_reviews.reply":"https://www.bookingsync.com/api/v3/review_replies/{host_reviews.reply}"},"host_reviews":[{"links":{"account":1,"booking":228,"rental":1,"reply":null,"source":null},"id":"c571047a-0055-448a-8651-56461fbf30e2","comment":"Awesome
        guest","created_at":"2021-05-06T10:55:37Z","updated_at":"2021-05-06T10:55:37Z","shareable":false,"private_comment":null,"criteria":{"cleanliness":null,"communication":null,"respect_house_rules":null},"submitted_at":null,"is_guest_recommended":null,"expires_at":"2045-06-07T12:00:00Z"}],"meta":{}}'
  recorded_at: Thu, 06 May 2021 10:55:38 GMT
recorded_with: VCR 3.0.3
