---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/special_offers?fields=name,rental_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396609200'
      X-Ratelimit-Remaining:
      - '998'
      Link:
      - <http://bookingsync.dev/api/v3/special_offers.json?fields=name%2Crental_id&page=1>;
        rel="first", <http://bookingsync.dev/api/v3/special_offers.json?fields=name%2Crental_id&page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - ! '"b6995ec1c8e111e6d699d7152cbf5d07"'
    body:
      encoding: US-ASCII
      string: ! '{"special_offers":[{"rental_id":2,"name":"Super hot awesome"},{"rental_id":2,"name":"tes
        1"}]}'
  recorded_at: Fri, 04 Apr 2014 10:51:30 GMT
recorded_with: VCR 2.9.0
