---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/reviews?fields=name,comment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396530000'
      X-Ratelimit-Remaining:
      - '987'
      Link:
      - <http://bookingsync.dev/api/v3/reviews.json?fields=name%2Ccomment&page=1>;
        rel="first", <http://bookingsync.dev/api/v3/reviews.json?fields=name%2Ccomment&page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - ! '"7b3954126f21d68e6ebfd0b4eb0e5191"'
    body:
      encoding: US-ASCII
      string: ! '{"reviews":[{"comment":"It was nice","name":"Stefan W."}]}'
  recorded_at: Thu, 03 Apr 2014 12:25:10 GMT
recorded_with: VCR 2.9.0
