---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/periods/4737
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '962'
      Link:
      - <https://www.bookingsync.com/api/v3/periods/4737?page=1>; rel="first", <https://www.bookingsync.com/api/v3/periods/4737?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"417c24e30f24356166b181b60b87b336"'
    body:
      encoding: UTF-8
      string: '{"links":{"periods.season":"https://www.bookingsync.com/api/v3/seasons/{periods.season}","periods.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{periods.rates_table}"},"periods":[{"links":{"season":1804,"rates_table":274},"id":4737,"start_date":"2015-08-29","end_date":"2015-09-19","created_at":"2014-08-08T18:33:28Z","updated_at":"2014-08-08T18:33:28Z"}]}'
  recorded_at: Wed, 09 Sep 2015 20:22:14 GMT
recorded_with: VCR 2.9.2
