---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397512800'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://www.bookingsync.com/api/v3/clients?page=1>; rel="first", <https://www.bookingsync.com/api/v3/clients?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"6e81308b8f347718bda235c6df6a1844"'
    body:
      encoding: UTF-8
      string: '{"clients":[{"id":2,"email":"giuseppe.king@walker.us","phone":"","mobile":null,"fax":null,"address1":"","address2":null,"city":"","state":"","zip":"","country_code":"","account_id":1,"created_at":"2014-02-11T09:13:19Z","updated_at":"2014-03-21T13:42:36Z","fullname":"Jakayla
        Feest","notes":null},{"id":4,"email":"henri.jakubowski@lebsack.name","phone":"","mobile":null,"fax":null,"address1":"","address2":null,"city":"","state":"","zip":"","country_code":"","account_id":1,"created_at":"2014-02-11T09:13:24Z","updated_at":"2014-03-21T13:42:54Z","fullname":"Katelyn
        Bernier I","notes":null}]}'
  recorded_at: Mon, 14 Apr 2014 21:17:01 GMT
recorded_with: VCR 2.9.0
