---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rentals_fees
    body:
      encoding: UTF-8
      string: '{"rentals_fees":[{"fee_id":474,"maximum_bookable":10,"always_applied":true}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:22:50 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '961'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/rentals_fees?page=1&rentals_fees%5B%5D%5Balways_applied%5D=true&rentals_fees%5B%5D%5Bfee_id%5D=474&rentals_fees%5B%5D%5Bmaximum_bookable%5D=10>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_fees/15441
      Etag:
      - W/"80a3056120c587033a32d667c35bcad1"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_fees.fee":"https://www.bookingsync.com/api/v3/fees/{rentals_fees.fee}","rentals_fees.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_fees.rental}","rentals_fees.seasons":"https://www.bookingsync.com/api/v3/seasons/{rentals_fees.seasons}"},"rentals_fees":[{"links":{"fee":474,"rental":5116,"seasons":[]},"id":15441,"always_applied":true,"end_date":null,"maximum_bookable":10,"public":false,"required":false,"start_date":null,"created_at":"2016-12-12T12:22:50Z","updated_at":"2016-12-12T12:22:50Z","name":{"en":"test
        fee"},"rate":"10.0","rate_kind":"fixed","archived_at":null}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:22:50 GMT
recorded_with: VCR 3.0.3
