---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rentals_fees
    body:
      encoding: UTF-8
      string: '{"rentals_fees":[{"fee_id":659,"maximum_bookable":10,"always_applied":true}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1447783200'
      X-Ratelimit-Remaining:
      - '999'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_fees/4060
      Etag:
      - '"60a033367353e5fa9e12a2a3d2d8e2d6"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_fees.fee":"https://www.bookingsync.com/api/v3/fees/{rentals_fees.fee}","rentals_fees.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_fees.rental}","rentals_fees.seasons":"https://www.bookingsync.com/api/v3/seasons/{rentals_fees.seasons}"},"rentals_fees":[{"links":{"fee":659,"rental":5116,"seasons":[]},"id":4060,"always_applied":true,"end_date":null,"maximum_bookable":10,"public":false,"required":false,"start_date":null,"created_at":"2015-11-17T17:02:44Z","updated_at":"2015-11-17T17:02:44Z","name":{"en":"New
        fee"},"rate":"10.0","rate_kind":"fixed","archived_at":null}]}'
  recorded_at: Tue, 17 Nov 2015 17:02:45 GMT
recorded_with: VCR 2.9.2
