---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings_fees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1427202000'
      X-Ratelimit-Remaining:
      - '924'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings_fees?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bookings_fees?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"43c938a8782d08886ac529486d4c6524"'
    body:
      encoding: UTF-8
      string: '{"links":{"bookings_fees.rentals_fee":"https://www.bookingsync.com/api/v3/rentals_fees/{bookings_fees.rentals_fee}","bookings_fees.bookings_taxes":"https://www.bookingsync.com/api/v3/bookings_taxes/{bookings_fees.bookings_taxes}"},"bookings_fees":[{"links":{"rentals_fee":74,"bookings_taxes":[]},"id":1044,"name":{"en":"Final
        Cleaning"},"price":"100.0","required":true,"included_in_price":true,"times_booked":1,"created_at":"2015-03-24T12:15:17Z","updated_at":"2015-03-24T12:15:17Z"}]}'
  recorded_at: Tue, 24 Mar 2015 12:47:14 GMT
recorded_with: VCR 2.9.3
