---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/booking_comments
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:45:03 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '980'
      Link:
      - <https://www.bookingsync.com/api/v3/booking_comments?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/booking_comments?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      X-Per-Page:
      - '100'
      Etag:
      - W/"7aaa6a7fc0d347c23a079a016bbc3a5b"
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.account":"https://www.bookingsync.com/api/v3/accounts/{booking_comments.account}","booking_comments.booking":"https://www.bookingsync.com/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"account":3837,"booking":817604},"id":91641,"content":"comment
        body","editable":false,"created_at":"2016-12-06T11:44:47Z","updated_at":"2016-12-06T11:44:47Z"},{"links":{"account":3837,"booking":817604},"id":91667,"content":"Example
        content","editable":true,"created_at":"2016-12-06T12:41:11Z","updated_at":"2016-12-06T12:41:11Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:45:03 GMT
recorded_with: VCR 3.0.3
