---
http_interactions:
- request:
    method: get
    uri: http://bookingsync.dev/api/v3/booking_comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1461074400'
      X-Ratelimit-Remaining:
      - '987'
      Link:
      - <http://bookingsync.dev/api/v3/booking_comments?page=1>; rel="first", <http://bookingsync.dev/api/v3/booking_comments?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '7'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"dd19e4d0f0ec353d7161790aa2f379ce"'
    body:
      encoding: UTF-8
      string: '{"links":{"booking_comments.booking":"http://bookingsync.dev/api/v3/bookings/{booking_comments.booking}"},"booking_comments":[{"links":{"booking":10},"id":1,"content":"comment
        1","editable":true,"created_at":"2016-04-18T12:06:15Z","updated_at":"2016-04-18T12:06:15Z"},{"links":{"booking":10},"id":2,"content":"comment
        2","editable":true,"created_at":"2016-04-18T12:06:25Z","updated_at":"2016-04-18T12:06:25Z"},{"links":{"booking":1},"id":3,"content":"comment
        3","editable":true,"created_at":"2016-04-18T12:06:33Z","updated_at":"2016-04-18T12:06:33Z"},{"links":{"booking":1},"id":4,"content":"comment
        4","editable":true,"created_at":"2016-04-18T12:06:36Z","updated_at":"2016-04-18T12:06:36Z"},{"links":{"booking":1},"id":9,"content":"Updated
        content","editable":true,"created_at":"2016-04-19T12:47:00Z","updated_at":"2016-04-19T12:56:41Z"},{"links":{"booking":1},"id":11,"content":"Example
        conent","editable":true,"created_at":"2016-04-19T13:51:39Z","updated_at":"2016-04-19T13:51:39Z"},{"links":{"booking":1},"id":12,"content":"Example
        conent","editable":true,"created_at":"2016-04-19T13:51:39Z","updated_at":"2016-04-19T13:51:39Z"}],"meta":{}}'
  recorded_at: Tue, 19 Apr 2016 13:53:12 GMT
recorded_with: VCR 3.0.1
