---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings/829165/payments
    body:
      encoding: UTF-8
      string: '{"payments":[{"amount_in_cents":200,"kind":"cash","paid_at":"2016-12-06T11:34:05Z"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:11 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '907'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings/829165/payments?page=1&payments%5B%5D%5Bamount_in_cents%5D=200&payments%5B%5D%5Bkind%5D=cash&payments%5B%5D%5Bpaid_at%5D=2016-12-06T11%3A34%3A05Z>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/payments/269256
      Etag:
      - W/"16da9db97af612d5c25522f0162ea596"
    body:
      encoding: UTF-8
      string: '{"links":{"payments.account":"https://www.bookingsync.com/api/v3/accounts/{payments.account}","payments.payment_gateway":"https://www.bookingsync.com/api/v3/payment_gateways/{payments.payment_gateway}","payments.bookings":"https://www.bookingsync.com/api/v3/bookings/{payments.bookings}","payments.bookings_payments":"https://www.bookingsync.com/api/v3/bookings_payments/{payments.bookings_payments}"},"payments":[{"links":{"account":3837,"payment_gateway":null,"bookings":[829165],"bookings_payments":[269289]},"id":269256,"transaction_id":null,"order_id":null,"card":null,"amount_in_cents":200,"currency":"EUR","kind":"cash","fullname":"Gary
        Smith","email":"aa@test.com","address1":null,"address2":null,"zip":null,"city":null,"state":null,"country_code":null,"locale":null,"ip":null,"test":false,"notes":null,"paid_at":"2016-12-06T11:34:05Z","created_at":"2016-12-12T11:52:11Z","updated_at":"2016-12-12T11:52:11Z","rejected_at":null,"canceled_at":null,"description":""}]}'
  recorded_at: Mon, 12 Dec 2016 11:52:12 GMT
recorded_with: VCR 3.0.3
