---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/inbox/attachments/14
    body:
      encoding: UTF-8
      string: '{"attachments":[{"name":"updated_test.jpg"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e4909d6f0b0c29baf7c11cca1c51c87a"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
      X-Ratelimit-Reset:
      - '1526054400'
      X-Updated-Since-Request-Synced-At:
      - 2018-05-11 15:07:45 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"attachments.account":"https://www.bookingsync.com/api/v3/accounts/{attachments.account}","attachments.messages":"https://www.bookingsync.com/api/v3/inbox/messages/{attachments.messages}"},"attachments":[{"links":{"account":1,"messages":[]},"created_at":"2018-05-11T15:07:44Z","file_content_type":"image/jpeg","file_size":635,"id":14,"image_height":5,"image_width":20,"name":"updated_test.jpg","updated_at":"2018-05-11T15:07:45Z","url":"/uploads/file.jpg"}],"meta":{}}'
  recorded_at: Fri, 11 May 2018 15:07:45 GMT
recorded_with: VCR 4.0.0
