---
http_interactions:
- request:
    method: put
    uri: http://bookingsync.dev/api/v3/preferences_general_settings/1
    body:
      encoding: UTF-8
      string: '{"preferences_general_settings":[{"selected_locales":["de"]}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '999999999'
      X-Ratelimit-Reset:
      - '1456401600'
      X-Ratelimit-Remaining:
      - '999999993'
      Etag:
      - '"e3db2f1a78163e38b740d0d4c8a3a9c5"'
    body:
      encoding: UTF-8
      string: '{"links":{"preferences_general_settings.account":"http://bookingsync.dev/api/v3/accounts/{preferences_general_settings.account}"},"preferences_general_settings":[{"links":{"account":1},"id":1,"email":"demo_en@bookingsync.com","default_arrival_time":16,"default_departure_time":10,"selected_locales":["en","de"],"business_name":"Your
        Business Name","website":"","phone":"","mobile":"","fax":"","address1":"","address2":"","city":"","state":"","zip":"","country":null,"full_address":""}]}'
  recorded_at: Thu, 25 Feb 2016 11:24:20 GMT
recorded_with: VCR 2.9.2
