---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/review_replies/3c844ef6-7ef9-4718-82b5-20ec043423c7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"dbb14031e3a24207b62074aedf207797"
      Link:
      - <https://www.bookingsync.com/api/v3/review_replies/3c844ef6-7ef9-4718-82b5-20ec043423c7?page=1>;
        rel="first", <https://www.bookingsync.com/api/v3/review_replies/3c844ef6-7ef9-4718-82b5-20ec043423c7?page=1>;
        rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
      X-Ratelimit-Reset:
      - '1616428800'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2021-03-22 15:46:54 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"review_replies.guest_review":"https://www.bookingsync.com/api/v3/reviews/{review_replies.guest_review}","review_replies.host_review":"https://www.bookingsync.com/api/v3/host_reviews/{review_replies.host_review}"},"review_replies":[{"links":{"guest_review":null,"host_review":"04356dc9-1349-4e05-b818-09ccdac8d5dd"},"id":"3c844ef6-7ef9-4718-82b5-20ec043423c7","message":"Thanks!","submitted_at":null,"created_at":"2021-03-22T15:46:42Z","updated_at":"2021-03-22T15:46:42Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/review_replies/3c844ef6-7ef9-4718-82b5-20ec043423c7?page=1","last":"https://www.bookingsync.com/api/v3/review_replies/3c844ef6-7ef9-4718-82b5-20ec043423c7?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Mon, 22 Mar 2021 15:46:54 GMT
recorded_with: VCR 3.0.3
