---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/sources/1874
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:26:41 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://www.bookingsync.com/api/v3/sources/1874?page=1>; rel="first", <https://www.bookingsync.com/api/v3/sources/1874?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"2051ab68bd68b914c62c84e16880cc1c"
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https://www.bookingsync.com/api/v3/accounts/{sources.account}","sources.bookings":"https://www.bookingsync.com/api/v3/bookings/{sources.bookings}"},"sources":[{"links":{"account":3837,"bookings":[829165,142616]},"id":1874,"name":"test","created_at":"2015-09-09T21:10:36Z","updated_at":"2015-09-09T21:10:36Z","position":1}]}'
  recorded_at: Fri, 09 Dec 2016 14:26:41 GMT
recorded_with: VCR 3.0.3
