---
http_interactions:
- request:
    method: put
    uri: https://bookingsync.com/api/v3/messages/10
    body:
      encoding: UTF-8
      string: '{"messages":[{"content":"Updated message content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8c24674aeca15de56a0196afefc904ee"
      Location:
      - "/api/v3/messages/10"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519830000'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 14:27:09 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://bookingsync.com/api/v3/attachments/{messages.attachments}","messages.conversation":"https://bookingsync.com/api/v3/conversations/{messages.conversation}","messages.participant":"https://bookingsync.com/api/v3/participants/{messages.participant}"},"messages":[{"links":{"attachments":[],"conversation":1,"participant":1},"content":"Updated
        message content","created_at":"2018-02-28T14:27:09Z","id":10,"origin":"homeaway","updated_at":"2018-02-28T14:27:09Z","visibility":"all"}],"meta":{}}'
  recorded_at: Wed, 28 Feb 2018 14:27:09 GMT
recorded_with: VCR 4.0.0
