---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/inbox/messages/3
    body:
      encoding: UTF-8
      string: '{"messages":[{"content":"Updated message content"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7f0425f595afba5835f5d0faaa0fe992"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1521835200'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-23 19:40:37 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"messages.attachments":"https://www.bookingsync.com/api/v3/inbox/attachments/{messages.attachments}","messages.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{messages.conversation}","messages.sender":"https://www.bookingsync.com/api/v3/inbox/participants/{messages.sender}"},"messages":[{"links":{"attachments":[],"conversation":1,"sender":1},"content":"Updated
        message content","created_at":"2018-03-23T19:40:37Z","id":3,"origin":"homeaway","sent_at":null,"updated_at":"2018-03-23T19:40:37Z","visibility":"all"}],"meta":{}}'
  recorded_at: Fri, 23 Mar 2018 19:40:37 GMT
recorded_with: VCR 4.0.0
