---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bathrooms/730
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441828800'
      X-Ratelimit-Remaining:
      - '973'
      Link:
      - <https://www.bookingsync.com/api/v3/bathrooms/730?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bathrooms/730?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"cd45064290e7c035962bb17ea56dbc21"'
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":730,"name":{"en":"Bathroom
        2","fr":"Salle de bain 2"},"wc":false,"shower":false,"bath":false,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"}]}'
  recorded_at: Wed, 09 Sep 2015 19:39:20 GMT
recorded_with: VCR 2.9.2
