---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bathrooms/730
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:18:37 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '991'
      Link:
      - <https://www.bookingsync.com/api/v3/bathrooms/730?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bathrooms/730?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"5b1c28983e0419be43e8b221cbe60f03"
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":730,"name":{"en":"Bathroom
        2","fr":"Salle de bain 2"},"wc_count":0,"shower_count":0,"bath_count":0,"created_at":"2015-08-31T19:52:34Z","updated_at":"2015-08-31T19:52:34Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:18:37 GMT
recorded_with: VCR 3.0.3
