---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates/1124127
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:22:20 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '992'
      Link:
      - <https://www.bookingsync.com/api/v3/rates/1124127?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates/1124127?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"447be6a7c66f11e9600526f8eee7e465"
    body:
      encoding: UTF-8
      string: '{"links":{"rates.rental":"https://www.bookingsync.com/api/v3/rentals/{rates.rental}"},"rates":[{"links":{"rental":5116},"id":1124127,"currency":"USD","start_date":"2016-12-07","end_date":"2019-12-08","initial_nightly_rate":"10.0","initial_weekly_rate":"70.0","initial_monthly_rate":"300.0","final_nightly_rate":"10.0","final_weekly_rate":"70.0","final_monthly_rate":"300.0","minimum_stay":1,"created_at":"2016-12-08T18:23:28Z","updated_at":"2016-12-08T18:23:28Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 09:22:20 GMT
recorded_with: VCR 3.0.3
