---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates/1127789
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:52 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '928'
      Link:
      - <https://www.bookingsync.com/api/v3/rates/1127789?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates/1127789?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"42329b7f9cafdf455eba731e1b017d7c"
    body:
      encoding: UTF-8
      string: '{"links":{"rates.rental":"https://www.bookingsync.com/api/v3/rentals/{rates.rental}"},"rates":[{"links":{"rental":5117},"id":1127789,"currency":"EUR","start_date":"2016-12-08","end_date":"2017-01-16","initial_nightly_rate":"401.77","initial_weekly_rate":"2812.4","initial_monthly_rate":"12053.14","final_nightly_rate":"361.59","final_weekly_rate":"2531.16","final_monthly_rate":"10847.83","minimum_stay":2,"created_at":"2016-12-09T00:38:53Z","updated_at":"2016-12-09T00:38:53Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:52 GMT
recorded_with: VCR 3.0.3
