---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates/18577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '957'
      Link:
      - <https://www.bookingsync.com/api/v3/rates/18577?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates/18577?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"0e1e2fedffbd2e140d6807bb3a59f5ee"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates.rental":"https://www.bookingsync.com/api/v3/rentals/{rates.rental}"},"rates":[{"links":{"rental":5117},"id":18577,"currency":"EUR","start_date":"2015-10-10","end_date":"2015-10-31","initial_nightly_rate":"162.51429","initial_weekly_rate":"1137.6","initial_monthly_rate":"4875.42857","final_nightly_rate":"162.51429","final_weekly_rate":"1137.6","final_monthly_rate":"4875.42857","minimum_stay":2,"created_at":"2014-10-29T19:57:52Z","updated_at":"2015-09-09T18:27:04Z"}],"meta":{}}'
  recorded_at: Wed, 09 Sep 2015 20:23:48 GMT
recorded_with: VCR 2.9.2
