---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_cancelation_policy_items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1443110400'
      X-Ratelimit-Remaining:
      - '998'
      Link:
      - <https://bookingsync.dev/api/v3/rental_cancelation_policy_items?page=1>; rel="first",
        <https://bookingsync.dev/api/v3/rental_cancelation_policy_items?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"f53584d748c2c10a0fd445f538bbfc41"'
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policy_items.rental_cancelation_policy":"https://bookingsync.dev/api/v3/rental_cancelation_policies/{rental_cancelation_policy_items.rental_cancelation_policy}"},"rental_cancelation_policy_items":[{"links":{"rental_cancelation_policy":1},"id":1,"eligible_days":20,"penalty_percentage":"12.0","created_at":"2015-09-23T11:48:15Z","updated_at":"2015-09-23T11:48:15Z"},{"links":{"rental_cancelation_policy":2},"id":2,"eligible_days":20,"penalty_percentage":"10.0","created_at":"2015-09-23T12:03:46Z","updated_at":"2015-09-23T12:03:46Z"}]}'
  recorded_at: Thu, 24 Sep 2015 15:44:43 GMT
recorded_with: VCR 2.9.3
