---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_cancelation_policy_items
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:41:16 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '985'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_cancelation_policy_items?page=1>;
        rel="first", <https://www.bookingsync.com/api/v3/rental_cancelation_policy_items?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '100'
      Etag:
      - W/"e86638f0eaf779c8452c9829913dd5d7"
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policy_items.rental_cancelation_policy":"https://www.bookingsync.com/api/v3/rental_cancelation_policies/{rental_cancelation_policy_items.rental_cancelation_policy}"},"rental_cancelation_policy_items":[{"links":{"rental_cancelation_policy":16404},"id":14849,"eligible_days":2,"penalty_percentage":"20.0","created_at":"2016-12-05T22:37:43Z","updated_at":"2016-12-05T22:37:43Z"},{"links":{"rental_cancelation_policy":16438},"id":14872,"eligible_days":20,"penalty_percentage":"10.0","created_at":"2016-12-07T12:35:09Z","updated_at":"2016-12-07T12:35:09Z"},{"links":{"rental_cancelation_policy":16441},"id":14875,"eligible_days":20,"penalty_percentage":"10.0","created_at":"2016-12-07T12:35:09Z","updated_at":"2016-12-07T12:35:09Z"},{"links":{"rental_cancelation_policy":16442},"id":14876,"eligible_days":20,"penalty_percentage":"10.0","created_at":"2016-12-07T12:35:09Z","updated_at":"2016-12-07T12:35:09Z"}]}'
  recorded_at: Fri, 09 Dec 2016 09:41:16 GMT
recorded_with: VCR 3.0.3
