---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/special_offers
    body:
      encoding: UTF-8
      string: '{"rental_id":12,"special_offers":[{"name":"New special offer","start_at":"2014-04-28","end_at":"2014-05-28","discount":5}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398430800'
      X-Ratelimit-Remaining:
      - '999'
      Location:
      - https://www.bookingsync.com/api/v3/special_offers/2
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"a1c8e3a7e004656199b477e2bde9a360"'
    body:
      encoding: UTF-8
      string: '{"special_offers":[{"id":2,"rental_id":12,"name":"New special offer","start_at":"2014-04-28","end_at":"2014-05-28","discount":5}]}'
  recorded_at: Fri, 25 Apr 2014 12:38:24 GMT
recorded_with: VCR 2.9.0
