---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_urls
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7c8aa051de8288e54fe0909f1b295531"
      Link:
      - <https://www.bookingsync.com/api/v3/rental_urls?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rental_urls?page=1>;
        rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1570309200'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-05 20:23:39 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_urls.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_urls.rental}"},"rental_urls":[{"links":{"rental":1},"id":"a6e9b7a2-0fb9-42dc-8bf6-4bfa0b1aae25","label":"HomeAway","url":"test.com","lock":{"record":"","attributes":{}},"canceled_at":null,"created_at":"2019-10-05T20:23:21Z","updated_at":"2019-10-05T20:23:21Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/rental_urls?page=1","last":"https://www.bookingsync.com/api/v3/rental_urls?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Sat, 05 Oct 2019 20:23:39 GMT
recorded_with: VCR 5.0.0
