---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/bookings/227/host_reviews
    body:
      encoding: UTF-8
      string: '{"host_reviews":[{"comment":"Awesome guest","submitted_at":"2020-06-06T12:00:00Z","expires_at":"2020-06-07T12:00:00Z","is_guest_recommended":true,"shareable":false}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2a71b157a34b2fff2b095f47bb99c424"
      Location:
      - https://www.bookingsync.com/api/v3/host_reviews/2bea6b06-1b8b-43ba-bc07-78e2839365e7
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
      X-Ratelimit-Reset:
      - '1620298800'
      X-Updated-Since-Request-Synced-At:
      - 2021-05-06 10:52:56 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"host_reviews.source":"https://www.bookingsync.com/api/v3/sources/{host_reviews.source}","host_reviews.booking":"https://www.bookingsync.com/api/v3/bookings/{host_reviews.booking}","host_reviews.rental":"https://www.bookingsync.com/api/v3/rentals/{host_reviews.rental}","host_reviews.account":"https://www.bookingsync.com/api/v3/accounts/{host_reviews.account}","host_reviews.reply":"https://www.bookingsync.com/api/v3/review_replies/{host_reviews.reply}"},"host_reviews":[{"links":{"account":1,"booking":227,"rental":1,"reply":null,"source":null},"id":"2bea6b06-1b8b-43ba-bc07-78e2839365e7","comment":"Awesome
        guest","created_at":"2021-05-06T10:52:56Z","updated_at":"2021-05-06T10:52:56Z","shareable":false,"private_comment":null,"criteria":{"cleanliness":null,"communication":null,"respect_house_rules":null},"submitted_at":"2020-06-06T12:00:00Z","is_guest_recommended":true,"expires_at":"2020-06-07T12:00:00Z"}],"meta":{}}'
  recorded_at: Thu, 06 May 2021 10:52:56 GMT
recorded_with: VCR 3.0.3
