---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_cancelation_policies
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:48 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '968'
      Link:
      - <https://www.bookingsync.com/api/v3/rental_cancelation_policies?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rental_cancelation_policies?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '100'
      Etag:
      - W/"34ba6cd8ca86e249b0b31728140eeffb"
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policies.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_cancelation_policies.rental}","rental_cancelation_policies.rental_cancelation_policy_items":"https://www.bookingsync.com/api/v3/rental_cancelation_policy_items/{rental_cancelation_policies.rental_cancelation_policy_items}"},"rental_cancelation_policies":[{"links":{"rental":5116,"rental_cancelation_policy_items":[14849]},"id":16404,"body":"```body```","created_at":"2016-12-05T22:37:43Z","updated_at":"2016-12-05T22:37:43Z","body_translations":{"fr":"","en":"```body```"}},{"links":{"rental":5117,"rental_cancelation_policy_items":[14872]},"id":16438,"body":"Lorem
        Ipsum","created_at":"2016-12-07T12:35:09Z","updated_at":"2016-12-07T12:35:09Z","body_translations":{"fr":"","en":"Lorem
        Ipsum","de":""}},{"links":{"rental":12216,"rental_cancelation_policy_items":[14875]},"id":16441,"body":"Lorem
        Ipsum","created_at":"2016-12-07T12:35:09Z","updated_at":"2016-12-07T12:35:09Z","body_translations":{"fr":"","en":"Lorem
        Ipsum","de":""}},{"links":{"rental":13275,"rental_cancelation_policy_items":[14876]},"id":16442,"body":"Lorem
        Ipsum","created_at":"2016-12-07T12:35:09Z","updated_at":"2016-12-07T12:35:09Z","body_translations":{"fr":"","en":"Lorem
        Ipsum","de":""}}]}'
  recorded_at: Mon, 12 Dec 2016 11:32:48 GMT
recorded_with: VCR 3.0.3
