---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rental_cancelation_policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1443110400'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - <https://bookingsync.dev/api/v3/rental_cancelation_policies?page=1>; rel="first",
        <https://bookingsync.dev/api/v3/rental_cancelation_policies?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"10f5bfc57d70c6a495f13179be8d0091"'
    body:
      encoding: UTF-8
      string: '{"links":{"rental_cancelation_policies.account":"https://bookingsync.dev/api/v3/accounts/{rental_cancelation_policies.policeable.id}","rental_cancelation_policies.rental":"https://bookingsync.dev/api/v3/rentals/{rental_cancelation_policies.policeable.id}","rental_cancelation_policies.rental_cancelation_policy_items":"https://bookingsync.dev/api/v3/rental_cancelation_policy_items/{rental_cancelation_policies.rental_cancelation_policy_items}"},"rental_cancelation_policies":[{"links":{"policeable":{"id":1,"type":"Rental"},"rental_cancelation_policy_items":[1]},"id":1,"body":"```
        sdf ```","created_at":"2015-09-23T11:48:15Z","updated_at":"2015-09-23T11:48:15Z"},{"links":{"policeable":{"id":1,"type":"Account"},"rental_cancelation_policy_items":[2]},"id":2,"body":"body","created_at":"2015-09-23T12:03:46Z","updated_at":"2015-09-23T12:03:46Z"}]}'
  recorded_at: Thu, 24 Sep 2015 15:44:35 GMT
recorded_with: VCR 2.9.3
