---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/fees/474
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441836000'
      X-Ratelimit-Remaining:
      - '974'
      Link:
      - <https://www.bookingsync.com/api/v3/fees/474?page=1>; rel="first", <https://www.bookingsync.com/api/v3/fees/474?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"70d379460c62943346fad5ed20f730b2"'
    body:
      encoding: UTF-8
      string: '{"links":{"fees.account":"https://www.bookingsync.com/api/v3/accounts/{fees.account}"},"fees":[{"links":{"account":3837},"id":474,"name":{"en":"test
        fee"},"rate":"10.0","rate_kind":"fixed","created_at":"2015-09-09T20:23:53Z","updated_at":"2015-09-09T20:23:54Z","downpayment_percentage":"10.0"}]}'
  recorded_at: Wed, 09 Sep 2015 21:13:17 GMT
recorded_with: VCR 2.9.2
