---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/rental_urls/33878e9a-4c09-4f02-a340-6c3c099e66ad
    body:
      encoding: UTF-8
      string: '{"rental_urls":{"url":"new_url.com"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"49d42f08bf0f177db57311ced8bea84e"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1570312800'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-05 21:02:46 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_urls.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_urls.rental}"},"rental_urls":[{"links":{"rental":1},"id":"33878e9a-4c09-4f02-a340-6c3c099e66ad","label":"HomeAway","url":"new_url.com","lock":{"record":"doorkeeper/application-9","attributes":{}},"canceled_at":null,"created_at":"2019-10-05T20:58:12Z","updated_at":"2019-10-05T21:02:46Z"}],"meta":{}}'
  recorded_at: Sat, 05 Oct 2019 21:02:46 GMT
recorded_with: VCR 5.0.0
