---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_rules/252
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '941'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_rules/252?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/rates_rules/252?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"6d1591039a912f0fababfd535793b2ff"'
    body:
      encoding: UTF-8
      string: '{"links":{"rates_rules.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rates_rules.rates_table}","rates_rules.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_rules.seasons}"},"rates_rules":[{"links":{"rates_table":274,"seasons":[]},"id":252,"always_applied":true,"percentage":"-7.0","period_name":"","kind":"stay_at_least","variables":{"days":[],"length":21,"unit":"days"},"start_date":null,"end_date":null,"created_at":"2014-08-08T18:34:37Z","updated_at":"2014-11-17T23:03:40Z"}],"meta":{}}'
  recorded_at: Wed, 09 Sep 2015 20:30:59 GMT
recorded_with: VCR 2.9.2
