---
http_interactions:
- request:
    method: patch
    uri: https://www.bookingsync.com/api/v3/bookings/840043/add_bookings_fee
    body:
      encoding: UTF-8
      string: '{"bookings_fees":[{"price":100,"times_booked":2,"name_en":"Cleaning Fee"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2017-10-29 10:16:57 UTC
      X-Ratelimit-Limit:
      - '100000'
      X-Ratelimit-Reset:
      - '1509274800'
      X-Ratelimit-Remaining:
      - '99995'
    body:
      encoding: ASCII-8BIT
      string: '{"bookings":[{"id":840043,"start_at":"2017-01-03T00:00:00Z","end_at":"2019-03-25T21:45:00Z","booked":true,"unavailable":false,"tentative_expires_at":null,"rental_id":5116,"client_id":null,"initial_price":"200.0","discount":"","final_price":"600.0","notes":null,"adults":null,"children":null,"account_id":3837,"created_at":"2016-12-12T11:52:09Z","updated_at":"2017-10-29T10:16:57Z","canceled_at":"2016-12-12T12:13:16Z","downpayment":null,"currency":"USD","source_id":null,"damage_deposit":"0.0","reference":"00I06J","bookings_fees":[{"id":194398,"booking_id":840043,"rentals_fee_id":null,"times_booked":1,"price":"50.0","created_at":"2017-10-29T10:16:57Z","updated_at":"2017-10-29T10:16:57Z","canceled_at":null,"commission":null,"payback_to_owner":null,"locked":null,"name":"Airport transfer"},{"id":194396,"booking_id":840043,"rentals_fee_id":null,"times_booked":2,"price":"100.0","created_at":"2017-10-29T10:16:19Z","updated_at":"2017-10-29T10:16:19Z","canceled_at":null,"commission":null,"payback_to_owner":null,"locked":null,"name":"Cleaning Fee"}]}]}'
  recorded_at: Sun, 29 Oct 2017 10:16:57 GMT
recorded_with: VCR 3.0.3
