---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals
    body:
      encoding: UTF-8
      string: "{\"rentals\":[{\"name\":\"New rental\",\"sleeps\":2}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398265200'
      X-Ratelimit-Remaining:
      - '986'
      Location:
      - https://www.bookingsync.com/api/v3/rentals/49
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"fcd4f71deda5f59020d892a9cb37c95c\""
    body:
      encoding: UTF-8
      string: "{\"links\":{\"rentals.destination\":\"https://www.bookingsync.com/api/v3/destinations/{rentals.destination}\",\"rentals.photos\":\"https://www.bookingsync.com/api/v3/photos/{rentals.photos}\"},\"rentals\":[{\"links\":{\"destination\":null,\"photos\":[]},\"account_id\":1,\"id\":49,\"name\":\"New
        rental\",\"headline\":{\"en\":null},\"summary\":{\"en\":null},\"description\":{\"en\":null},\"rental_type\":null,\"units\":1,\"bedrooms_count\":null,\"sleeps\":2,\"sleeps_max\":null,\"bathrooms_count\":null,\"surface\":null,\"bookable_online\":false,\"min_price\":null,\"max_price\":null,\"price_kind\":null,\"currency\":null,\"rates_public_notes\":{\"en\":null},\"lat\":null,\"lng\":null,\"city\":null,\"state\":null,\"country\":\"\",\"contact_name\":null,\"amenities\":[],\"reviews_count\":0,\"reviews_average_rating\":null,\"updated_at\":\"2014-04-23T14:06:44Z\",\"checkin_time\":16,\"checkout_time\":10}]}"
  recorded_at: Wed, 23 Apr 2014 14:06:44 GMT
recorded_with: VCR 2.9.0
