---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals
    body:
      encoding: UTF-8
      string: '{"rentals":[{"name":"New rental","sleeps":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:22 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '894'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals?page=1&rentals%5B%5D%5Bname%5D=New+rental&rentals%5B%5D%5Bsleeps%5D=2>;
        rel="first"
      X-Per-Page:
      - '50'
      Location:
      - https://www.bookingsync.com/api/v3/rentals/26373
      Etag:
      - W/"8c170b2fc0ae6b64e81aebdc9e1876c7"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.account":"https://www.bookingsync.com/api/v3/accounts/{rentals.account}","rentals.availability":"https://www.bookingsync.com/api/v3/availabilities/{rentals.availability}","rentals.change_over":"https://www.bookingsync.com/api/v3/change_overs/{rentals.change_over}","rentals.destination":"https://www.bookingsync.com/api/v3/destinations/{rentals.destination}","rentals.payment_gateway":"https://www.bookingsync.com/api/v3/payment_gateways/{rentals.payment_gateway}","rentals.rates_table":"https://www.bookingsync.com/api/v3/rates_tables/{rentals.rates_table}","rentals.rental_agreement":"https://www.bookingsync.com/api/v3/rental_agreements/{rentals.rental_agreement}","rentals.rental_cancelation_policy":"https://www.bookingsync.com/api/v3/rental_cancelation_policies/{rentals.rental_cancelation_policy}","rentals.nightly_rate_map":"https://www.bookingsync.com/api/v3/nightly_rate_maps/{rentals.nightly_rate_map}","rentals.photos":"https://www.bookingsync.com/api/v3/photos/{rentals.photos}","rentals.reviews":"https://www.bookingsync.com/api/v3/reviews/{rentals.reviews}","rentals.special_offers":"https://www.bookingsync.com/api/v3/special_offers/{rentals.special_offers}","rentals.rates":"https://www.bookingsync.com/api/v3/rates/{rentals.rates}","rentals.rentals_amenities":"https://www.bookingsync.com/api/v3/rentals_amenities/{rentals.rentals_amenities}","rentals.rentals_fees":"https://www.bookingsync.com/api/v3/rentals_fees/{rentals.rentals_fees}","rentals.bathrooms":"https://www.bookingsync.com/api/v3/bathrooms/{rentals.bathrooms}","rentals.bedrooms":"https://www.bookingsync.com/api/v3/bedrooms/{rentals.bedrooms}","rentals.living_rooms":"https://www.bookingsync.com/api/v3/living_rooms/{rentals.living_rooms}","rentals.rentals_tags":"https://www.bookingsync.com/api/v3/rentals_tags/{rentals.rentals_tags}"},"rentals":[{"links":{"account":3837,"availability":24724,"change_over":23413,"destination":null,"payment_gateway":null,"rates_table":85292,"rental_agreement":29795,"rental_cancelation_policy":16546,"nightly_rate_map":23413,"photos":[],"reviews":[],"special_offers":[],"rates":[],"rentals_amenities":[],"rentals_fees":[],"bathrooms":[],"bedrooms":[],"living_rooms":[],"rentals_tags":[]},"id":26373,"name":"New
        rental","headline":{},"summary":{},"description":{},"rental_type":null,"downpayment":30,"bedrooms_count":0,"sleeps":2,"sleeps_max":null,"bathrooms_count":0,"surface":null,"surface_unit":null,"bookable_online":false,"bookable_on_request":false,"min_price":null,"max_price":null,"price_kind":null,"currency":null,"price_public_notes":{},"lat":null,"lng":null,"city":null,"state":null,"country_code":null,"contact_name":null,"reviews_count":0,"reviews_average_rating":null,"published_at":null,"created_at":"2016-12-12T11:52:22Z","updated_at":"2016-12-12T11:52:22Z","address1":null,"address2":null,"zip":null,"checkin_time":16,"checkout_time":10,"initial_price":null,"final_price":null,"position":9,"base_rate":null,"base_rate_kind":null,"absolute_min_price":"0.0","notes":null,"stories_count":null,"floor":"","damage_deposit":"0.0","owner_fullname":null,"owner_email":null,"owner_notes":null,"checkin_details":{},"checkout_details":{},"balance_due":30,"website_url":{},"charge_damage_deposit_on_arrival":true,"full_bathrooms_count":0,"standalone_toilets_count":0,"vr_bathrooms_count":0,"nightly_rates_managed_externally":false,"rounding_kind":"no-rounding"}]}'
  recorded_at: Mon, 12 Dec 2016 11:52:22 GMT
recorded_with: VCR 3.0.3
