---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396990800.0'
      X-Ratelimit-Remaining:
      - '998'
      Link:
      - <https://www.bookingsync.com/api/v3/photos?page=1>; rel="first", <https://www.bookingsync.com/api/v3/photos?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Etag:
      - '"017d37489332e3a29069c74028c63efa"'
    body:
      encoding: UTF-8
      string: '{"photos":[{"id":2,"rental_id":836,"description":{"en":null},"kind":null,"large_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/2/large_28da69f9d820e5fdbb783e0db394c898.jpg","normal_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/2/normal_28da69f9d820e5fdbb783e0db394c898.jpg","thumb_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/2/thumb_28da69f9d820e5fdbb783e0db394c898.jpg","micro_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/2/micro_28da69f9d820e5fdbb783e0db394c898.jpg","position":1},{"id":1,"rental_id":836,"description":{"en":null},"kind":null,"large_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/1/large_75bfb755b66a9f209f108bb5ae8153a2.jpg","normal_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/1/normal_75bfb755b66a9f209f108bb5ae8153a2.jpg","thumb_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/1/thumb_75bfb755b66a9f209f108bb5ae8153a2.jpg","micro_url":"https://bs-eu.s3.amazonaws.com/app/production/photo/photo/1/micro_75b[...]
