---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/sources
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 14:26:27 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481295600'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/sources?page=1>; rel="first", <https://www.bookingsync.com/api/v3/sources?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '4'
      X-Per-Page:
      - '100'
      Etag:
      - W/"f1b0f65010566d808801311a850e4830"
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https://www.bookingsync.com/api/v3/accounts/{sources.account}","sources.bookings":"https://www.bookingsync.com/api/v3/bookings/{sources.bookings}"},"sources":[{"links":{"account":3837,"bookings":[829165,142616]},"id":1874,"name":"test","created_at":"2015-09-09T21:10:36Z","updated_at":"2015-09-09T21:10:36Z","position":1},{"links":{"account":3837,"bookings":[]},"id":2469,"name":"Roomorama","created_at":"2016-01-20T16:21:39Z","updated_at":"2016-01-20T16:21:39Z","position":2},{"links":{"account":3837,"bookings":[]},"id":4424,"name":"iCal
        Import","created_at":"2016-11-22T09:44:30Z","updated_at":"2016-11-22T09:44:30Z","position":3},{"links":{"account":3837,"bookings":[]},"id":4498,"name":"HomeAway.com","created_at":"2016-12-06T16:44:19Z","updated_at":"2016-12-06T16:45:56Z","position":4}]}'
  recorded_at: Fri, 09 Dec 2016 14:26:27 GMT
recorded_with: VCR 3.0.3
