---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1407834000'
      X-Ratelimit-Remaining:
      - '987'
      Link:
      - <https://www.bookingsync.com/api/v3/sources?page=1>; rel="first", <https://www.bookingsync.com/api/v3/sources?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Etag:
      - '"171b714f1005a07e3d0419b2b28c3bd1"'
    body:
      encoding: UTF-8
      string: '{"links":{"sources.account":"https:\/\/www.bookingsync.com\/api\/v3\/accounts\/{sources.account}"},"sources":[{"links":{"account":1},"id":4,"name":"test","created_at":"2014-08-12T08:15:25Z","updated_at":"2014-08-12T08:18:47Z"}]}'
  recorded_at: Tue, 12 Aug 2014 08:19:30 GMT
recorded_with: VCR 2.9.2
