---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rentals_amenities
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"amenity_id":48,"details_en":"Details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:19:01 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '964'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/rentals_amenities?page=1&rentals_amenities%5B%5D%5Bamenity_id%5D=48&rentals_amenities%5B%5D%5Bdetails_en%5D=Details>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_amenities/212122
      Etag:
      - W/"afc72b7824ee3746e717ab9386795908"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":48,"rental":5116},"id":212122,"created_at":"2016-12-12T12:19:01Z","updated_at":"2016-12-12T12:19:01Z","details":{"en":"Details"}}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:19:01 GMT
recorded_with: VCR 3.0.3
