---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rentals_amenities
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"amenity_id":44,"details_en":"Details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '915'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_amenities/32833
      Etag:
      - '"aba295b26ac136614052adb7f76ac748"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":44,"rental":5116},"id":32833,"created_at":"2015-09-09T20:46:30Z","updated_at":"2015-09-09T20:46:30Z","details":{"en":"Details"}}]}'
  recorded_at: Wed, 09 Sep 2015 20:46:31 GMT
recorded_with: VCR 2.9.2
