---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/rentals_amenities
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"amenity_id":81,"details_en":"Details"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 10:21:35 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481281200'
      X-Ratelimit-Remaining:
      - '983'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/rentals_amenities?page=1&rentals_amenities%5B%5D%5Bamenity_id%5D=81&rentals_amenities%5B%5D%5Bdetails_en%5D=Details>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_amenities/211832
      Etag:
      - W/"d3e8b3e1db62afe9730e6cc35968507a"
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":81,"rental":5116},"id":211832,"created_at":"2016-12-09T10:21:35Z","updated_at":"2016-12-09T10:21:35Z","details":{"en":"Details"}}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 10:21:35 GMT
recorded_with: VCR 3.0.3
