---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/38/rentals_amenities
    body:
      encoding: UTF-8
      string: '{"rentals_amenities":[{"amenity_id":51}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1435431600'
      X-Ratelimit-Remaining:
      - '975'
      Location:
      - https://www.bookingsync.com/api/v3/rentals_amenities/5
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"2b241bab5594fc4bd2eda9a5fcc84f0e"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals_amenities.amenity":"https://www.bookingsync.com/api/v3/amenities/{rentals_amenities.amenity}","rentals_amenities.rental":"https://www.bookingsync.com/api/v3/rentals/{rentals_amenities.rental}"},"rentals_amenities":[{"links":{"amenity":51,"rental":38},"id":5,"created_at":"2015-06-27T18:35:11Z","updated_at":"2015-06-27T18:35:11Z"}]}'
  recorded_at: Sat, 27 Jun 2015 18:35:11 GMT
recorded_with: VCR 2.9.3
