---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bookings/20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1410710400'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/bookings/20?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bookings/20?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"90e551291052efcb67155a7388ec2377"'
    body:
      encoding: UTF-8
      string: '{"links":{"bookings.account":"http:\/\/www.bookingsync.com\/api\/v3\/accounts\/{bookings.account}","bookings.rental":"http:\/\/www.bookingsync.com\/api\/v3\/rentals\/{bookings.rental}","bookings.client":"http:\/\/www.bookingsync.com\/api\/v3\/clients\/{bookings.client}","bookings.rental_agreement":"http:\/\/www.bookingsync.com\/api\/v3\/rental_agreements\/{bookings.rental_agreement}","bookings.source":"http:\/\/www.bookingsync.com\/api\/v3\/sources\/{bookings.source}"},"bookings":[{"links":{"account":1,"rental":1,"client":15,"rental_agreement":null,"source":null},"id":20,"start_at":"2014-09-14T16:00:00Z","end_at":"2014-09-28T10:00:00Z","status":"Booked","updated_at":"2014-06-12T22:25:02Z","booked":true,"unavailable":false,"tentative_expires_at":null,"initial_price":"3000.0","discount":null,"final_price":"3000.0","deposit":null,"currency":"USD","notes":"","adults":5,"children":null,"bookings_payments_count":0,"review_requests_count":0,"locked":null,"created_at":"2014-06-12T22:25:02Z","canceled_at":null}],"meta":{}}'
  recorded_at: Sun, 14 Sep 2014 15:08:06 GMT
recorded_with: VCR 2.9.0
