---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reservations/offers?per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2026-08-13 09:44:42 UTC
      X-Ratelimit-Limit:
      - '1000000'
      X-Ratelimit-Reset:
      - '1786615200'
      X-Ratelimit-Remaining:
      - '999980'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Link:
      - <https://www.bookingsync.com/api/v3/reservations/offers?page=1&per_page=2>; rel="first",
        <https://www.bookingsync.com/api/v3/reservations/offers?page=2&per_page=2>; rel="next",
        <https://www.bookingsync.com/api/v3/reservations/offers?page=3&per_page=2>; rel="last"
      X-Total-Pages:
      - '3'
      X-Total-Count:
      - '5'
      X-Per-Page:
      - '2'
      X-Current-Page:
      - '1'
      Etag:
      - W/"5401a3f2ddc331db6a47561f70729e04"
      X-Miniprofiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-Miniprofiler-Ids:
      - jyjbr4olpubqtpeukfsu,wbeca207fohukg0y7doh,a4li770cewkr5mdzcntt,w79m5h3hjpl2gu7vmyr2,su93n1eqsd9p8jw1gjt7,mghevmsym2u5r5hjcg4l,cnueo2x7jxovu7yxrzu1,583icg9w65zmv9p0owlv,xjifh57wefx9sadw8dsk,9r1cbvaxy660so0rosec,ii0cu8whbp05k4seu0g9,51upjlzc2fiiomb3px3a,rb4n8ibdesq5vpgi5qls,pqzqqi27j140pnsmzjnx,ti8eyk58ij432etthju4,ve10ya82r6clzqh9i3if,qh5surbc19l3vghlvjfl,y435k5tyc3cvshigb0yv,avck3om580t5k1yd3zvj,xwlr6ev2k75c69se228v
    body:
      encoding: UTF-8
      string: '{"links":{"offers.account":"https://www.bookingsync.com/api/v3/accounts/{offers.account}","offers.application":"https://www.bookingsync.com/api/v3/applications/{offers.application}","offers.booking":"https://www.bookingsync.com/api/v3/bookings/{offers.booking}","offers.client":"https://www.bookingsync.com/api/v3/clients/{offers.client}","offers.rental":"https://www.bookingsync.com/api/v3/rentals/{offers.rental}"},"offers":[{"links":{"account":1,"application":1,"booking":null,"client":1,"rental":1},"adults":2,"canceled_at":null,"children":0,"created_at":"2026-08-13T09:19:56Z","created_by_id":1,"created_by_type":"Doorkeeper::Application","currency":"EUR","end_date":"2026-10-08","expires_at":"2026-09-01T12:00:00Z","id":1,"start_date":"2026-10-01","status":"pending","total_amount_cents":99000,"updated_at":"2026-08-13T09:20:10Z"},{"links":{"account":1,"application":1,"booking":null,"client":1,"rental":1},"adults":2,"canceled_at":null,"children":1,"created_at":"2026-08-13T09:34:10Z","created_by_id":1,"created_by_type":"Doorkeeper::Application","currency":"EUR","end_date":"2026-10-08","expires_at":"2026-09-01T12:00:00Z","id":2,"start_date":"2026-10-01","status":"pending","total_amount_cents":55000,"updated_at":"2026-08-13T09:34:10Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/reservations/offers?page=1\u0026per_page=2","next":"https://www.bookingsync.com/api/v3/reservations/offers?page=2\u0026per_page=2","last":"https://www.bookingsync.com/api/v3/reservations/offers?page=3\u0026per_page=2"},"X-Total-Pages":"3","X-Total-Count":"5","X-Per-Page":"2"}}'
  recorded_at: Thu, 13 Aug 2026 09:44:42 GMT
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/reservations/offers?page=2&per_page=2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Updated-Since-Request-Synced-At:
      - 2026-08-13 09:44:42 UTC
      X-Ratelimit-Limit:
      - '1000000'
      X-Ratelimit-Reset:
      - '[...]
[...]
