---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/reservations/requests
    body:
      encoding: UTF-8
      string: '{"requests":[{"conversation_id":123,"rental_id":456,"client_id":789,"booking_id":101,"expires_at":"2026-06-25T12:00:00Z","booking_payload":{"start_date":"2026-07-01","end_date":"2026-07-08","adults":2,"children":0,"final_price":"950.00","currency":"EUR"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"links":{"requests.conversation":"https://www.bookingsync.com/api/v3/inbox/conversations/{requests.conversation}","requests.rental":"https://www.bookingsync.com/api/v3/rentals/{requests.rental}","requests.client":"https://www.bookingsync.com/api/v3/clients/{requests.client}","requests.booking":"https://www.bookingsync.com/api/v3/bookings/{requests.booking}"},"requests":[{"links":{"conversation":123,"rental":456,"client":789,"booking":101},"id":60,"expires_at":"2026-06-25T12:00:00Z","status":"pending","booking_payload":{"start_date":"2026-07-01","end_date":"2026-07-08","adults":2,"children":0,"final_price":"950.00","currency":"EUR"},"created_at":"2026-07-06T10:00:00Z","updated_at":"2026-07-06T10:00:00Z"}]}'
  recorded_at: Mon, 06 Jul 2026 10:00:00 GMT
recorded_with: VCR 3.0.3
