---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/conversations
    body:
      encoding: UTF-8
      string: '{"conversations":[{"subject":"New Question","assignee_id":1,"source_id":1}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"502a02c5ab32809a35bb35e0811d2a9a"
      Link:
      - <https://www.bookingsync.com/api/v3/conversations?conversations%5B%5D%5Bassignee_id%5D=1&conversations%5B%5D%5Bsource_id%5D=1&conversations%5B%5D%5Bsubject%5D=New+Question&page=1>;
        rel="first"
      Location:
      - "/api/v3/conversations/8"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519927200'
      X-Updated-Since-Request-Synced-At:
      - 2018-03-01 17:28:25 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"conversations.account":"https://www.bookingsync.com/api/v3/accounts/{conversations.account}","conversations.assignee":"https://www.bookingsync.com/api/v3/users/{conversations.assignee}","conversations.bookings":"https://www.bookingsync.com/api/v3/bookings/{conversations.bookings}","conversations.inquiries":"https://www.bookingsync.com/api/v3/inquiries/{conversations.inquiries}","conversations.source":"https://www.bookingsync.com/api/v3/sources/{conversations.source}"},"conversations":[{"links":{"account":1,"assignee":1,"bookings":[],"inquiries":[],"source":1},"closed_at":null,"created_at":"2018-03-01T17:28:25Z","deadline_response_at":null,"id":8,"last_message_at":null,"marked_as_spam_at":null,"subject":"New
        Question","updated_at":"2018-03-01T17:28:25Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/conversations?conversations%5B%5D%5Bassignee_id%5D=1&conversations%5B%5D%5Bsource_id%5D=1&conversations%5B%5D%5Bsubject%5D=New+Question&page=1"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Thu, 01 Mar 2018 17:28:25 GMT
recorded_with: VCR 4.0.0
