---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/conversations
    body:
      encoding: UTF-8
      string: '{"conversations":[{"subject":"New Question"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"60eb3d1a32d17286621f917a76c8d7d5"
      Link:
      - <https://www.bookingsync.com/api/v3/conversations?conversations%5B%5D%5Bsubject%5D=New+Question&page=1>;
        rel="first"
      Location:
      - "/api/v3/conversations/6"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519815600'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 10:24:06 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"conversations.account":"https://www.bookingsync.com/api/v3/accounts/{conversations.account}","conversations.assignee":"https://www.bookingsync.com/api/v3/users/{conversations.assignee}","conversations.bookings":"https://www.bookingsync.com/api/v3/bookings/{conversations.bookings}","conversations.inquiries":"https://www.bookingsync.com/api/v3/inquiries/{conversations.inquiries}","conversations.source":"https://www.bookingsync.com/api/v3/sources/{conversations.source}"},"conversations":[{"links":{"account":1,"assignee":null,"bookings":[],"inquiries":[],"source":null},"closed_at":null,"created_at":"2018-02-28T10:24:06Z","deadline_response_at":null,"id":6,"last_message_at":null,"marked_as_spam_at":null,"subject":"New
        Question","updated_at":"2018-02-28T10:24:06Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/conversations?conversations%5B%5D%5Bsubject%5D=New+Question&page=1"},"X-Total-Pages":null,"X-Total-Count":null,"X-Per-Page":"100"}}'
  recorded_at: Wed, 28 Feb 2018 10:24:06 GMT
recorded_with: VCR 4.0.0
