---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/payment_gateways
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 18:18:39 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481223600'
      X-Ratelimit-Remaining:
      - '992'
      Link:
      - <https://www.bookingsync.com/api/v3/payment_gateways?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/payment_gateways?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"151aad60447b8f2eb513c0ab676d499b"
    body:
      encoding: UTF-8
      string: '{"links":{"payment_gateways.account":"https://www.bookingsync.com/api/v3/accounts/{payment_gateways.account}"},"payment_gateways":[{"links":{"account":3837},"id":766,"test":true,"gateway_name":"bogus","credentials":{},"supported_cardtypes":["bogus"],"supported_currencies":["USD"],"created_at":"2016-12-06T10:02:22Z","updated_at":"2016-12-06T10:26:36Z"}]}'
  recorded_at: Thu, 08 Dec 2016 18:18:39 GMT
recorded_with: VCR 3.0.3
