---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/destinations/7301
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441832400'
      X-Ratelimit-Remaining:
      - '970'
      Link:
      - <https://www.bookingsync.com/api/v3/destinations/7301?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/destinations/7301?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"47249ebadc8b5a23bf610c28b73892d9"'
    body:
      encoding: UTF-8
      string: '{"destinations":[{"id":7301,"name":{"en":"Sivota Lefkada"},"fullname":{"en":"Sivota
        Lefkada, Lefkada (Lefkas), Ionian Islands, Greece, Europe, World","fr":"Sivota
        Lefkada, Lefkada (Lefkas), Ionian Islands, Greece, Europe, World"},"permalink":{"en":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada","fr":"world/europe/greece/ionian-islands/lefkada-lefkas/sivota-lefkada"},"aliases":{"en":"---\n-
        Syvota\n"},"counter":2}]}'
  recorded_at: Wed, 09 Sep 2015 20:18:54 GMT
recorded_with: VCR 2.9.2
