---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/destinations/99
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:49 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '938'
      Link:
      - <https://www.bookingsync.com/api/v3/destinations/99?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/destinations/99?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"aa60a9dd0e7c8c9f39d771c668ce1532"
    body:
      encoding: UTF-8
      string: '{"destinations":[{"id":99,"name":{"en":"World"},"fullname":{"en":"World"},"permalink":{"en":"world"},"aliases":{},"counter":2,"ancestor_ids":[]}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:49 GMT
recorded_with: VCR 3.0.3
