---
http_interactions:
- request:
    method: post
    uri: https://bookingsync.com/api/v3/rental_agreements
    body:
      encoding: UTF-8
      string: "{\"rental_agreements\":[{\"body\":\"Lorem ipsum\"}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398866400'
      X-Ratelimit-Remaining:
      - '993'
      Location:
      - https://bookingsync.com/api/v3/rental_agreements/17
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"a6059dbe1dcad8f6945331855d23364b\""
    body:
      encoding: UTF-8
      string: "{\"rental_agreements\":[{\"id\":17,\"body\":\"Lorem ipsum\",\"created_at\":\"2014-04-30T13:45:28Z\",\"updated_at\":\"2014-04-30T13:45:28Z\"}]}"
  recorded_at: Wed, 30 Apr 2014 13:45:28 GMT
recorded_with: VCR 2.9.0
