---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/1/rental_contacts
    body:
      encoding: UTF-8
      string: '{"rental_contacts":[{"contact_id":1,"kind":"owner","roles":["invoices"]}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cf44606bb98753397b9d1fddd806eee3"
      Location:
      - https://www.bookingsync.com/api/v3/rental_contacts/5
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '959'
      X-Ratelimit-Reset:
      - '1570611600'
      X-Updated-Since-Request-Synced-At:
      - 2019-10-09 08:57:49 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"rental_contacts.rental":"https://www.bookingsync.com/api/v3/rentals/{rental_contacts.rental}","rental_contacts.contact":"https://www.bookingsync.com/api/v3/contacts/{rental_contacts.contact}"},"rental_contacts":[{"links":{"contact":1,"rental":1},"id":5,"kind":"owner","roles":["invoices"],"created_at":"2019-10-09T08:57:49Z","updated_at":"2019-10-09T08:57:49Z","canceled_at":null}],"meta":{}}'
  recorded_at: Wed, 09 Oct 2019 08:57:49 GMT
recorded_with: VCR 5.0.0
