---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/applications/17
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2019-01-28 06:51:43 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1548658800'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://www.bookingsync.com/api/v3/applications/17?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/applications/17?page=1>; rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      X-Current-Page:
      - '1'
      Etag:
      - W/"12fe43cbe24d70d282ed7485bca60003"
    body:
      encoding: UTF-8
      string: '{"applications":[{"id":17,"name":"BSA Website DEV","default_price_increase":"0.0"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/applications/17?page=1","last":"https://www.bookingsync.com/api/v3/applications/17?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Mon, 28 Jan 2019 06:51:43 GMT
recorded_with: VCR 4.0.0
