---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1428796800'
      X-Ratelimit-Remaining:
      - '908'
      Link:
      - <https://www.bookingsync.com/api/v3/accounts?page=1>; rel="first", <https://www.bookingsync.com/api/v3/accounts?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"dd45670c9daed0df6d3050130202d15b"'
    body:
      encoding: UTF-8
      string: '{"accounts":[{"business_name":"My Villas","created_at":"2009-12-19T17:11:16Z","id":1,"updated_at":"2013-06-28T10:23:07Z","status":"trial","preferences":{"bookings":{"default_arrival_time":16,"default_departure_time":10}},"email":"demo_en@bookingsync.com"}]}'
  recorded_at: Sat, 11 Apr 2015 23:42:07 GMT
recorded_with: VCR 2.9.0
