---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/bathrooms
    body:
      encoding: UTF-8
      string: '{"bathrooms":[{"name_en":"New bathroom","wc_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 15:29:03 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481212800'
      X-Ratelimit-Remaining:
      - '984'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/bathrooms?bathrooms%5B%5D%5Bname_en%5D=New+bathroom&bathrooms%5B%5D%5Bwc_count%5D=2&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/bathrooms/41327
      Etag:
      - W/"98989f34a32b79498150eb5277df90f1"
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":41327,"name":{"en":"New
        bathroom"},"wc_count":2,"shower_count":0,"bath_count":0,"created_at":"2016-12-08T15:29:03Z","updated_at":"2016-12-08T15:29:03Z"}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 15:29:03 GMT
recorded_with: VCR 3.0.3
