---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/bathrooms
    body:
      encoding: UTF-8
      string: '{"bathrooms":[{"name_en":"New bathroom","wc":true}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441738800'
      X-Ratelimit-Remaining:
      - '964'
      Location:
      - https://www.bookingsync.com/api/v3/bathrooms/8729
      Etag:
      - '"bdd3245a67be587735129a92ce4b48f7"'
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":8729,"name":{"en":"New
        bathroom"},"wc":true,"shower":false,"bath":false,"created_at":"2015-09-08T18:55:45Z","updated_at":"2015-09-08T18:55:45Z"}]}'
  recorded_at: Tue, 08 Sep 2015 18:55:46 GMT
recorded_with: VCR 2.9.2
