---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rentals/5116/bathrooms
    body:
      encoding: UTF-8
      string: '{"bathrooms":[{"name_en":"New bathroom","wc_count":2}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:08 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '915'
      Link:
      - <https://www.bookingsync.com/api/v3/rentals/5116/bathrooms?bathrooms%5B%5D%5Bname_en%5D=New+bathroom&bathrooms%5B%5D%5Bwc_count%5D=2&page=1>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/bathrooms/41394
      Etag:
      - W/"8885d3305ce3ccd96c35d3cff21fe420"
    body:
      encoding: UTF-8
      string: '{"links":{"bathrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bathrooms.rental}"},"bathrooms":[{"links":{"rental":5116},"id":41394,"name":{"en":"New
        bathroom"},"wc_count":2,"shower_count":0,"bath_count":0,"created_at":"2016-12-12T11:52:08Z","updated_at":"2016-12-12T11:52:08Z"}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:08 GMT
recorded_with: VCR 3.0.3
