---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/bedrooms/945
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441828800'
      X-Ratelimit-Remaining:
      - '972'
      Link:
      - <https://www.bookingsync.com/api/v3/bedrooms/945?page=1>; rel="first", <https://www.bookingsync.com/api/v3/bedrooms/945?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"5d3983bdd4a4cb7cf46515c8c0d5a260"'
    body:
      encoding: UTF-8
      string: '{"links":{"bedrooms.rental":"https://www.bookingsync.com/api/v3/rentals/{bedrooms.rental}"},"bedrooms":[{"links":{"rental":5116},"id":945,"name":{"en":"Bedroom
        2","fr":"Chambre 2"},"bunk_beds_count":0,"double_beds_count":0,"kingsize_beds_count":0,"queensize_beds_count":0,"single_beds_count":0,"sofa_beds_count":0,"created_at":"2015-08-12T22:23:31Z","updated_at":"2015-08-12T22:23:31Z"}]}'
  recorded_at: Wed, 09 Sep 2015 19:39:51 GMT
recorded_with: VCR 2.9.2
