---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/applications/17
    body:
      encoding: UTF-8
      string: '{"applications":[{"default_price_increase":1.1}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      X-Updated-Since-Request-Synced-At:
      - 2019-01-29 11:29:34 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1548763200'
      X-Ratelimit-Remaining:
      - '998'
      Etag:
      - W/"fdce7369a2708523045bf15864871fb8"
    body:
      encoding: UTF-8
      string: '{"applications":[{"id":17,"name":"BSA Website DEV","default_price_increase":"1.1"}],"meta":{}}'
  recorded_at: Tue, 29 Jan 2019 11:29:34 GMT
recorded_with: VCR 4.0.0
