---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/accounts/3837
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:43:45 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '951'
      Link:
      - <https://www.bookingsync.com/api/v3/accounts/3837?page=1>; rel="first", <https://www.bookingsync.com/api/v3/accounts/3837?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      X-Per-Page:
      - '100'
      Etag:
      - W/"4d5e3244a9d623edd253cadeb6fc9913"
    body:
      encoding: UTF-8
      string: '{"accounts":[{"business_name":"BSA-Website-Test","created_at":"2014-08-08T18:20:53Z","id":3837,"updated_at":"2016-12-09T09:42:19Z","status":"trial","preferences":{"bookings":{"default_arrival_time":16,"default_departure_time":10,"default_communication_locale":"en"}},"email":"dev@bookingsync.com","selected_locales":["en","fr","de"],"default_locale":"en","phones":{"phone":"","mobile":"","fax":""},"address1":"","address2":"","city":"","zip":"","state":"","country_code":"","website":""}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:43:45 GMT
recorded_with: VCR 3.0.3
