---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/accounts/3837
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1441828800'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://www.bookingsync.com/api/v3/accounts/3837?page=1>; rel="first", <https://www.bookingsync.com/api/v3/accounts/3837?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '1'
      Etag:
      - '"254fcb1ac913a6c215dd91c8071d681b"'
    body:
      encoding: UTF-8
      string: '{"accounts":[{"business_name":"BSA-Website-Test","created_at":"2014-08-08T18:20:53Z","id":3837,"updated_at":"2015-09-09T18:09:40Z","status":"trial","preferences":{"bookings":{"default_arrival_time":16,"default_departure_time":10}},"email":"dev@bookingsync.com"}],"meta":{}}'
  recorded_at: Wed, 09 Sep 2015 19:37:09 GMT
recorded_with: VCR 2.9.2
