---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/conversations/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"771f21727d916da3f40ed04b8ea3a306"
      Link:
      - <https://www.bookingsync.com/api/v3/conversations/1?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/conversations/1?page=1>; rel="last"
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1519815600'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2018-02-28 10:24:05 UTC
    body:
      encoding: UTF-8
      string: '{"links":{"conversations.account":"https://www.bookingsync.com/api/v3/accounts/{conversations.account}","conversations.assignee":"https://www.bookingsync.com/api/v3/users/{conversations.assignee}","conversations.bookings":"https://www.bookingsync.com/api/v3/bookings/{conversations.bookings}","conversations.inquiries":"https://www.bookingsync.com/api/v3/inquiries/{conversations.inquiries}","conversations.source":"https://www.bookingsync.com/api/v3/sources/{conversations.source}"},"conversations":[{"links":{"account":1,"assignee":null,"bookings":[],"inquiries":[],"source":null},"closed_at":null,"created_at":"2018-02-27T17:55:45Z","deadline_response_at":null,"id":1,"last_message_at":null,"marked_as_spam_at":null,"subject":null,"updated_at":"2018-02-27T17:55:45Z"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/conversations/1?page=1","last":"https://www.bookingsync.com/api/v3/conversations/1?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Wed, 28 Feb 2018 10:24:06 GMT
recorded_with: VCR 4.0.0
