---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/rates_tables
    body:
      encoding: UTF-8
      string: '{"rates_tables":[{"name":"New test rate table"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:52:19 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '900'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables?page=1&rates_tables%5B%5D%5Bname%5D=New+test+rate+table>;
        rel="first"
      X-Per-Page:
      - '100'
      Location:
      - https://www.bookingsync.com/api/v3/rates_tables/85291
      Etag:
      - W/"a2c04107f4fa6affc091617c218fedce"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.account":"https://www.bookingsync.com/api/v3/accounts/{rates_tables.account}","rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}","rates_tables.periods":"https://www.bookingsync.com/api/v3/periods/{rates_tables.periods}","rates_tables.rentals":"https://www.bookingsync.com/api/v3/rentals/{rates_tables.rentals}"},"rates_tables":[{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":85291,"name":"New
        test rate table","created_at":"2016-12-12T11:52:19Z","updated_at":"2016-12-12T11:52:19Z","shared":true}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:52:19 GMT
recorded_with: VCR 3.0.3
