---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1397649600'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - "<https://www.bookingsync.com/api/v3/rates_tables?page=1>; rel=\"first\",
        <https://www.bookingsync.com/api/v3/rates_tables?page=1>; rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"81c25f6fbd988a2780b50a43dacd527c\""
    body:
      encoding: UTF-8
      string: "{\"links\":{\"rates_tables.seasons\":\"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}\",\"rates_tables.rates_rules\":\"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}\"},\"rates_tables\":[{\"links\":{\"seasons\":[1],\"rates_rules\":[]},\"id\":1,\"account_id\":2,\"name\":\"Rates
        Table 1\",\"created_at\":\"2014-04-14T13:18:38Z\",\"updated_at\":\"2014-04-14T13:18:39Z\"},{\"links\":{\"seasons\":[2],\"rates_rules\":[]},\"id\":3,\"account_id\":6,\"name\":\"Rates
        Table 3\",\"created_at\":\"2014-04-14T13:18:43Z\",\"updated_at\":\"2014-04-14T13:18:44Z\"},{\"links\":{\"seasons\":[3],\"rates_rules\":[]},\"id\":5,\"account_id\":10,\"name\":\"Rates
        Table 5\",\"created_at\":\"2014-04-14T13:18:48Z\",\"updated_at\":\"2014-04-14T13:18:50Z\"},{\"links\":{\"seasons\":[4],\"rates_rules\":[]},\"id\":7,\"account_id\":14,\"name\":\"Rates
 [...]
