---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates_tables
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:47 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '970'
      Link:
      - <https://www.bookingsync.com/api/v3/rates_tables?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates_tables?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '7'
      X-Per-Page:
      - '100'
      Etag:
      - W/"1e149e6c7fce1fd3f50fc12164abd60c"
    body:
      encoding: UTF-8
      string: '{"links":{"rates_tables.account":"https://www.bookingsync.com/api/v3/accounts/{rates_tables.account}","rates_tables.seasons":"https://www.bookingsync.com/api/v3/seasons/{rates_tables.seasons}","rates_tables.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{rates_tables.rates_rules}","rates_tables.periods":"https://www.bookingsync.com/api/v3/periods/{rates_tables.periods}","rates_tables.rentals":"https://www.bookingsync.com/api/v3/rentals/{rates_tables.rentals}"},"rates_tables":[{"links":{"account":3837,"seasons":[1806,1805,1803,1804,1802],"rates_rules":[22740,252,13777],"periods":[88197],"rentals":[5116,5117]},"id":274,"name":"Saturday","created_at":"2014-08-08T18:29:36Z","updated_at":"2016-12-09T14:22:36Z","shared":true},{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":5372,"name":"7778","created_at":"2015-02-18T21:33:15Z","updated_at":"2015-02-18T21:33:15Z","shared":false},{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":5675,"name":"test","created_at":"2015-03-11T14:44:45Z","updated_at":"2015-03-11T14:44:45Z","shared":false},{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[12216]},"id":14219,"name":"Unpublished
        rental","created_at":"2015-11-13T15:46:17Z","updated_at":"2015-11-13T15:46:17Z","shared":false},{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[13275]},"id":15542,"name":"Rental
        without destination","created_at":"2016-01-09T10:22:19Z","updated_at":"2016-01-09T10:22:19Z","shared":false},{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":82750,"name":"Updated
        Rental name","created_at":"2016-12-06T15:55:49Z","updated_at":"2016-12-06T15:55:49Z","shared":false},{"links":{"account":3837,"seasons":[],"rates_rules":[],"periods":[],"rentals":[]},"id":84098,"name":"Updated
        Rental name","created_at":"2016-12-09T10:31:54Z","updated_at":"2016-12-09T10:31:54Z","shared":false}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 11:32:47 GMT
recorded_with: VCR 3.0.3
