---
http_interactions:
- request:
    method: post
    uri: https://www.bookingsync.com/api/v3/seasons
    body:
      encoding: UTF-8
      string: '{"rates_table_id":13,"seasons":[{"name":"New season","ratio":0.2,"minimum_stay":4}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398427200'
      X-Ratelimit-Remaining:
      - '975'
      Location:
      - https://www.bookingsync.com/api/v3/seasons/24
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"e97fe3f72b721316ab186a11b341b2bf"'
    body:
      encoding: UTF-8
      string: '{"links":{"seasons.rates_rules":"https://www.bookingsync.com/api/v3/rates_rules/{seasons.rates_rules}","seasons.periods":"https://www.bookingsync.com/api/v3/periods/{seasons.periods}"},"seasons":[{"links":{"rates_rules":[],"periods":[]},"id":24,"rates_table_id":13,"name":"New
        season","ratio":"0.2","minimum_stay":4,"color_ratio":"1.0","created_at":"2014-04-25T11:41:19Z","updated_at":"2014-04-25T11:41:19Z"}]}'
  recorded_at: Fri, 25 Apr 2014 11:41:19 GMT
recorded_with: VCR 2.9.0
