---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/clients/259654
    body:
      encoding: UTF-8
      string: '{"clients":[{"fullname":"Knut Eljassen"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-08 16:39:19 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481216400'
      X-Ratelimit-Remaining:
      - '979'
      Etag:
      - W/"8327235d7f90af84639edcaa04192b4c"
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":259654,"addresses":[],"emails":[{"label":"default","email":"halldor@example.com"}],"phones":[],"created_at":"2016-12-08T16:38:51Z","updated_at":"2016-12-08T16:39:19Z","fullname":"Knut
        Eljassen","notes":null,"preferred_locale":null,"passport":null,"company":"","vat_number":""}],"meta":{}}'
  recorded_at: Thu, 08 Dec 2016 16:39:19 GMT
recorded_with: VCR 3.0.3
