---
http_interactions:
- request:
    method: put
    uri: https://www.bookingsync.com/api/v3/clients/260693
    body:
      encoding: UTF-8
      string: '{"clients":[{"fullname":"Knut Eljassen"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 12:04:31 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481547600'
      X-Ratelimit-Remaining:
      - '994'
      Etag:
      - W/"12d8b7cae6da7f812ebbb077b312a109"
    body:
      encoding: UTF-8
      string: '{"links":{"clients.account":"https://www.bookingsync.com/api/v3/accounts/{clients.account}"},"clients":[{"links":{"account":3837},"id":260693,"addresses":[],"emails":[{"label":"default","email":"halldor@example.com"}],"phones":[],"created_at":"2016-12-12T11:52:10Z","updated_at":"2016-12-12T12:04:31Z","fullname":"Knut
        Eljassen","notes":null,"preferred_locale":null,"passport":null,"company":"","vat_number":""}],"meta":{}}'
  recorded_at: Mon, 12 Dec 2016 12:04:31 GMT
recorded_with: VCR 3.0.3
