---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/rates
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-09 09:21:44 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481277600'
      X-Ratelimit-Remaining:
      - '997'
      Link:
      - <https://www.bookingsync.com/api/v3/rates?page=1>; rel="first", <https://www.bookingsync.com/api/v3/rates?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '2'
      X-Per-Page:
      - '100'
      Etag:
      - W/"eec428679e2b39c19cfcead209d4a700"
    body:
      encoding: UTF-8
      string: '{"links":{"rates.rental":"https://www.bookingsync.com/api/v3/rentals/{rates.rental}"},"rates":[{"links":{"rental":5116},"id":1124127,"currency":"USD","start_date":"2016-12-07","end_date":"2019-12-08","initial_nightly_rate":"10.0","initial_weekly_rate":"70.0","initial_monthly_rate":"300.0","final_nightly_rate":"10.0","final_weekly_rate":"70.0","final_monthly_rate":"300.0","minimum_stay":1,"created_at":"2016-12-08T18:23:28Z","updated_at":"2016-12-08T18:23:28Z"},{"links":{"rental":5117},"id":1127789,"currency":"EUR","start_date":"2016-12-08","end_date":"2017-01-16","initial_nightly_rate":"401.77","initial_weekly_rate":"2812.4","initial_monthly_rate":"12053.14","final_nightly_rate":"361.59","final_weekly_rate":"2531.16","final_monthly_rate":"10847.83","minimum_stay":2,"created_at":"2016-12-09T00:38:53Z","updated_at":"2016-12-09T00:38:53Z"}],"meta":{}}'
  recorded_at: Fri, 09 Dec 2016 09:21:44 GMT
recorded_with: VCR 3.0.3
