---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rentals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396900800'
      X-Ratelimit-Remaining:
      - '996'
      Link:
      - <https://bookingsync.dev/api/v3/rentals.json?page=1>; rel="first", <https://bookingsync.dev/api/v3/rentals.json?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"eff718a9480ea3d04ce173f75f34c635"'
    body:
      encoding: UTF-8
      string: '{"links":{"rentals.photos":"https://bookingsync.dev/api/v3/photos/{rentals.photos}"},"rentals":[{"links":{"photos":[1,3,20]},"account_id":1,"id":2,"name":"0
        est","headline":{"en":"Super Headline"},"summary":{"en":"Super summary"},"description":{"en":"Complete
        description"},"rental_type":"villa","units":1,"bedrooms":null,"sleeps":7,"sleeps_max":null,"bathrooms":3,"surface":120,"bookable_online":false,"min_price":700,"max_price":700,"price_kind":"weekly","currency":"EUR","rates_public_notes":{"en":null},"lat":45.02,"lng":6.6,"city":"Nevache","state":null,"country":"France","contact_name":"Contact
        Fullname","amenities":[],"reviews_count":0,"reviews_average_rating":null,"updated_at":"2014-04-07T14:36:11Z"},{"links":{"photos":[2]},"account_id":1,"id":4,"name":"1
        et","headline":{"en":"Super Headline"},"summary":{"en":"Super summary"},"description":{"en":"Complete
        description"},"rental_type":"villa","units":1,"bedrooms":null,"sleeps":7,"sleeps_max":null,"bathrooms":3,"surface":120,"bookable_online":false,"min_price":700,"max_price":700,"price_kind":"weekly","currency":"EUR","rates_public_notes":{"en":null},"lat":45.02,"lng":6.6,"city":"Nevache","state":null,"co[...]
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/photos/1,3,20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396900800'
      X-Ratelimit-Remaining:
      - '995'
      Link:
      - <https://bookingsync.dev/api/v3/photos/1,3,20.json?page=1>; rel="first", <https://bookingsync.dev/api/v3/photos/1,3,20.json?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - '"f0b8bd76067266289563618fdf89e421"'
    body:
      encoding: UTF-8
      string: '{"photos":[{"id":1,"description":{"en":null},"kind":null,"large_url":"http://bookingsync.dev/files/development/photo/photo/1/large_74bb15ca0b2008ab7237c807ef77a1ed.jpg","normal_url":"http://bookingsync.dev/files/development/photo/photo/1/normal_74bb15ca0b2008ab7237c807ef77a1ed.jpg","thumb_url":"http://bookingsync.dev/files/development/photo/photo/1/thumb_74bb15ca0b2008ab7237c807ef77a1ed.jpg","micro_url":"http://bookingsync.dev/files/development/photo/photo/1/micro_74bb15ca0b2008ab7237c807ef77a1ed.jpg","position":1},{"id":3,"description":{"en":null},"kind":null,"large_url":"http://bookingsync.dev/files/development/photo/photo/3/large_7a2d73719aeef0d0495bd821e3bc5a83.jpg","normal_url":"http://bookingsync.dev/files/development/photo/photo/3/normal_7a2d73719aeef0d0495bd821e3bc5a83.jpg","thumb_url":"http://bookingsync.dev/files/development/photo/photo/3/thumb_7a2d73719aeef0d0495bd821e3bc5a83.jpg","micro_url":"http://bookingsync.dev/files/development/photo/photo/3/micro_7a2d73719aeef0d0495bd821e3bc5a83.jpg","position":1},{"id":20,"description":{"en":null},"kind":null,"large_url":"http://bookingsync.dev/files/development/photo/photo/20/large_4db2ca4f3f26eef3a567c4dfd2e3c6eb.jpg","normal_url":"http://bookingsync.dev/files/development/photo/photo/20/normal_4db2ca4f3f26eef3a567c4dfd2e3c6eb.jpg","thumb_url":"http://bookingsync.dev/files/development/photo/photo/20/thumb_4db2ca4f3f26eef3a567c4dfd2e3c6eb.jpg","micro_url":"http://bookingsync.dev/files/development/photo/photo/20/micro_4db2ca4f3f26eef3a567c4dfd2e3c6eb.jpg","position":1}]}'
  recorded_at: Mon, 07 Apr 2014 19:55:00 GMT
recorded_with: VCR 2.9.0
