---
http_interactions:
- request:
    method: get
    uri: https://bookingsync.dev/api/v3/rentals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1396360800'
      X-Ratelimit-Remaining:
      - '990'
      Link:
      - "<https://bookingsync.dev/api/v3/rentals.json?page=1>; rel=\"first\", <https://bookingsync.dev/api/v3/rentals.json?page=1>;
        rel=\"last\""
      X-Total-Pages:
      - '1'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"7f1e07a2278f1a24b058059d96ef7da2\""
    body:
      encoding: UTF-8
      string: "{\"links\":{\"rentals.photos\":\"https://bookingsync.dev/en/api/v3/photos/{rentals.photos}\"},\"rentals\":[{\"links\":{\"photos\":[20]},\"account_id\":1,\"id\":2,\"name\":\"0
        est\",\"headline\":{\"en\":\"Super Headline\"},\"summary\":{\"en\":\"Super
        summary\"},\"description\":{\"en\":\"Complete description\"},\"rental_type\":\"villa\",\"units\":1,\"bedrooms\":null,\"sleeps\":7,\"sleeps_max\":null,\"bathrooms\":3,\"surface\":120,\"bookable_online\":false,\"min_price\":700,\"max_price\":700,\"price_kind\":\"weekly\",\"currency\":\"EUR\",\"rates_public_notes\":{\"en\":null},\"lat\":45.02,\"lng\":6.6,\"city\":\"Nevache\",\"state\":null,\"country\":\"France\",\"contact_name\":\"Contact
        Fullname\",\"amenities\":[],\"reviews_count\":0,\"reviews_average_rating\":null,\"updated_at\":\"2014-03-26T14:14:18Z\"},{\"links\":{\"photos\":[2]},\"account_id\":1,\"id\":4,\"name\":\"1
        et\",\"headline\":{\"en\":\"Super Headline\"},\"summary\":{\"en\":\"Super
        summary\"},\"description\":{\"en\":\"Complete description\"},\"rental_type\":\"villa\",\"units\":1,\"bedrooms\":null,\"sleeps\":7,\"sleeps_max\":null,\"bathrooms\":3,\"surface\":120,\"bookable_online\":false,\"min_price\":700,\"max_price\":700,\"price_kind\":\"weekly\",\"currency\":\"EUR\",\"rates_public_notes\":{\"[...]
