---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/applications_periods_rentals/2
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4f16e1fadf19018a8e568c8eccace925"
      Link:
      - <https://www.bookingsync.com/api/v3/applications_periods_rentals/2?page=1>; rel="first",
        <https://www.bookingsync.com/api/v3/applications_periods_rentals/2?page=1>; rel="last"
      X-Current-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1549980000'
      X-Total-Count:
      - '1'
      X-Total-Pages:
      - '1'
      X-Updated-Since-Request-Synced-At:
      - 2019-02-12 13:17:09 UTC
    body:
      encoding: UTF-8
      string: '{"applications_periods_rentals":[{"id":2,"price_increase":"15.0","start_date":"2019-01-01","end_date":"2100-01-01"}],"meta":{"Link":{"first":"https://www.bookingsync.com/api/v3/applications_periods_rentals/2?page=1","last":"https://www.bookingsync.com/api/v3/applications_periods_rentals/2?page=1"},"X-Total-Pages":"1","X-Total-Count":"1","X-Per-Page":"100"}}'
  recorded_at: Tue, 12 Feb 2019 13:17:09 GMT
recorded_with: VCR 4.0.0
