---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/payments
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Updated-Since-Request-Synced-At:
      - 2016-12-12 11:32:44 UTC
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1481544000'
      X-Ratelimit-Remaining:
      - '976'
      Link:
      - <https://www.bookingsync.com/api/v3/payments?page=1>; rel="first", <https://www.bookingsync.com/api/v3/payments?page=1>;
        rel="last"
      X-Total-Pages:
      - '1'
      X-Total-Count:
      - '5'
      X-Per-Page:
      - '100'
      Etag:
      - W/"681ac84816ed98f0610f62bb5f0d7042"
    body:
      encoding: UTF-8
      string: '{"links":{"payments.account":"https://www.bookingsync.com/api/v3/accounts/{payments.account}","payments.payment_gateway":"https://www.bookingsync.com/api/v3/payment_gateways/{payments.payment_gateway}","payments.bookings":"https://www.bookingsync.com/api/v3/bookings/{payments.bookings}","payments.bookings_payments":"https://www.bookingsync.com/api/v3/bookings_payments/{payments.bookings_payments}"},"payments":[{"links":{"account":3837,"payment_gateway":766,"bookings":[142616],"bookings_payments":[71982]},"id":71959,"transaction_id":null,"order_id":null,"card":null,"amount_in_cents":100000,"currency":"EUR","kind":"online","fullname":"aa","email":"aa@test.com","address1":null,"address2":null,"zip":null,"city":null,"state":null,"country_code":null,"locale":null,"ip":null,"test":false,"notes":"","paid_at":"2015-09-09T00:00:00Z","created_at":"2015-09-09T19:58:06Z","updated_at":"2015-09-09T19:58:06Z","rejected_at":null,"canceled_at":null,"description":""},{"links":{"account":3837,"payment_gateway":null,"bookings":[817604],"bookings_payments":[268045]},"id":268012,"transaction_id":null,"order_id":null,"card":null,"amount_in_cents":200,"currency":"EUR","kind":"cheque","fullname":"John
        Smith","email":"smith@example.com","address1":null,"address2":null,"zip":null,"city":null,"state":null,"country_code":null,"locale":null,"ip":null,"test":false,"notes":null,"paid_at":"2016-12-06T11:34:05Z","created_at":"2016-12-06T13:55:10Z","updated_at":"[...]
