---
http_interactions:
- request:
    method: get
    uri: https://www.bookingsync.com/api/v3/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1398171600'
      X-Ratelimit-Remaining:
      - '999'
      Link:
      - "<https://www.bookingsync.com/api/v3/payments?page=1>; rel=\"first\", <https://www.bookingsync.com/api/v3/payments?page=2>;
        rel=\"next\", <https://www.bookingsync.com/api/v3/payments?page=3>; rel=\"last\""
      X-Total-Pages:
      - '3'
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - "\"e596806dc3f0c3f91d4aea5c73d91ea2\""
    body:
      encoding: UTF-8
      string: "{\"links\":{\"payments.billing_address\":\"https://www.bookingsync.com/api/v3/billing_addresses/{payments.billing_address}\",\"payments.bookings\":\"https://www.bookingsync.com/api/v3/bookings/{payments.bookings}\",\"payments.bookings_payments\":\"https://www.bookingsync.com/api/v3/bookings_payments/{payments.bookings_payments}\"},\"payments\":[{\"links\":{\"billing_address\":null,\"bookings\":[2],\"bookings_payments\":[1]},\"id\":1,\"account_id\":1,\"transaction_id\":null,\"order_id\":null,\"card\":null,\"amount\":33000,\"currency\":\"GBP\",\"kind\":\"cash\",\"fullname\":null,\"email\":null,\"locale\":null,\"ip\":null,\"test\":null,\"notes\":null,\"paid_at\":\"2014-02-21T13:18:42Z\",\"created_at\":\"2014-04-14T13:18:42Z\",\"updated_at\":\"2014-04-14T13:18:42Z\",\"rejected_at\":null,\"canceled_at\":null},{\"links\":{\"billing_address\":null,\"bookings\":[5],\"bookings_payments\":[2]},\"id\":2,\"account_id\":1,\"transaction_id\":null,\"order_id\":null,\"card\":null,\"amount\":125200,\"currency\":\"EUR\",\"kind\":\"cash\",\"fullname\":null,\"email\":null,\"locale\":null,\"ip\":null,\"test\":null,\"notes\":null,\"paid_at\":\"2014-04-07T13:18:42Z\",\"created_at\":\"2014-04-14T13:18:42Z\",\"updated_at\":\"2014-04-22T11:23:32Z\",\"rejected_at\":null,\"canceled_at\":null},{\"links\":{\"billing_ad[...]
